<!-- Message Theme -->
<div class="app-mailbox page-aside-left">
  <div class="">
    <div class="page-header">
      <h1 class="page-title">{{menuTitle['Messages']}}</h1>
      <div class="page-header-actions">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:;" ng-click="go('/')">{{menuTitle['Home']}}</a></li>
          <li class="breadcrumb-item active">{{menuTitle['Inbox']}}</li>
          <li class="breadcrumb-item active">{{menuTitle['Messages']}}</li>
        </ol>
      </div>
    </div>
    <!-- Mailbox Content -->
    <div class="page-content">
     <div class="panel">
      <!-- Mailbox Content -->
      <div class="panel-content">
        <div id="mailContent" class="page-content page-content-table" data-plugin="selectable">
          <!-- Mailbox -->
          <div class="">
              <table ng-if="chat.length" id="mailboxTable" class="table" data-plugin="animateList" data-animate="fade" data-child="tr">
                <tbody>
                  <tr ng-repeat="friend in chat track by $index " id="mid_{{$index}}"  ng-click="writeToUser(friend.reception);">
                      <td ng-click="$event.stopPropagation();" class="cell-30">
                         <!-- <span class="checkbox-custom checkbox-primary checkbox-lg">
                         <input type="checkbox" class="mailbox-checkbox selectable-item" id="mail_mid_{{$index}}">
                         <label for="mail_mid_{{$index}}"></label></span> -->
                      </td>
                      <!-- <td ng-click="$event.stopPropagation();" class="cell-30 responsive-hide">
                         <span class="checkbox-important checkbox-default"><input type="checkbox" class="mailbox-checkbox mailbox-important" id="mail_mid_{{$index}}_important"><label for="mail_mid_{{$index}}_important"></label></span> -->
                      </td>
                      <td class="cell-60">
                          <a class="avatar" href="javascript:void(0)">
                              <span class="message_avatar" style="background-image:url({{getImageUrl(friend.user.logo)}});"></span>
                          </a>
                      </td>
                      <td>
                         <div class="content">
                           <div class="title">{{friend.user.first_name}} {{friend.user.last_name}}</div>
                           <div class="abstract">{{ friend.message.body | limitTo: 200 }}{{friend.message.body > 200 ? '...' : ''}}</div>
                         </div>
                      </td>
                      <td>
                         <div class="content">
                           <div class="title">Appointment #{{friend.reception.id}}</div>
                           <div class="abstract">{{dateToFormat(friend.reception.start_date,'date')}}</div>
                           <div class="abstract">Start at : {{dateToFormat(friend.reception.start_date,'time')}}</div>
                         </div>
                      </td>
                      <td class="cell-30 responsive-hide"></td>
                      <td class="cell-130">
                        <div class="time">{{timeFromNow(friend.message.updated_at)}}</div>
                        <div ng-show="false" class="identity"><i class="wb-medium-point red-600" aria-hidden="true"></i>Work</div>
                      </td>
                  </tr>
                </tbody>
              </table>
          </div>
          <!-- pagination -->
          <!-- <ul data-plugin="paginator" data-total="50" data-skin="pagination-gap"></ul> -->
        </div>
      </div>
      
    </div>
  </div>
</div>
<!-- Panel -->
<div ng-include='templates.panel'></div>
   <!-- Modal Window -->
<div ng-include="templates.modal"></div>