<div class="">
          <div class="modal-header">
            <h1>{{button_title}} Staffmembers</h1>
          </div>

  <div class="modal-body">
    <div class="form_error" ng-if="errorMessage">{{errorMessage}}</div>
    <form name="registerForm">  
              <div class="login_error" ng-if="errorMessage">{{errorMessage}}</div>
              <div class="success" ng-if="successMessage">{{successMessage}}</div>
              <div class="item">
                <span class="input_label">First Name</span>
                <input type="text" class="form-control" name="first_name" ng-model="staff.first_name"/>
                <span class="form_error" ng-show="staff.first_name.length < 2">Must contain more than one letter.</span>
                <span class="form_error" ng-show="errors.first_name">{{errors.first_name}}</span>
              </div>

              <div class="item">
                <span class="input_label">Last Name</span>
                <input type="text" class="form-control" name="last_name" ng-model="staff.last_name"/>
                <span class="form_error" ng-show="staff.last_name.length < 2">Must contain more than one letter.</span>
                <span class="form_error" ng-show="errors.last_name">{{errors.last_name}}</span>
              </div>

              <div class="item" ng-if="button_title == 'Update'">
                <span class="input_label">Is Activate</span>
                <div class="checkbox_input">
                   <input type="checkbox" ng-checked="staff_active_status" ng-model="staff.is_active" ng-click="ChangeStaffStatus(staff_active_status)">
                </div>
              </div>

              <div class="item" ng-if="button_title == 'Add'">
                <span class="input_label">Email</span>
                <input type="email" class="form-control" name="email" ng-model="staff.email"/>
                <span class="form_error" ng-show="registerForm.email.$error.email">Please input a valid email.</span>
                <span class="form_error" ng-show="errors.email">{{errors.email[0]}}</span>
              </div>

<!--               <div class="overflow_hidden">
                <button ng-class="{'error': staff.first_name.length < 2 || staff.last_name.length < 2 || registerForm.email.$error.email || !staff.first_name  || !staff.last_name || !staff.email}" ng-click="RegisterStaff(staff)" class="btn btn-primary" style="margin-top: 15px;">Register</button>
              </div> -->

      </form>  

  </div>

            <div class="modal-footer">
              <button class="btn btn-warning" ng-click="cancel()">Cancel</button >
              <button class="btn btn-primary" ng-class="{'error': staff.first_name.length < 2 || staff.last_name.length < 2 || registerForm.email.$error.email || !staff.first_name  || !staff.last_name || !staff.email}"" ng-click="ok(staff)">{{button_title}}</button >
            </div>
</div>