<div  class="" style="margin-bottom:15px;padding-top: 30px;">
        <div class="error_message" ng-if= "errors.key">
                <span class="icon"></span>{{errors.key}}
        </div>
        <div class="error_message" ng-if= "errors.brand">
                <span class="icon"></span>Check your card type and card number
        </div>
        <div class="error_message" ng-if= "errors.number">
                <span class="icon"></span>Check your card number
        </div>
        <div class="error_message" ng-if= "errors.year">
                <span class="icon"></span>Incorect card year
        </div>
        <div class="error_message" ng-if= "errors.month">
                <span class="icon"></span>Incorect card month
        </div>
        <div class="error_message" ng-if= "errors.verification_value">
                <span class="icon"></span>Incorect CVC code
        </div>
        <div class="error_message" ng-if= "errors.stripe">
                <span class="icon"></span>{{errors.stripe}}
        </div>
        <div class="error_message" ng-if="errors.smth_went_wrong">
           <span class="icon"></span>{{errors.smth_went_wrong}}
        </div>

        <div class="container">
            <button ng-click="closeModal()" class="btn-close">x</button>
            <div class='row'>
              <div class='col-md-12'>
                <form name="chargeForm">
                  <div class='form-row' ng-if="cards.length">
                    <div class='col-xs-12 form-group required'>
                      <label class="control-label">Choose from your cards</span>
                      <select class="form-control" style="width: 161px;" ng-model="selectedCard" ng-change="chooseCard(selectedCard)">
                        <option ng-repeat="card in cards" ng-value="card">{{card.number}}</option>
                      </select>
                    </div>
                  </div>
                  <div class='form-row'>
                    <div class='col-xs-4 form-group required'>
                      <label ng-init="changeCardType(0)" class="control-label">Card Type</label>
                      <select class="form-control" ng-model="card.card_type" ng-change="chooseCardType(card.card_type)">
                        <option ng-repeat="card in select.cards" ng-value="card.value">{{card.title}}</option>
                      </select>
                    </div>
                  </div>
                  <div class='form-row'>
                    <div class='col-xs-12 form-group required'>
                      <label class='control-label'>Card Number</label>
                      <input class="form-control card-number" ng-model="card.number" type="text"/>
                    </div>
                  </div>
                  <div class='form-row'>
                    <div class='col-xs-4 form-group cvc required'>
                      <label class='control-label'>CVC</label>
                      <input class="form-control card-cvc" placeholder='ex. 311' size='4' ng-model="card.cvc" type="text"/>
                    </div>
                    <div class='col-xs-4 form-group expiration required'>
                      <label class='control-label'>Expiration</label>
                      <select class="form-control" ng-model="card.card_month" ng-change="changeCardMonth(card.card_month)">
                        <option ng-repeat="card in select.card_month" ng-value="card.value">{{card.title}}</option>
                      </select>
                    </div>
                    <div class='col-xs-4 form-group expiration required'>
                      <label class='control-label'> </label>
                      <input class="form-control card-expiry-year" placeholder='YYYY' size='4' type='text' ng-model="card.year" type="number"/>
                    </div>
                  </div>
                  <div ng-if="activeCardPayment == 'twocheckout'">
                    <div class='form-row'>
                      <div class='col-md-12 form-group'>
                          <label class='control-label'>Name</label>
                        <input class='form-control' ng-model="card.billing_address.name" placeholder='Name' type='text' required>
                      </div>
                    </div>
                    <div class='form-row'>
                      <div class='col-md-12 form-group'>
                          <label class='control-label'>Address line 1</label>
                        <input class='form-control' ng-model="card.billing_address.addressLine1" placeholder='Address Line 1' type='text' required>
                      </div>
                    </div>
                    <div class='form-row'>
                      <div class='col-md-12 form-group'>
                          <label class='control-label'>City</label>
                        <input class='form-control' ng-model="card.billing_address.city" placeholder='City' type='text' required>
                      </div>
                    </div>
                    <div class='form-row'>
                      <div class='col-md-12 form-group'>
                          <label class='control-label'>State</label>
                        <input class='form-control' ng-model="card.billing_address.state" placeholder='State' type='text' required>
                      </div>
                    </div>
                    <div class='form-row'>
                      <div class='col-md-12 form-group'>
                          <label class='control-label'>Zip Code</label>
                        <input class='form-control' ng-model="card.billing_address.zipCode" placeholder='Zip Code' type='text' required>
                      </div>
                    </div>
                    <div class='form-row'>
                      <div class='col-md-12 form-group'>
                          <label class='control-label'>Country</label>
                        <input class='form-control' ng-model="card.billing_address.country" placeholder='Country' type='text' required>
                      </div>
                    </div>
                    <div class='form-row'>
                      <div class='col-md-12 form-group'>
                          <label class='control-label'>Email</label>
                        <input class='form-control' ng-model="card.billing_address.email" placeholder='Email' type='text' required>
                      </div>
                    </div>
                    <div class='form-row'>
                      <div class='col-md-12 form-group'>
                          <label class='control-label'>Phone</label>
                        <input class='form-control' ng-model="card.billing_address.phone" placeholder='Phone' type='text' required>
                      </div>
                    </div>
                  </div>
                  <div class='form-row'>
                    <div class='col-md-12 form-group'>
                      <button class='form-control btn btn-primary' ng-click="pay(card)">Pay (${{card.amount/100 | number:2 }}) »</button>
                    </div>
                  </div>
                </form>
                <div class='form-row'>
                  <div class='col-md-12 form-group'>
                    <div class="or">or</div>
                    <button class='form-control btn btn-primary' ng-click="payByPaypal(card)">Pay by Paypal</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
</div> 
