<div style="padding:15px 0;">
<button  ng-click="openModal(templates.addCard)" class="btn btn-primary" style="margin-bottom:15px;">Add new</button>
<div class="">
   <table ng-if="cards[0]" class="table table-bordered">

    <thead>
      <tr>
        <th>Id</th>
        <th>Card Type</th>
        <th>Card Number</th>
        <th>Year</th>
        <th>Month</th>
        <th>CVC Code</th>
        <th>Options</th>
      </tr>
    </thead>

    <tbody>
      <tr class="cursor-pointer" ng-repeat="card in cards track by $index">
        <td><span class="visible-xs header">ID: </span>{{card.id}}</td>  
        <td><span class="visible-xs header">Card Type: </span>{{card.card_type}}</td> 
        <td><span class="visible-xs header">Card Number: </span>{{card.number}}</td> 
        <td><span class="visible-xs header">Expiration year: </span>{{card.year}}</td> 
        <td><span class="visible-xs header">Expiration Month: </span>{{card.month}}</td> 
        <td><span class="visible-xs header">CVC Code: </span>{{card.cvc}}</td>  
        <td>
          <button ng-click="deleteUserCard(card.id)" class="btn-theme btn btn-primary">Delete</button>
        </td>
      </tr>
    </tbody>

  </table> 
  <div ng-if="!cards[0]"><span>You have not any added credit card yet</span></div> 
 </div>
</div>