<div ng-controller="CalendarCtrl as vm">
  <div ng-if="viewEvents" class="break_calendar">
    <div class="calendar" ng-model="$parent.break_events" calendar="breaks" id="breaks" ui-calendar="uiConfig.breakCalendar" calendar-watch-event="extraEventSignature(event)"></div>
  </div>
</div>
