<div ng-controller="CalendarCtrl as vm">
  <div>
  <h3>Choose date</h3>
       <p  class="input-group" style="max-width: 250px">
        <input 
          type="text"
          class="form-control"
          readonly
          uib-datepicker-popup="dd MMMM yyyy"
          ng-model="recption_data.data"
          ng-change="changeCopyReception(reception,false)"
          is-open="recption_data.is_open"
          close-text="Close">
        <span class="input-group-btn">
          <button
            type="button"
            class="btn btn-default"
            ng-click="vm.toggle($event, 'is_open', recption_data)">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
      </p>  
  </div>
        <div class="error_message" ng-if= "errors.past_time">
                <span class="icon"></span><span ng-click="closeError('past_time')" class="w_close"></span>You have chosen time in the past
        </div>
  <div>
      <table ng-if="new_event.user_id" class="table table-bordered">
          <thead>
            <tr>
              <th>Message</th>
              <th>{{new_event.doctor.profession ? new_event.doctor.profession.title : 'Doctor'}}</th>
              <th>Date</th>
              <th>Free Zones</th>
              <th>Status</th>
              <th>Remove</th>
            </tr>
          </thead>
      <tbody>
        <tr>
          <td>
            <textarea class="form-control" ng-model="new_event.message_body"></textarea>
          </td>
          <td>
            <div class="" style="background-image:url({{getImageUrl(new_event.doctor.logo)}});width:50px;height:50px;background-size: cover;background-position: top center;"></div>
            <div>
                 <span class="">{{new_event.doctor.first_name}}</span>
                 <span class="">{{new_event.doctor.last_name}}</span>
            </div>
          </td>
          <td>
            {{recption_data.data}}
          </td>
          <td style="text-align: center; min-width: 300px;">
            <div>
                <div ng-if="new_event.break_zones.breaks[0]">
                <span>Breaks:</span>
                    <span ng-repeat="staff_break_zone in new_event.break_zones.breaks track by $index">
                      {{daySecondToHours(staff_break_zone.start_time)}}-{{daySecondToHours(staff_break_zone.end_time)}}
                    </span>
                </div>
                
                <div ng-if="new_event.break_zones.receptions[0]">
                <span>Approved appointments:</span>
                    <span  ng-repeat="receptions in new_event.break_zones.receptions track by $index">
                      {{daySecondToHours(receptions.start_time)}}-{{daySecondToHours(receptions.end_time)}}
                    </span>
                </div>

                <div ng-if= "errors.break_period">Please choose other time period becouse you touch {{daySecondToHours(break_period.start_time)}}-{{daySecondToHours(break_period.end_time)}} period</div>
                <div ng-if= "errors.approved_reception_period">Please choose other time period becouse you touch {{daySecondToHours(break_period.start_time)}}-{{daySecondToHours(break_period.end_time)}} period selected by another user</div>
            </div>

               <div ng-if="free_zone">
                    <div>Current time:{{dateToFormat(new_event.start_date,'time')}}-{{dateToFormat(new_event.end_date,'time')}}</div>
                      <div >
                        <div style="display: inline-block;">
                          <div
                            uib-timepicker
                            ng-model="free_zone.choose_start_time"
                            ng-change="chooseReceptionDate('start_date',free_zone.choose_start_time)"
                            hour-step="1"
                            minute-step="5"
                            show-meridian="false"
                            min = "min"
                            max = "free_zone.choose_end_time"
                            >
                            <!-- min = "free_zone.start_time" -->
                          </div>
                        </div>
                        <div style="display: inline-block;"> - </div>
                        <div style="display: inline-block;">
                          <div
                            uib-timepicker
                            ng-model="free_zone.choose_end_time"
                            ng-change="chooseReceptionDate('end_date',free_zone.choose_end_time)"
                            hour-step="1"
                            minute-step="5"
                            show-meridian="false"
                            min = "free_zone.choose_start_time"
                            max = "max"
                            >
                          </div>
                        </div>
                      </div>
                  </div>
          </td>
          <td>
            <span class="">{{viewStatus(new_event.status,'title')}}</span>
          </td>
          <td>  
            <button
              class="btn btn-copy"
              ng-click="changePage('my_receptions')">
              Cancel
            </button>
            <button
              class="btn-theme btn btn-primary btn-copy"
              ng-click="addReception(new_event)">
              Save
            </button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>
</div> 