<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h4 class="modal-title">Twiddla Account Credentials</h4>
</div>
<div class="modal-body">
  <div class="error" ng-if="errorCreds">Username or Password is incorrect!</div>
  <form id="myForm" ng-submit="addWhiteBoard()">
      <div class="form-group">
        <label for="username" class="control-label">User Name</label>
        <input type="text" name="username" class="form-control" id="username" ng-model="twiddla.username">
      </div>
      <div class="form-group">
        <label for="password" class="control-label">Password</label>
        <input type="password" name="password" class="form-control" id="password" ng-model="twiddla.password"> 
      </div>
      <div class="form-group">
        <label for="meetingtitle" class="control-label">Meeting Title</label>
        <input type="text" name="meetingtitle" class="form-control" id="meetingtitle" ng-model="twiddla.meetingtitle">
      </div>
      <button type="submit" class="btn btn-default">  
        Start
      </button>
  </form>
</div>
<div class="modal-footer">
    
</div>