  <div class="page">
    <div class="page-header mt-30">
      <h1 class="page-title font-size-26">{{$parent.menuTitle['Home']}}</h1>
    </div>
    <div  class="page-content container-fluid">
      <!-- First Row -->
      <div ng-if="user_type == 'superadmin'" class="row">
        <div class="col-xl-3 col-md-6 info-panel">
          <div class="card card-shadow">
            <div class="card-block bg-white p-20">
              <button type="button" class="btn btn-floating btn-sm btn-warning">
                <i class="icon wb-users"></i>
              </button>
              <span class="ml-15 font-weight-400">Companies</span>
              <div class="content-text text-center mb-0">
               <!--  <i class="text-success icon wb-triangle-up font-size-20">
              </i> -->
                <span class="font-size-40 font-weight-100">{{statistic.companies_count}}</span>
                <!-- <p class="blue-grey-400 font-weight-100 m-0">+45% From previous month</p> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 info-panel">
          <div class="card card-shadow">
            <div class="card-block bg-white p-20">
              <button type="button" class="btn btn-floating btn-sm btn-info">
                <i class="icon wb-shopping-cart"></i>
              </button>
              <span class="ml-15 font-weight-400">Income</span>
              <div class="content-text text-center mb-0">
                <!-- <i class="text-success icon wb-triangle-up font-size-20">
              </i> -->
                <span class="font-size-40 font-weight-100">${{(statistic.income / 100) || 0}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="user_type == 'superadmin'" class="row">
        <div class="col-xl-4 col-md-4 info-panel">
          <div class="card card-shadow">
            <div class="card-block bg-white p-20">
              <button type="button" class="btn btn-floating btn-sm btn-success">
                <i class="icon glyphicon glyphicon-plus"></i>
              </button>
              <span class="ml-15 font-weight-400">New Companies</span>
              <div class="content-text text-center mb-0">
               <!--  <i class="text-success icon wb-triangle-up font-size-20">
              </i> -->
                <span class="font-size-40 font-weight-100">{{statistic.companies_new}}</span>
                <!-- <p class="blue-grey-400 font-weight-100 m-0">+45% From previous month</p> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 info-panel">
          <div class="card card-shadow">
            <div class="card-block bg-white p-20">
              <button type="button" class="btn btn-floating btn-sm btn-danger">
                <i class="icon glyphicon glyphicon-remove"></i>
              </button>
              <span class="ml-15 font-weight-400">Rejected Companies</span>
              <div class="content-text text-center mb-0">
                <!-- <i class="text-success icon wb-triangle-up font-size-20">
              </i> -->
                <span class="font-size-40 font-weight-100">{{statistic.companies_rejected}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 info-panel">
          <div class="card card-shadow">
            <div class="card-block bg-white p-20">
              <button type="button" class="btn btn-floating btn-sm btn-primary">
                <i class="icon glyphicon glyphicon-ok"></i>
              </button>
              <span class="ml-15 font-weight-400">Approve Companies</span>
              <div class="content-text text-center mb-0">
                <!-- <i class="text-success icon wb-triangle-up font-size-20">
              </i> -->
                <span class="font-size-40 font-weight-100">{{statistic.companies_approve}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="user_type == 'admin'" class="row">
        <div class="col-xl-3 col-md-6 info-panel">
          <div class="card card-shadow">
            <div class="card-block bg-white p-20">
              <button type="button" class="btn btn-floating btn-sm btn-warning">
                <i class="icon wb-users"></i>
              </button>
              <span class="ml-15 font-weight-400">{{$parent.menuTitle['Staff Members']}}</span>
              <div class="content-text text-center mb-0">
                <span class="font-size-40 font-weight-100">{{statistic.count_staff}}</span>
                <!-- <p class="blue-grey-400 font-weight-100 m-0">+45% From previous month</p> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 info-panel">
          <div class="card card-shadow">
            <div class="card-block bg-white p-20">
              <button type="button" class="btn btn-floating btn-sm btn-danger">
                <i class="icon wb-table"></i>
              </button>
              <span class="ml-15 font-weight-400">{{$parent.menuTitle['Users']}}</span>
              <div class="content-text text-center mb-0">
                <span class="font-size-40 font-weight-100">{{statistic.count_clients}}</span>
                <!-- <p class="blue-grey-400 font-weight-100 m-0">+45% From previous month</p> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 info-panel">
          <div class="card card-shadow">
            <div class="card-block bg-white p-20">
              <button type="button" class="btn btn-floating btn-sm btn-success">
                <i class="icon wb-eye"></i>
              </button>
              <span class="ml-15 font-weight-400">{{$parent.menuTitle['Appointments']}}</span>
              <div class="content-text text-center mb-0">
                <span class="font-size-40 font-weight-100">{{statistic.reception_count}}</span>
                <!-- <p class="blue-grey-400 font-weight-100 m-0">+25% From previous month</p> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 info-panel">
          <div class="card card-shadow">
            <div class="card-block bg-white p-20">
              <button type="button" class="btn btn-floating btn-sm btn-primary">
                <i class="icon wb-shopping-cart"></i>
              </button>
              <span class="ml-15 font-weight-400">Income</span>
              <div class="content-text text-center mb-0">
                <span class="font-size-40 font-weight-100">${{(statistic.payments_sum / 100) || 0}}</span>
                <!-- <p class="blue-grey-400 font-weight-100 m-0">+25% From previous month</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="user_type == 'staffmember'" class="row">
        <div ng-repeat="(key,value) in statistic.statuses" class="col-xl-3 col-md-4 info-panel">
          <div class="card card-shadow">
            <div class="card-block bg-white p-20">
              <button type="button" style="background-color: {{value.color}}" class="btn btn-floating btn-sm btn-warning">
                <i class="icon wb-info"></i>
              </button>
              <span class="ml-15 font-weight-400">{{key}}</span>
              <div class="content-text text-center mb-0">
                <span class="font-size-40 font-weight-100">{{value.count}}</span>
                <!-- <p class="blue-grey-400 font-weight-100 m-0">+45% From previous month</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- End First Row -->
      <!-- second Row -->
      <div class="col-12" id="ecommerceChartView">
        <div class="card card-shadow">
          <div class="card-header bg-white card-header-transparent py-20">
            <h5 ng-if="user_type != 'superadmin'" class="text-body ml-25 disp-inline-block blue-grey-700">{{$parent.menuTitle['Appointments']}}</h5>
            <h5 ng-if="user_type == 'superadmin'" class="text-body ml-25 disp-inline-block blue-grey-700">Income</h5>
            
            
            <ul class="nav nav-pills nav-pills-rounded chart-action">
              <li class="nav-item" ng-if="user_type != 'superadmin'" ng-class="{ 'active': scoreDate }"><a class="active nav-link" data-toggle="tab" href="javascript:void(0)" data-href="#scoreDate" ng-click="tabClick($event)">Date</a></li>
              <li class="nav-item" ng-if="user_type != 'superadmin'" ng-class="{ 'active': !scoreDate }"><a class="nav-link" data-toggle="tab" href="javascript:void(0)" data-href="#scoreStatus" ng-click="tabClick($event)">Status</a></li>
              <li class="nav-item active" ng-if="user_type == 'superadmin'"><a class="active nav-link" data-toggle="tab" href="javascript:void(0)" data-href="#scoreIncomeChart" ng-click="tabClick($event)">Date</a></li>
            </ul>
          </div>
          <div class="widget-content tab-content bg-white p-20">
            <div id="chart-date-picker" class="input-daterange" data-plugin="datepicker">
              <div class="input-group">
                <span class="input-group-addon">From</span>
                <input type="text" class="form-control" name="start" value="{{defaultStartDate}}">
              </div>
              <div class="input-group">
                <span class="input-group-addon">To</span>
                <input type="text" class="form-control" name="end" value="{{defaultEndDate}}">
              </div>
            </div>
            <div ng-show="showCharts" ng-if="user_type != 'superadmin'" class="ct-chart tab-pane" ng-class="{ 'active': scoreDate }" id="scoreDate"></div>
            <div ng-show="showCharts" ng-if="user_type != 'superadmin'" class="ct-chart tab-pane" ng-class="{ 'active': !scoreDate }" id="scoreStatus"></div>
            <div ng-show="showCharts" ng-if="user_type == 'superadmin'" class="ct-chart tab-pane active"  id="scoreIncomeChart"></div>
            <div ng-show="!showCharts">No data</div>
          </div>
        </div>
      </div>
      <!-- End Second Row -->
    </div>

  </div>