<div class="">
          <div class="modal-header">
            <h1>Delete Staffmember</h1>
          </div>
  <div class="modal-body">
    <div class="">
      Delete staffmember?
    </div>
  </div>
            <div class="modal-footer">
              <button class="btn btn-warning" ng-click="cancel()">Cancel</button >
              <button class="btn btn-primary" ng-click="ok()">Delete</button >
            </div>
</div>