<div class="">
          <div class="modal-header">
            <h1>Add new schedule item</h1>
          </div>
 
            <div class="modal-body">
               <div class="form_error" ng-if="errorMessage">{{errorMessage}}</div>

                 <div class="" ng-show="true">
                  <div class="col-md-4">
                     <span>Day</span>
                     <select ng-model="add_working_time.day" ng-options="item for item in days"></select>
                  </div>
                  <div class="col-md-4">
                  <span>Start time</span>
                       <div
                        uib-timepicker
                        ng-model="add_working_time.start_time"
                        hour-step="1"
                        minute-step="5"
                        show-meridian="false"
                        max="add_working_time.end_time"
                        min="add_working_time.min"
                        >
                      </div>
                  </div>

                  <div class="col-md-4">
                  <span>End time</span>
                     <div
                      uib-timepicker
                      ng-model="add_working_time.end_time"
                      hour-step="1"
                      minute-step="5"
                      show-meridian="false"
                      min="add_working_time.start_time"
                      max="add_working_time.max"
                      >
                    </div>
                  </div>
                  <!-- <button ng-click="addSchedule(add_working_time)" class="btn btn-primary">+ Add</button> -->


               </div>
            </div>

            <div class="modal-footer">

              <button class="btn btn-warning" ng-click="cancel()">CANCEL</button >
              <!-- <button class="btn btn-primary submit" ng-class="{'success':valid,'error':valid}" ng-click="ok()">Update</button > -->
              <button class="btn btn-primary submit" ng-click="ok(add_working_time)">Update</button >
            </div>
</div>