<footer>
	<ul>
		<li>{{ 'copyright_tai’an_table' | translate }}</li>
		<li><a href ng-click="go('/404')">{{ 'faq' | translate }}</a></li>
		<li><a href ng-click="go('/timeout')">{{ 'about' | translate }}</a></li>
		<li><a href="javascript:;" ng-click="go('/')">{{ 'contact_us' | translate }}</a></li>
	</ul>
</footer>