<div class="">
  <div class="modal-header">
    <button ng-click="closeModal(); cleareErrors();"  type="button" class="close">×</button>
    <h4>{{button_title}} Break</h4>
  </div>
  <div class="error_message" ng-if= "errors.start_day">
    <span class="icon"></span><span ng-click="closeError('start_day')" class="w_close"></span>{{errors.start_day[0]}}
  </div>

  <div class="error_message" ng-if= "errors.end_day">
    <span class="icon"></span><span ng-click="closeError('end_day')" class="w_close"></span>{{errors.end_day[0]}}
  </div>

  <div class="error_message" ng-if= "errors.end_repeat">
    <span class="icon"></span><span ng-click="closeError('end_repeat')" class="w_close"></span>{{errors.end_repeat[0]}}
  </div>

  <div class="modal-body" ng-controller="CalendarCtrl as vm">
    <div class="form_error" ng-if="errorMessage">{{errorMessage}}</div>
      <div class="">
        <span>Date</span>
        <p class="input-group" style="max-width: 250px">
          <input
            type="text"
            class="form-control"
            readonly
            uib-datepicker-popup="dd MMMM yyyy"
            ng-model="new_break.start_day"
            ng-change = "new_break.end_day = new_break.start_day"
            is-open="new_break.startOpen"
            close-text="Close"
            max-date="{{new_break.end_day}}"
            >
            <span class="input-group-btn">
              <button
                type="button"
                class="btn btn-default"
                ng-click="vm.toggle($event, 'startOpen', new_break)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
        </p>
      </div>
      <div style="overflow: hidden;">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p-0">
          <span>Start time</span>
          <div
              uib-timepicker
              ng-model="new_break.start_day"
              hour-step="1"
              minute-step="5"
              show-meridian="false"
              max="new_break.end_day"
              >
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p-0">
          <span>End time</span>
          <div
            uib-timepicker
            ng-model="new_break.end_day"
            hour-step="1"
            minute-step="5"
            show-meridian="false"
            min="new_break.start_day"
            >
          </div>
        </div>
      </div>

      <div class="">
      <span>Repeat type</span>
         <select ng-model="new_break.repeat_type" ng-options="item for item in repeat_types"></select>
      </div>



      <div class="">
      <span>End repeat</span>
          <p class="input-group" style="max-width: 250px">
          <input
            type="text"
            class="form-control"
            readonly
            uib-datepicker-popup="dd MMMM yyyy"
            ng-model="new_break.end_repeat"
            is-open="new_break.repeatOpen"
            close-text="Close"
            min-date="{{new_break.start_day}}"
            >
          <span class="input-group-btn">
            <button
              type="button"
              class="btn btn-default"
              ng-click="vm.toggle($event, 'repeatOpen', new_break)">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
         </p>

         <div
          uib-timepicker
          ng-model="new_break.end_repeat"
          hour-step="1"
          minute-step="5"
          show-meridian="false"
          min="new_break.end_day"
          >
        </div>
      </div>


                   <!--  ng-change="chooseReceptionDate('start_date',free_zone.choose_start_time)" -->
    

        </div>

  <div class="modal-footer">
    <button class="btn btn-default" ng-click="closeModal(); cleareErrors();">Cancel</button >
    <button class="btn btn-primary" ng-class="{'error': break_error}" ng-click="clickSaveBreak(new_break, break_index, break_type);">{{button_title}}</button >
  </div>
</div>