<div class="page-logged-out layout-full page-dark">
  <div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">>
    <div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
      <div class="brand">
        <div class="brand-logo"></div>
      </div>
      <p>Register your account</p>
      <div class="" ng-show="!register_form">
          <div class="success" ng-if="successMessage">{{successMessage}}</div>
      </div>
      <form name="registerForm" ng-show="register_form">  
        <div class="error" ng-if="errorMessage">{{errorMessage}}</div>
        <div class="form-group">
            <label class="sr-only" for="first_name">First Name</label>
          <input type="text" class="form-control" name="first_name" placeholder="First Name" ng-model="user.first_name"/>
          <span class="form_error" ng-show="user.first_name.length < 2">Must contain more than one letter.</span>
        </div>

        <div class="form-group">
          <label class="sr-only" for="last_name">Last Name</label>
          <input type="text" class="form-control" name="last_name" placeholder="Last Name" ng-model="user.last_name"/>
          <span class="form_error" ng-show="user.last_name.length < 2">Must contain more than one letter.</span>
        </div>

        <div class="form-group">
          <label class="sr-only" for="email">Email</label>
          <input type="email" class="form-control" name="email" placeholder="Email" ng-model="user.email"/>
          <span class="form_error" ng-show="registerForm.email.$error.email">Please input a valid email.</span>
        </div>

        <div class="form-group">
            <div class="input_con" ng-class="{'has-error':user.new_password.$invalid && !user.new_password.$pristine}">
              <label class="sr-only" for="password">Password</label>
              <input type="password" id="password" name="password" placeholder="Password" class="form-control" ng-model="user.password" ng-minlength="6" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/"/>
            </div>
            <div class="form_error" ng-show="registerForm.password.$error.minlength" class="error">
              Passwords must be between 6 and 20 characters.</div>
            <div class="form_error" ng-show="registerForm.password.$error.pattern" class="error">
              Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</div>
        </div>

        <div class="form-group">
            <div class="input_con" ng-class="{'has-error':user.confirm_password.$invalid && !user.confirm_password.$pristine}">
              <label class="sr-only" for="password">Confirm Password</label>
              <input class="form-control" ng-model="user.confirm_password" placeholder="Confirm Password" type="password" id="password_c" name="password_c" valid-password-c="user.new_password"/>
            </div>
            <div class="form_error" ng-show="registerForm.password_c.$error.noMatch" class="error">Passwords do not match.</div>
            <div class="form_error" ng-show="user.password !== user.confirm_password && user.confirm_password">Password mismatch</div>
        </div>
        <div class="form-group" ng-repeat="field in registerFields">
          <label class="sr-only" for="email">{{field.title}}</label>
          <input type="text" class="form-control" placeholder="{{field.title}}" ng-model="field.value"/>
        </div>

        <div class="overflow_hidden form-group">
          <button ng-class="{'error': user.first_name.length < 2 || user.last_name.length < 2 || registerForm.email.$error.email || !user.password || !user.confirm_password || user.password != user.confirm_password && user.confirm_password || checkAdditionalFields()}" ng-disabled="disable_login_btn" ng-click="SignUp(user)" class="btn btn-primary btn-block">Register</button>
        </div>
        <div class="form-group">
          <label>Already registered?</label>
          <a href="javascript:;" ng-click="go('/login')">Login here.</a>
        </div>
      </form> 
    </div>
  </div>
</div>