<div class="app-contacts mt-30">

<div class="">
	<div class="page-header">
		<h1 class="page-title">{{menuTitle['Credit Cards']}}</h1>
		<div class="page-header-actions">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:;" ng-click="go('/account')">{{menuTitle['Home']}}</a></li>
        <li class="breadcrumb-item active">{{menuTitle['Settings']}}</li>
        <li class="breadcrumb-item active">{{menuTitle['Credit Cards']}}</li>
      </ol>
    </div>
	</div>
	<div class="page-content">
		<div class="panel">
				<div class="panel-body container-fluid">
    			<!-- Contacts Content -->
			    <div id="contactsContent" class="page-content-table" data-plugin="selectable">
			      <p class="error" ng-if="deleteError">{{deleteError}}</p>
			      <!-- Contacts -->
			      <table ng-show="cards.length" class="table is-indent" data-plugin="animateList" data-animate="fade" data-child="tr"
			      data-selectable="selectable">
			        <thead>
			          <tr>
			            <th scope="col">Id</th>
									<th scope="col">Number</th>
									<th scope="col">Type</th>
									<th scope="col">Month</th>
									<th scope="col">Year</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr ng-click="openPanel($event, card)" ng-repeat="card in cards">
			            <td><span class="visible-xs header">ID: </span>{{card.id}}</td>
			            <td><span class="visible-xs header">Card Number: </span>{{card.number}}</td>
			            <td><span class="visible-xs header">Card Type: </span>{{card.card_type}}</td>
			            <td><span class="visible-xs header">Expiration Month: </span>{{card.month}}</td>
			            <td><span class="visible-xs header">Expiration year: </span>{{card.year}}</td>
			          </tr>
			        </tbody>
			      </table>
			      <p ng-show="!cards.length">No cards</p>
			    </div>
			</div>
		</div>
	</div>
</div>

<!-- Site Action -->
<div class="site-action" data-plugin="actionBtn">
  <button type="button" class="site-action-toggle btn-raised btn btn-success btn-floating" ng-click="openPanel($event, {})">
    <i class="front-icon wb-plus animation-scale-up" aria-hidden="true"></i>
    <i class="back-icon wb-close animation-scale-up" aria-hidden="true"></i>
  </button>
  <div class="site-action-buttons">
    <button type="button" data-action="trash" class="btn-raised btn btn-success btn-floating animation-slide-bottom">
      <i class="icon wb-trash" aria-hidden="true"></i>
    </button>
    <button type="button" data-action="folder" class="btn-raised btn btn-success btn-floating animation-slide-bottom">
      <i class="icon wb-folder" aria-hidden="true"></i>
    </button>
  </div>
</div>
<!-- End Site Action -->
	
</div>

