<div class="page-profile reception mt-30">
  <div class="page-header">
    <h1 class="page-title">{{menuTitle['Appointment']}} #{{reception.id}}</h1>
    <div class="page-header-actions">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:;" ng-click="go('/account')">{{menuTitle['Home']}}</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)" ng-click="page = 'my_receptions'">{{menuTitle['Appointments']}}</a></li>
        <li class="breadcrumb-item active">{{menuTitle['Appointment']}} #{{reception.id}}</li>
        <!-- <li class="breadcrumb-item active">Basic</li> -->
      </ol>
    </div>
  </div>
  <div class="page-content container-fluid">
    <div class="row">
      
      <div class="col-lg-3">
        <!-- Page Widget -->
        <div class="card card-shadow text-center main_container">
          <div class="card-block">
            <div class="logo_image" style="background-image: url({{reception.staff.logo ? base_logo_url + reception.staff.logo : default_logo}});"></div>    
            <h4 class="profile-user">{{reception.staff.profession ? reception.staff.profession.title + ':' : '' }} {{reception.staff.first_name}} {{reception.staff.last_name}}</h4>
            <p class="patient-email">{{reception.staff.email}}</p>
          </div>
          <div class="card-block">
            <!-- <div class="card-block"></div> -->
            
            <p>Date: {{reception.start_date.format("dddd, MMMM Do YYYY, h:mm:ss a")}}</p>
            <p>Time: </span><span>{{reception.start_date.format('h:mm a')}} - {{reception.end_date.format('h:mm a')}}</span></p>
            <p>
              Payment Status: 
              <span ng-if="reception.status != 2 || reception.status == 2 && !reception.payment_status" class="">Not Paid</span>
              <span ng-if="reception.payment_status" class="">Paid</span>
            </p>
            <p>Status: {{viewStatus(reception.status,'title')}}</p>
          </div>

        </div>
        <!-- End Page Widget -->
      </div>
      <div class="col-lg-9">
        <!-- Panel -->
        <div class="panel">
          <div class="panel-body nav-tabs-animate nav-tabs-horizontal" data-plugin="tabs">
            <ul class="nav nav-tabs nav-tabs-line" role="tablist" style="border-left: 0px;">
              <li class="nav-item" role="presentation"><a class="nav-link" ng-click="reception_menu = 'chat'" ng-class="{'active': reception_menu == 'chat'}" data-toggle="tab" href="javascript:;" aria-controls="chat" role="tab">Chat</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" ng-click="reception_menu = 'files'" ng-class="{'active': reception_menu == 'files'}" data-toggle="tab"  href="javascript:;" aria-controls="files" role="tab">Files</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" ng-click="reception_menu = 'prescription'" ng-class="{'active': reception_menu == 'prescription'}" data-toggle="tab"  href="javascript:;" aria-controls="prescription" role="tab">{{menuTitle['Prescription']}}</a></li>
            </ul>

            <div  class="tab-content container-fluid" style="padding-top: 20px; padding-left: 3px; padding-right: 3px;">
              <div ng-show="reception_menu == 'chat'" class="animation-slide-left tab-pane" ng-class="{'active': reception_menu == 'chat'}" id="chat">
                <div class="site-action">
                  <button type="button" class="site-action-toggle btn-raised btn btn-success btn-floating" ng-click="openModal(templates.writeReceptionMessage);">
                    <i class="front-icon wb-pencil animation-scale-up"></i>
                    <i class="back-icon wb-close animation-scale-up"></i>
                  </button>
                </div>
                <div  ng-init="getReceptionMessage(reception.id)">
                    <div class="chat-box">
                        <div class="chats">
                            <div ng-if="reception.messages[0]">
                              <div ng-repeat="message in reception.messages track by $index">
                                <div class="chat" ng-class="{'chat-left':message.staff_id == message.sender_id}">
                                  <div class="chat-avatar">
                                    <a class="avatar" data-toggle="tooltip" href="javascript:;" data-placement="left" title="" data-original-title="June Lane">
                                      <span class="message_avatar" style="background-image:url({{getImageUrl(message.sender.logo)}});"></span>
                                    </a>
                                  </div>
                                  <div class="chat-body">
                                    <div class="chat-content">
                                      <p>
                                        {{message.body}}
                                      </p>
                                      <div class="chat-time" >{{Time(message.updated_at,'hh:mm a')}}</div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div ng-show="reception_menu == 'files'" class="animation-slide-left tab-pane" ng-class="{'active': reception_menu == 'files'}" id="files">
                <p ng-show="!reception.files.length">No files</p>
                <table ng-show="reception.files.length" class="table">
                  <thead>
                    <th>File Name</th>
                    <th></th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="file in reception.files">
                      <td>{{file.url}}</td>
                      <td><a href="{{getImageUrl(file.url)}}" target="_self" download="{{file.url}}"><i class="glyphicon glyphicon-download"></i></a></td>
                      <td><a href="javascript:void(0)" ng-click="removeFile(file, $index)" ><i class="glyphicon glyphicon-remove"></i></a></td>
                    </tr>
                  </tbody>
                </table>
                <div class="form-group floating">
                  <div class="file-upload">
                    <label>
                    <input type="file" ng-model="file" class="form-control" onchange="angular.element(this).scope().getFile(this.files[0]);angular.element(this).scope().uploadFile(angular.element(this).scope().reception)"/>
                    <span>Upload File</span>
                    </label>
                  </div>
                </div>
              </div>
              <div ng-show="reception_menu == 'prescription'" class="animation-slide-left tab-pane" ng-class="{'active': reception_menu == 'prescription'}" id="prescription">
                <div ng-if="reception.prescription.is_approved=='1'">
                  <span class="input_label">Description</span>
                  <textarea class="form-control" ng-model="reception.prescription.message_body" readonly></textarea>
                  <span class="input_label">Pharmacy email</span>
                  <input class="form-control" type="email" ng-model="reception.prescription.pharmacy_email" readonly>
                  <div class="detail">
                    <span class="title">Files:</span><span ng-if="!reception.prescription.file_url"> no attach file </span>
                    <div ng-if="reception.prescription.file_url">
                       <a href="{{getImageUrl(reception.prescription.file_url)}}" target="_blank">{{reception.prescription.file_url}}</a>
                       <!-- <span ng-click="deleteReceptionFile(file)" class="delete"></span> -->
                    </div>
                  </div>
                </div>
                <div ng-if="reception.prescription.is_approved!='1'" class="">
                   <span>You have not any prescription yet</span>
                </div>
              </div>
            </div>
              
      
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>





