<div class="page-logged-out layout-full page-dark">
  <div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">>
    <div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
      <div class="brand">
        <div class="brand-logo"></div>
      </div>
      <p>Sign into your account</p>
      <form name="loginForm">
        <p class="error" ng-if="paymentMessage">{{paymentMessage}}</p>
        <p class="error" ng-if="errorMessage">{{errorMessage}}</p>
        <div class="login_form">
          <div class="form-group">
            <label class="sr-only" for="inputEmail">Username</label>
            <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email" ng-model="user.email" ng-change="validForm();">
          </div>
          <div class="form-group" ng-show="!disable_login_btn">
            <label class="sr-only" for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" name="password"
            placeholder="Password" ng-model="user.password" ng-change="validForm();">
          </div>
          <div class="form-group clearfix" ng-show="!disable_login_btn">
            <div class="checkbox-custom checkbox-inline checkbox-primary float-left">
              <input type="checkbox" id="inputCheckbox" name="remember">
              <label for="inputCheckbox">Remember me</label>
            </div>
            <a class="float-right" href="javascript:;" ng-click="go('/reset_pass')">Forgot password?</a>
          </div>
          <div class="overflow_hidden form-group" style="margin-top: 30px;">
            <button type="submit" ng-disabled="disable_login_btn" ng-click="Signin(user)" class="btn btn-primary btn-block">Sign in</button>
            <button ng-if="disable_login_btn" class="btn btn-primary btn-block" ng-click="goToPaymentPage(user.email)">Go to payment</button>
          </div>
          <div class="form-group" ng-show="!disable_login_btn">
            <label>Not registered?</label>
            <a href="javascript:;" ng-click="go('/register')">Register here.</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
