<div class="page-user mt-30" ng-show="page == 'non_active_user'">
    <div class="">
        <div class="page-header">
            <h1 class="page-title">{{menuTitle['Users']}}</h1>
            <div class="page-header-actions">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:;" ng-click="go('/')">{{menuTitle['Home']}}</a></li>
                <li class="breadcrumb-item active">{{menuTitle['Users']}}</li>
              </ol>
            </div>
        </div>
        
        <div class="page-content">
          <!-- Panel -->
          <div class="panel">
            <div class="panel-body">
              <form class="page-search-form" role="search">
                <div class="input-search input-search-dark">
                  <i class="input-search-icon wb-search" aria-hidden="true"></i>
                  <input type="text" class="form-control" id="inputSearch" name="search" placeholder="Search Users" ng-model="query" ng-change="userSearch()">
                  <button type="button" class="input-search-close icon wb-close" aria-label="Close"></button>
                </div>
              </form>
              <div class="nav-tabs-horizontal nav-tabs-animate" data-plugin="tabs">
                <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                  <li class="nav-item" role="presentation"><a class="active nav-link" data-toggle="tab" href="#all_contacts"
                    aria-controls="all_contacts" role="tab">All Contacts</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane animation-fade active" id="all_contacts" role="tabpanel">
                    <ul class="list-group">
                      <li class="list-group-item" ng-repeat="user in filteredUsers">
                        <div class="media">
                          <div class="pr-20">
                            <div class="avatar avatar-online">
                              <img ng-if="getImageUrl(user.logo)" src="{{getImageUrl(user.logo)}}" alt="...">
                              <i class="avatar avatar-busy"></i>
                            </div>
                          </div>
                          <div class="media-body">
                            <h5 class="mt-0 mb-5">
                              {{user.first_name}} {{user.last_name}}
                            </h5>
                            <p>
                                <i class="icon icon-color wb-envelope"></i> {{user.email}}
                            </p>
                            <p>
                                Is verified: {{user.is_verified === '1' ? 'true' : 'false'}}
                            </p>
                          </div>
                          <div class="pl-20 align-self-center activate-btn">
                            <button type="button" ng-if="user.is_active == '0'" class="btn btn-outline btn-success btn-sm" ng-click="activateUser(user.id, $index)" ng-if="!user.is_active">Activate</button>
                            <button type="button" ng-if="user.is_active == '1'" class="btn btn-success btn-sm">
                              <i class="icon wb-check" aria-hidden="true"></i>Active
                            </button>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <nav>
                      <ul data-plugin="paginator" data-total="50" data-skin="pagination-no-border"></ul>
                    </nav>
                    <p ng-if="!users[0]">No users</p>
                  </div>
                  <div class="tab-pane animation-fade" id="my_contacts" role="tabpanel">
                    <ul class="list-group">
                    </ul>
                    <nav>
                      <ul data-plugin="paginator" data-total="50" data-skin="pagination-no-border"></ul>
                    </nav>
                  </div>
                  <div class="tab-pane animation-fade" id="google_contacts" role="tabpanel">
                    <ul class="list-group">
                    </ul>
                    <nav>
                      <ul data-plugin="paginator" data-total="50" data-skin="pagination-no-border"></ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Panel -->
        </div>
    </div>
</div>

<div class="mt-30" ng-show="page == 'staffmembers'">
    <div class="">
        <div class="page-header">
            <h1 class="page-title">{{menuTitle['All Staff']}}</h1>
            <div class="page-header-actions">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:;" ng-click="go('/')">{{menuTitle['Home']}}</a></li>
                <li class="breadcrumb-item"><a href="javascript:;" ng-click="go('/admin/staffmembers')">{{menuTitle['Staff Members']}}</a></li>
                <li class="breadcrumb-item active">{{menuTitle['All Staff']}}</li>
              </ol>
            </div>

        </div>

        <div class="receptions-container">
          <div class="page-aside">
            <div class="page-aside-switch">
              <i class="icon wb-chevron-left" aria-hidden="true"></i>
              <i class="icon wb-chevron-right" aria-hidden="true"></i>
            </div>
            <div class="page-aside-inner-receptions">
              <div class="page-aside-section">
                <div class="list-group">
                  <a href="javascript:void(0)" class="list-group-item" ng-click="selectedProfession = { title: 'Members', staff: staffmembers }">
                    <span class="item-right">{{staffmembers.length}}</span>
                    <i class="icon wb-inbox" aria-hidden="true"></i>
                    Professions
                  </a>
                </div>
              </div>
              <div class="page-aside-section">
                <!-- <h5 class="page-aside-title"></h5> -->
                <div class="list-group has-actions">
                  <div class="list-group-item" ng-class="{ 'active': isActiveProfession($index) }" ng-repeat="profession in professions">
                    <div ng-show="!profession.edit" class="list-content">
                      <div ng-click="selectProfession(profession)">
                        <span class="item-right">{{profession.count_staff}}</span>
                        <span class="list-text">{{profession.title}}</span>
                      </div>
                      
                      <div class="item-actions">
                        <span class="btn btn-pure btn-icon" data-toggle="list-editable"><i class="icon wb-edit" aria-hidden="true" ng-click="profession.edit = true"></i></span>
                        <span class="btn btn-pure btn-icon" data-tag="list-delete" ng-click="deleteProfession(profession)"><i class="icon wb-trash" aria-hidden="true"></i></span>
                      </div>
                    </div>
                    <div ng-show="profession.edit" class="list-editable">
                      <div class="form-group form-material">
                        <input type="text" class="form-control empty" name="label" ng-model="profession.title">
                        <button type="button" class="input-editable-close icon wb-close"
                        aria-label="Close" aria-expanded="true" ng-click="updateProfession(profession)"></button>
                      </div>
                    </div>
                  </div>
                  <a class="list-group-item" href="javascript:void(0)" ng-click="newProfession = {}" data-toggle="modal"
                  data-target="#addProfessionForm">
                    <i class="icon wb-plus" aria-hidden="true"></i> Add New
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="page-main pt-30">
            <!-- Contacts Content Header -->
            <div class="page-header">
              <h1 class="page-title">{{selectedProfession.title}}</h1>
              <div class="page-header-actions">
                <form>
                  <div class="input-search input-search-dark">
                    <i class="input-search-icon wb-search" aria-hidden="true"></i>
                    <input type="text" class="form-control" name="" placeholder="Search...">
                  </div>
                </form>
              </div>
            </div>
            <!-- Contacts Content -->
            <div id="contactsContent" ng-show="selectedProfession.staff.length" class="page-content page-content-table">
              <table class="table is-indent" data-plugin="animateList" data-animate="fade" data-child="tr" data-selectable="selectable">
                <thead>
                  <tr>
                    <th class="pre-cell"></th>
                    <th class="cell-300" scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Speciality</th>
                    <th scope="col">Is Active</th>
                    <th scope="col">Is Verified</th>
                    <th class="suf-cell"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-click="openPanel($event, person)" ng-repeat="person in selectedProfession.staff" class="vmiddle--td">
                    <td class="pre-cell"></td>
                    <td class="cell-300">
                      <a class="avatar" href="javascript:void(0)">
                        <img class="img-fluid" ng-src="{{person.logo}}" alt="...">
                      </a>
                      {{person.first_name}} {{person.last_name}}
                    </td>
                    <td>{{person.email}}</td>
                    <td>{{person.speciality ? person.speciality.speciality : '-'}}</td>
                    <td><span class="visible-xs header">Is Active: </span>{{person.is_active}}</td>
                    <td><span class="visible-xs header">Is Verified: </span>{{person.is_verified}}</td>
                    <td class="suf-cell"></td>
                  </tr>
                </tbody>
              </table>
              
            </div>
            <p class="pl-30" ng-show="!selectedProfession.staff.length">This profession has no staff</p>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade modal-success" id="addProfessionForm" aria-hidden="true" aria-labelledby="addProfessionForm" role="dialog" tabindex="-1">
          <div class="modal-dialog modal-center">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="newProfession.title = ''">
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Create Profession</h4>
              </div>
              <div class="modal-body">
                <form name="addProfessionModalForm">
                  <div class="form-group form-material floating">
                    <input type="text" name="title" ng-model="newProfession.title" class="form-control" required>
                    <label class="floating-label">Title</label>
                  </div>
                </form>
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="newProfession.title = ''" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-disabled="addProfessionModalForm.$invalid" data-dismiss="modal" ng-click="saveProfession()">Save</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End Modal -->
    </div>
    <!-- Site Action -->
    <div class="site-action" data-plugin="actionBtn">
      <button ng-show="professions.length" type="button" class="site-action-toggle btn-raised btn btn-success btn-floating" ng-click="openPanel($event, {})">
        <i class="front-icon wb-plus animation-scale-up" aria-hidden="true"></i>
        <i class="back-icon wb-close animation-scale-up" aria-hidden="true"></i>
      </button>
      <div class="site-action-buttons">
        <button type="button" data-action="trash" class="btn-raised btn btn-success btn-floating animation-slide-bottom">
          <i class="icon wb-trash" aria-hidden="true"></i>
        </button>
        <button type="button" data-action="folder" class="btn-raised btn btn-success btn-floating animation-slide-bottom">
          <i class="icon wb-folder" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <!-- End Site Action -->
</div>

<div class="mt-30" ng-show="page == 'receptions'" ng-include="templates.staffReceptions"> 
</div> 
<div class="mt-30" ng-show="page == 'working_hours'" ng-include="templates.staffSchedule"> 
</div>


<div ng-show="page == 'payment_history'" ng-include="templates.paymentHistory"> 
</div> 

<div class="mt-30" ng-show="page == 'menu'" ng-include="templates.menu"></div> 
<!-- <div ng-include="'/partials/calendarTemplates.html'"></div> -->
<!-- Modal Window -->
<div ng-include="templates.modal"></div>
<!-- Left Modal Window -->
<div class="app-mailbox" ng-include="templates.leftModal"></div>

 