    <div class="page_header">
        <div class="full-width-con">
          <div>
           <h1>Prescription</h1>
          </div>
        </div>
    </div>

      <div class="full-width-con">
            <div ng-if="prescription_page == 'approved'">
               <h3>You approved current prescription</h3>
            </div>
            <div ng-if="prescription_page != 'approved'">
               <h3>You cancel current prescription</h3>
            </div>
            
</div>