<!-- Page -->
<div class="page-profile">
  <div class="page-content container-fluid">
    <div class="row">
      <div class="page-header">
        <h1 class="page-title">{{menuTitle['Account']}}</h1>
        <div class="page-header-actions">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:;" ng-click="go('/')">{{menuTitle['Home']}}</a></li>
            <li class="breadcrumb-item active">{{menuTitle['Account']}}</li>
            <!-- <li class="breadcrumb-item active">Basic</li> -->
          </ol>
        </div>
      </div>
      <div class="col-lg-3">
        <!-- Page Widget -->
        <div class="card card-shadow text-center main_container">
          <div class="card-block panel">
            <div ng-if="view_upload_logo==false" class="logo_image" style="background-image: url({{user_logo}});"></div>
            <div ng-if="view_upload_logo" ng-show="view_upload_logo" class="logo_image" style="background-image: url({{imagesSrc.src}});">
              <span class="delete_logo" ng-click="DeleteUploadLogo();"><i class="icon wb-close" aria-hidden="true" ng-click="DeleteUploadLogo();"></i></span>
            </div>                  
            <h4 style="padding-bottom: 15px;" class="profile-user">{{user.first_name}} {{user.last_name}}</h4>
            <input ng-show="false" type="file" name="file" class="btn btn-primary" id="user_logo" ng-file-select="onFileSelect($files)"/>
            <label ng-show="!upload_btn" for="user_logo" class="btn btn-primary">Choose photo</label>
            <button ng-show="upload_btn" ng-class="{'error': user.first_name.length < 2 || user.last_name.length < 2 || profileForm.email.$error.email}" ng-click="UploadUserLogo(user)" class="btn btn-primary">Upload</button>
          </div>

        </div>
        <!-- End Page Widget -->
      </div>
      <div class="col-lg-9">
        <!-- Panel -->
        <div class="panel">
          <div class="panel-body nav-tabs-animate nav-tabs-horizontal" data-plugin="tabs">
            <ul class="nav nav-tabs nav-tabs-line list-inline nav-justified" role="tablist" style="border-left: 0px;">
              <li ng-click="changePage('profile')"  class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="javascript:void(0)" ng-class="{'active' : page == 'profile' }" aria-controls="profile" role="tab">My Profile</a></li>

              <li ng-if="user_type == 'staffmember'" ng-click="changePage('price')" class="nav-item" role="presentation"><a ng-class="{'active' : page == 'price' }" class="nav-link" data-toggle="tab" href="javascript:void(0)" aria-controls="price" role="tab">Price</a></li>

              <li ng-show="user.company" ng-click="changePage('company');" class="nav-item" role="presentation"><a class="nav-link" ng-class="{'active' : page == 'company' }" data-toggle="tab" href="javascript:void(0)" aria-controls="company" role="tab">Company Information</a></li>

              <li ng-click="changePage('change_password')" class="nav-item" role="presentation"><a ng-class="{'active' : page == 'change_password' }" class="nav-link" data-toggle="tab" href="javascript:void(0)" aria-controls="change_password" role="tab">Change Password</a></li>
            </ul>

            <div  class="tab-content container-fluid" style="padding-top: 20px; padding-left: 3px; padding-right: 3px;">
              <div ng-show="page == 'profile'" class=" active animation-slide-left tab-pane" id="profile">
                <div class="success_message" ng-if="successMessage">{{successMessage}}</div>
                <form name="profileForm" autocomplete="off">
                  <div class="form-group form-material floating" ng-class="first_name_error ? 'has-error' : ''">
                    <input type="text" class="form-control" ng-class="user.first_name == '' ? 'empty' : 'input-sm'" name="first_name" ng-model="user.first_name" ng-change="chenge_first_name(user.first_name)"/>
                    <label class="floating-label">First name</label>
                    <span class="form_error" ng-show="user.first_name.length < 2">Must contain more than one letter.</span>
                  </div>
                  <div class="form-group form-material floating" ng-class="last_name_error ? 'has-error' : ''">
                    <input type="text" class="form-control" ng-class="user.last_name == '' ? 'empty' : 'input-sm'" name="last_name" ng-model="user.last_name" ng-change="change_last_name(user.last_name)"/>
                    <label class="floating-label">Last name</label>
                    <span class="form_error" ng-show="user.last_name.length < 2">Must contain more than one letter.</span>
                  </div>
                  <div class="form-group form-material floating" ng-class="profileForm.email.$error.email ? 'has-error' : ''">
                    <input type="email" class="form-control" ng-class="user.email == '' ? 'empty' : 'input-sm'" name="email" ng-model="user.email" />
                    <label class="floating-label">Email</label>
                    <span class="form_error" ng-show="profileForm.email.$error.email">Please input a valid email.</span>
                  </div>
                  <div class="form-group form-material floating" ng-show="user.user_type == 'staffmember'">
                    <input type="text" class="form-control" ng-class="user.speciality.speciality == '' ? 'empty' : 'input-sm'" name="speciality" ng-model="user.speciality.speciality" />
                    <label class="floating-label">Speciality</label>
                  </div>
                  <div ng-repeat="field in user.fields" class="form-group form-material floating" ng-class="last_name_error ? 'has-error' : ''">
                    <input type="text" class="form-control" ng-class="field.value == '' ? 'empty' : 'input-sm'" name="last_name" ng-model="field.value"/>
                    <label class="floating-label">{{field.register_field.title}}</label>
                  </div>

                  <div class="overflow_hidden" style="margin-top: 30px;">
                    <button ng-class="{'error': user.first_name.length < 2 || user.last_name.length < 2 || profileForm.email.$error.email}" ng-click="UpdateProfile(user)" class="btn btn-primary">Update</button>
                  </div>
                </form>
              </div>

              <div ng-show="page == 'price'" class="active animation-slide-left tab-pane">
                <div class="success_message" ng-if="success"><span class="icon"></span>{{success}}</div>
                <div class="error_message" ng-if="errors && Object.keys(errors).length"><span class="icon"></span>{{errors}}</div>
                <form name="priceForm" id="priceForm" ng-submit="submitPrice()">
                  <div class="form-group form-material floating" ng-class="profileForm.email.$error.email ? 'has-error' : ''">
                    <input type="number" class="form-control input-sm" name="email" ng-model="price.amount" />
                    <label class="floating-label">Price per hour</label>
                  </div>
                  <div class="form-group form-material floating mt-20">
                    <input type="submit" form="priceForm" name="submitPrice" class="btn btn-primary" value="Update">
                  </div>
                </form>
              </div>

              <div ng-show="page == 'company' && user.company" class="tab-pane active animation-slide-left">
                <div class="success_message" ng-if="successMessage">{{successMessage}}</div>
                <form name="companyForm" autocomplete="off" >
                  <label ng-click="selectCompanyLogo = true" class="company-logo" for="companyLogo">
                    <div class="company-logo" ng-style="{ 'background-image': 'url(' + user.company.logo + ')'}">
                      <input style="display: none;" type="file" name="companyLogo" id="companyLogo" ng-file-select="onFileSelect($files)" accept="image/*">
                    </div>
                  </label>
                  <div class="form-group company-input form-material floating">
                    <input type="text" class="form-control" ng-class="user.company.name == '' ? 'empty' : 'input-sm'" name="company_name" ng-model="user.company.name" />
                    <label class="floating-label">Company Name</label>
                  </div>
                  <div class="form-group company-input form-material floating">
                    <input type="email" class="form-control" ng-class="user.company.email == '' ? 'empty' : 'input-sm'" name="email" ng-model="user.company.email" />
                    <label class="floating-label">Advertised Email</label>
                  </div>
                  <div class="form-group company-input form-material floating">
                    <input type="text" class="form-control" ng-class="user.company.address == '' ? 'empty' : 'input-sm'" name="address-1" ng-model="user.company.address" />
                    <label class="floating-label">Street Address</label>
                  </div>
                  <div class="form-group form-material floating">
                    <input colorpicker type="text" class="form-control" ng-class="user.company.color == '' ? 'empty' : 'input-sm'" name="address-1" ng-model="user.company.color" />
                    <label class="floating-label">Color</label>
                    
                  </div>
                  <div class="form-group" ng-repeat="doc in user.company.files">
                      <label>{{doc.document.title}}:</label>
                      <label class="floating-label">{{doc.filename}}</label>
                      <a href="{{doc.link}}" target="_self" download="{{doc.filename}}"><i class="glyphicon glyphicon-download"></i></a>
                      <span ng-click="removeDoc(doc)"><i class="glyphicon glyphicon-remove"></i></span>
                    </div>
                  <button class="btn btn-primary" ng-click="updateCompany()" ng-disabled="!companyForm.$valid">Save</button>
                </form>
              </div>
              <div ng-show="page == 'change_password'" class="tab-pane active animation-slide-left">
                <div class="success_message" ng-if="success"><span class="icon"></span>{{success}}</div>
                <div class="error_message" ng-if="errors && Object.keys(errors).length"><span class="icon"></span>{{errors}}</div>
                <form name="changePasswordForm" autocomplete="off" >  
                  <!-- <div class="item"> -->
                    <!-- <div class="success_message" ng-if="successMessage">{{successMessage}}</div> -->
                    <div class="form-group form-material floating" ng-class="password_error || password_error_2 ? 'has-error' : ''">
                     <!-- <span class="input_label">Password</span> -->
                     <input type="password" id="password" name="password" class="form-control empty" ng-model="pass_res.password" ng-class="pass_res.password == '' ? 'empty' : 'input-sm'" ng-change="change_password(pass_res.password)"/>
                      <label class="floating-label">Password</label>

                   </div>
                   <div class="form_error" ng-show="password_error_2" class="error">
                    Passwords must be between 6 and 20 characters.</div>
                    <div class="form_error" ng-show="password_error" class="error">
                      Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</div>
                    <!-- </div> -->

                    <!-- <div class="item"> -->
                    <div class="form-group form-material floating" ng-class="pass_res.password != pass_res.confirm_password ? 'has-error' : ''">
                       <!-- <span class="input_label">Confirm Password</span> -->
                      <input class="form-control empty" ng-model="pass_res.confirm_password" type="password" id="password_c" name="password_c" ng-class="pass_res.confirm_password == '' ? 'empty' : 'input-sm'" ng-change="change_confirm_password(pass_res.confirm_password)"/>
                  
                      <label class="floating-label">Confirm Password</label>
                   </div>
                   <div class="form_error" ng-show="pass_res.password != pass_res.confirm_password" class="error">Passwords do not match.</div>
                   <div class="overflow_hidden" style="margin-top: 30px;">
                    <button ng-class="{'error': !pass_res.password || !pass_res.confirm_password || pass_res.password != pass_res.confirm_password && pass_res.confirm_password}" ng-click="changePassword(pass_res)" class="btn btn-primary">Update</button>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>