<div class="page-logged-out layout-full page-dark">
  <div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">>
    <div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
      <div class="brand">
        <div class="brand-logo"></div>
      </div>
      <p>Reset Password</p>
      <div class="login_error error" ng-if="errorMessage">{{errorMessage}}</div>
      <div class="success" ng-if="successMessage">{{successMessage}}</div>
      
      <form name="resetPasswordSendForm" class="reset-pass-form" ng-if="res_link_form">
        <div class="form-group">
          <label class="control-label">Email</label>
          <input type="email" class="form-control" name="email" ng-model="user.email"/>
          <span class="form_error error" ng-show="resetPasswordSendForm.email.$error.email">Please input a valid email.</span>
        </div>
        <div class="overflow_hidden">
          <button ng-class="{'error': resetPasswordSendForm.email.$error.email || !user.email}" ng-click="getResetLink(user.email)" class="btn btn-primary">Send</button>
        </div>
      </form>

      <form name="resetPasswordForm" class="reset-pass-form" ng-if="res_pass_form">
        <div class="form-group">
          <label class="control-label">Password</label>
          <input type="password" id="password" name="password" class="form-control" ng-model="user.password" ng-minlength="6" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/"/>
          <div class="form_error" ng-show="resetPasswordForm.password.$error.minlength" class="error">
            Passwords must be between 6 and 20 characters.</div>
          <div class="form_error" ng-show="resetPasswordForm.password.$error.pattern" class="error">
            Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</div>
        </div>

        <div class="form-group">
            <label class="control-label">Confirm Password</label>
            <input class="form-control" ng-model="user.confirm_password" type="password" id="password_c" name="password_c" valid-password-c="user.new_password"/>
            <div class="form_error error" ng-show="registerForm.password_c.$error.noMatch" class="error">Passwords do not match.</div>
            <div class="form_error error" ng-show="user.password !== user.confirm_password && user.confirm_password">Password mismatch</div>
        </div>

        <div class="overflow_hidden">
          <button ng-class="{'error': resetPasswordForm.email.$error.email || !user.password || !user.confirm_password || user.password != user.confirm_password && user.confirm_password}" ng-click="ResetPassword(user)" class="btn btn-primary">Reset Password</button>
        </div>          
      </form>
    </div>
  </div>
</div>