<div class="app-contacts mt-30">

    <div class="">
        <div class="page-header">
            <h1 class="page-title">Register fields</h1>
            <div class="page-header-actions">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:;" ng-click="go('/admin')">Home</a></li>
                    <li class="breadcrumb-item active">Register Fields</li>
                </ol>
            </div>
        </div>
        <div class="page-content">
            <div class="container-fluid">
                <div id="contactsContent" class="page-content-table panel" data-plugin="selectable">
                    <p class="error" ng-if="deleteError">{{deleteError}}</p>
                    <table class="table is-indent" data-plugin="animateList" data-animate="fade" data-child="tr"
                    data-selectable="selectable">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="field in registerFields">
                                <td>
                                    <span ng-show="!field.edit" class="list-text">{{field.title}}</span>
                                    <div class="form-group form-material" ng-show="field.edit">
                                        <input type="text" class="form-control empty" name="label" ng-model="field.title">
                                        <a href="javascript:void(0)" ng-click="field.edit = false;"><i class="icon wb-close padding"></i></a>
                                        <a href="javascript:void(0)" ng-click="confirmEditField(field)"><i class="icon wb-check padding"></i></a>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-group form-material" ng-show="!field.edit">
                                            <a href="javascript:void(0)" ng-click="field.edit = true"><i class="icon wb-pencil padding"></i></a>
                                            <a href="javascript:void(0)" ng-click="$event.stopPropagation();deleteField(field)"><i class="icon wb-trash"></i></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group form-material">
                                        <input type="text" class="form-control empty" name="label" ng-model="title">
                                    </div>
                                </td>
                                <td>
                                    <button class="btn btn-default" ng-click="addField(title)">Add new field</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>