<!doctype html>
<html lang="en" data-framework="angularjs">

<head>
    <!-- <base href="/"> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venturebility</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/web-icons/web-icons.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
    <link rel="stylesheet" type="text/css" href="css/angular-bootstrap-calendar.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap-extend.min.css"> -->
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="css/angular-bootstrap-calendar.min.css">
    <link rel="stylesheet" type="text/css" href="css/colorpicker.min.css">
    <link rel="stylesheet" type="text/css" href="css/fullcalendar.css">
    <link rel="stylesheet" type="text/css" href="css/calendar.css">
    <link rel="stylesheet" type="text/css" href="css/jquery-timepicker.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/chartist.min.css">
    <link rel="stylesheet" href="css/chartist-plugin-tooltip.min.css">
    <!-- >>>>>>> menu -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script> -->
    <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <!-- <script src="https://cdn.webrtc-experiment.com/firebase.js"></script> -->
    <script src="libs/RTCMultiConnection.js"></script>
    <!-- <script src="https://rtcmulticonnection.herokuapp.com/dist/RTCMultiConnection.min.js"></script> -->
    <!-- <script src="https://rtcmulticonnection.herokuapp.com/socket.io/socket.io.js"></script> -->
    <script src="https://venturebility.com:5001/socket.io/socket.io.js"></script>
    <script src="https://cdn.webrtc-experiment.com/FileBufferReader.js"></script>
    <script src="https://cdn.WebRTC-Experiment.com/getScreenId.js"></script>
    <!-- <script src="https://js.stripe.com/v2/"></script> -->
    <script src="https://www.2checkout.com/checkout/api/2co.js"></script>
</head>

<body>
    <div ng-app="taian" class="" ng-controller="TaianCtrl">
        <header-directive></header-directive>
        <menu-directive></menu-directive>
        <div ng-view class="main page {{checkActiveUser() ? 'logged' : ''}}"></div>
    </div>
    <script src="https://js.stripe.com/v3/"></script>
    <!-- <script src="libs/breakpoints.js"></script>
    <script src="libs/app.config.js"></script> -->
    <script src="js/scripts.min.js"></script>
    <script src="js/bundle.js"></script>
    <!-- <script src="libs/animsition.min.js"></script> -->
    <!-- <script src="libs/babel-external-helpers.js"></script>
    <script src="libs/tether.min.js"></script>
    <script src="libs/jquery.mousewheel.min.js"></script>
    <script src="libs/jquery-asScrollbar.min.js"></script>
    <script src="libs/jquery-asScrollable.min.js"></script>
    <script src="libs/jquery-asHoverScroll.min.js"></script>
    <script src="libs/jquery-slidePanel.js"></script>
    <script src="libs/State.js"></script>
    <script src="libs/Component.js"></script>
    <script src="libs/Plugin.js"></script>
    <script src="libs/Base.js"></script>
    <script src="libs/Config.js"></script>
    <script src="libs/tour.js"></script>
    <script src="libs/Menubar.js"></script>
    <script src="libs/GridMenu.js"></script>
    <script src="libs/Sidebar.js"></script>
    <script src="libs/PageAside.js"></script>
    <script src="libs/menu.js"></script>
    <script src="libs/Site.js"></script>
    <script src="libs/slidepanel.js"></script>
    <script src="libs/animate-list.js"></script>
    <script src="libs/BaseApp.js"></script>
    <script src="libs/Contacts.js"></script>
    <script src="libs/asscrollable.js"></script> -->
    <!-- <script src="libs/jt-timepicker.js"></script> -->
    <!-- <script src="libs/Media.js"></script>
    <script src="libs/whiteboard.js"></script> -->
</body>

</html>