<div class="app-contacts mt-30 page-aside-left">
    <div class="">
        <div class="page-header">
            <h1 class="page-title">Companies</h1>
            <div class="page-header-actions">
                <!-- <button class="btn btn-default" ng-click="openPanel($event, {})">Add staffmember</button> -->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:;" ng-click="go('/admin')">Home</a></li>
                    <li class="breadcrumb-item active">Companies</li>
                </ol>
            </div>
        </div>
        <div class="page-content">
            <div class="panel">
                <div class="panel-body container-fluid">
                    <a type="button" class="btn btn-default" ng-href="data:text/csv;charset=utf-8,{{csv}}" download="companies"><i class="fa fa-download"></i></a>
                    <!-- Contacts Content -->
                    <div id="contactsContent" class="page-content-table" data-plugin="selectable">
                    	<form class="panel-search-form" role="search">
							<div class="input-search">
								<i class="input-search-icon wb-search" aria-hidden="true"></i>
								<input type="text" ng-model="search" class="form-control" name="search" placeholder="Search company">
							</div>
						</form>
                        <!-- Contacts -->
                        <table ng-if="companies.length" class="table is-indent" data-plugin="animateList" data-animate="fade" data-child="tr" data-selectable="selectable">
                            <thead>
                                <tr>
                                    <th class="cell-300" scope="col" ng-click="changeSort('name')">Name <i class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th class="cell-300" scope="col" ng-click="changeSort('subdomain')">Subdomain <i class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" ng-click="changeSort('email')">Email <i class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" ng-click="changeSort('admin.first_name')">Admin <i class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th class="cell-300" ng-click="changeSort('status')">Type <i class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" ng-click="changeSort('created_at')">Created At <i class="fa fa-sort" aria-hidden="true"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-click="openPanel($event, company)" ng-repeat="company in companies | filter : { name: search } | orderBy : sort : reverse[sort]">
                                    <td class="cell-300">
                                        <div class="disp-flex">
                                            <div class="flex-col">
												<a class="avatar" href="javascript:void(0)">
													<img class="img-fluid" src="{{company.logo == 'test' || !company.logo ? 'img/facebook-logo.jpeg' : company.logo}}" alt="...">
												</a>
                                            </div>
                                            <div class="flex-col">
                                                <p class="blue-grey-500 m-0">{{company.name}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td><span class="visible-xs header">Subdomain: </span>{{company.subdomain}}</td>
                                    <td class="cell-300"><span ng-show="company.email" class="visible-xs header">Email: </span>{{company.email}}</td>
                                    <td><span class="visible-xs header">Admin: </span>{{company.admin.first_name}} {{company.admin.last_name}}</td>
                                    <td class="cell-300 min">
                                        <span class="visible-xs header type">Type: </span>
                                        <div class="form-group type">
                                            <select ng-model="company.status" ng-click="$event.stopPropagation()" ng-change="updateCompany(company)" class="form-control">
                                                <option value="Approve">Approve</option>
                                                <option value="Rejected">Rejected</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><span class="visible-xs header">Created at: </span>{{company.created}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-if="!companies.length">There are no registered companies yet.{{companies}}</div>
                        <ul data-plugin="paginator" data-total="50" data-skin="pagination-gap"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>