<div class="app-contacts mt-30">

    <div class="">
        <div class="page-header">
            <h1 class="page-title">Documents Required</h1>
            <div class="page-header-actions">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:;" ng-click="go('/admin')">Home</a></li>
                    <li class="breadcrumb-item"><a href="javascript:;" ng-click="go('/admin/plans')">Settings</a></li>
                    <li class="breadcrumb-item active">Documents Required</li>
                </ol>
            </div>
        </div>
        <div class="page-content">
            <div class="panel">
                <div class="panel-body container-fluid">
                    <div class="main_container page-aside-left">
                        <div class="page-aside">
                          <!-- Contacts Sidebar -->
                          <div class="page-aside-switch">
                            <i class="icon wb-chevron-left" aria-hidden="true"></i>
                            <i class="icon wb-chevron-right" aria-hidden="true"></i>
                          </div>
                          <div class="page-aside-inner page-aside-scroll">
                            <div data-role="container">
                              <div data-role="content">
                                <div class="page-aside-section">
                                  <div class="list-group has-actions">
                                    <div class="list-group-item" data-plugin="editlist" ng-repeat="field in adminFields" ng-click="getDocs(field)">
                                      <div ng-show="!field.edit">
                                        <span class="list-text">{{field.title}}</span>
                                        <div class="item-actions">
                                            <a ng-show="!field.edit" href="javascript:void(0)" ng-click="field.edit = true;activeField = field"><i class="icon wb-pencil padding"></i></a>
                                            <a href="javascript:void(0)" ng-click="deleteField(field)"><i class="icon wb-trash padding"></i></a>
                                        </div>
                                      </div>
                                      <div ng-show="field.edit">
                                        <div class="form-group form-material">
                                            <input type="text" class="form-control empty" name="label" ng-model="field.title">
                                            <a href="javascript:void(0)" ng-click="field.edit = false;"><i class="icon wb-close padding"></i></a>
                                            <a href="javascript:void(0)" ng-click="confirmEditField()"><i class="icon wb-check padding"></i></a>
                                        </div>
                                      </div>
                                    </div>
                                    <a class="list-group-item" href="javascript:void(0)" data-toggle="modal" data-target="#addField">
                                        <i class="icon wb-plus" aria-hidden="true"></i> Add New
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="page-main">
                            <div class="container-fluid">
                                <div class="page-header">
                                    <h1 class="page-title">{{activeField.title}}</h1>
                                </div>
                                <div id="contactsContent" class="page-content-table" data-plugin="selectable">
                                    <p class="error" ng-if="deleteError">{{deleteError}}</p>
                                    <table ng-show="activeField.id" class="table is-indent" data-plugin="animateList" data-animate="fade" data-child="tr"
                                    data-selectable="selectable">
                                        <thead>
                                            <tr>
                                                <th scope="col">Title</th>
                                                <th scope="col">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="doc in activeField.docs">
                                                <td>
                                                    <span ng-show="!doc.edit" class="list-text">{{doc.title}}</span>
                                                    <div class="form-group form-material" ng-show="doc.edit">
                                                        <input type="text" class="form-control empty" name="label" ng-model="doc.title">
                                                        <a href="javascript:void(0)" ng-click="doc.edit = false;"><i class="icon wb-close padding"></i></a>
                                                        <a href="javascript:void(0)" ng-click="confirmEdit(doc)"><i class="icon wb-check padding"></i></a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <div class="form-group form-material" ng-show="!doc.edit">
                                                            <a href="javascript:void(0)" ng-click="doc.edit = true"><i class="icon wb-pencil padding"></i></a>
                                                            <a href="javascript:void(0)" ng-click="$event.stopPropagation();deleteDoc(doc)"><i class="icon wb-trash"></i></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-group form-material">
                                                        <input type="text" class="form-control empty" name="label" ng-model="title">
                                                    </div>
                                                </td>
                                                <td>
                                                    <button class="btn btn-default" ng-click="addDoc(title)">Add new required document</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul data-plugin="paginator" data-total="50" data-skin="pagination-gap"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade modal-success" id="addField" aria-hidden="true" aria-labelledby="addProfessionForm" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="newField.title = ''">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Add Field</h4>
      </div>
      <div class="modal-body" id="modal-body">
        <div class="form-group form-material floating">
          <input type="text" name="name" class="form-control" ng-model="newField.title">
          <label class="floating-label">Title</label>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="newField.title = ''" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addField(newField)">Save</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->