<div class="app-contacts mt-30">

<div class="">
	<div class="page-header">
		<h1 class="page-title">Plans</h1>
		<div class="page-header-actions">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:;" ng-click="go('/admin')">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:;" ng-click="go('/admin/plans')">Settings</a></li>
        <li class="breadcrumb-item active">Plans</li>
      </ol>
    </div>
	</div>
	<div class="page-content">
		<div class="panel">
				<div class="panel-body container-fluid">
    			<!-- Contacts Content -->
			    <div id="contactsContent" class="page-content-table" data-plugin="selectable">
			      <!-- Actions -->
			      <p class="error" ng-if="deleteError">{{deleteError}}</p>
			      <!-- Contacts -->
			      <table class="table is-indent" data-plugin="animateList" data-animate="fade" data-child="tr"
			      data-selectable="selectable">
			        <thead>
			          <tr>
			            <th scope="col">Id</th>
									<th scope="col">Title</th>
									<th scope="col">Type</th>
									<th scope="col">Price</th>
									<th scope="col">Created at</th>
									<th scope="col">Actions</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr ng-click="openPanel($event, plan)" ng-repeat="plan in plans">
			            <td><span class="visible-xs header">ID: </span>{{plan.id}}</td>
			            <td><span class="visible-xs header">Title: </span>{{plan.title}}</td>
			            <td><span class="visible-xs header">Type: </span>{{showPlanTitle(plan.plan_type)}}</td>
			            <td><span class="visible-xs header">Price: </span>${{plan.price}}</td>
						<td><span class="visible-xs header">Created at: </span>{{plan.created_at}}</td>
						<td>
							<div class="form-group">
								<a href="javascript:void(0)" ng-click="$event.stopPropagation();deletePlan(plan, $index)"><i class="icon wb-trash"></i></a>
							</div>
						</td>
			          </tr>
			        </tbody>
			      </table>
			      
			      <ul data-plugin="paginator" data-total="50" data-skin="pagination-gap"></ul>
			    </div>
			</div>
		</div>
	</div>
</div>

<!-- Site Action -->
<div class="site-action" data-plugin="actionBtn">
  <button type="button" class="site-action-toggle btn-raised btn btn-success btn-floating" ng-click="openPanel($event, { text_color: '#ffffff', feature: [] })">
    <i class="front-icon wb-plus animation-scale-up" aria-hidden="true"></i>
    <i class="back-icon wb-close animation-scale-up" aria-hidden="true"></i>
  </button>
  <div class="site-action-buttons">
    <button type="button" data-action="trash" class="btn-raised btn btn-success btn-floating animation-slide-bottom">
      <i class="icon wb-trash" aria-hidden="true"></i>
    </button>
    <button type="button" data-action="folder" class="btn-raised btn btn-success btn-floating animation-slide-bottom">
      <i class="icon wb-folder" aria-hidden="true"></i>
    </button>
  </div>
</div>
<!-- End Site Action -->
	
</div>

