<h3>Users</h3>

<table class="table">
	<thead>
		<th>id</th>
		<th>first name</th>
		<th>last name</th>
		<th>email</th>
		<th>type</th>
		<th>is active</th>
		<th>is verified</th>
		<th>created at</th>
	</thead>
	<tbody>
		<tr ng-repeat="user in users">
			<td>{{user.id}}</td>
			<td>{{user.first_name}}</td>
			<td>{{user.last_name}}</td>
			<td>{{user.email}}</td>
			<td>{{user.user_type}}</td>
			<td>{{user.is_active}}</td>
			<td>{{user.is_verified}}</td>
			<td>{{user.created_at}}</td>
		</tr>
	</tbody>
</table>