<div class="app-contacts">
  <header class="slidePanel-header overlay">
    <div class="overlay-panel overlay-background vertical-align">
      <div class="slidePanel-actions">
        <div class="btn-group">
          <!-- <button type="button" class="btn btn-pure btn-inverse icon wb-folder" aria-hidden="true"></button> -->
          <button type="button" class="btn btn-pure btn-inverse icon wb-trash" aria-hidden="true" ng-click="deleteCard()"></button>
          <button type="button" class="btn btn-pure btn-inverse slidePanel-close icon wb-close"
            aria-hidden="true" ng-click="closePanel()"></button>
        </div>
      </div>
      <div class="vertical-align-middle">
        <!-- <h3 class="name">{{selectedCard.title}}</h3> -->
      </div>
      <button type="button" ng-show="edit" class="edit btn btn-success btn-floating" data-toggle="edit" ng-click="saveCard()">
        <i style="margin: 3px 16px 0;" class="icon glyphicon glyphicon-floppy-disk animation-scale-up" aria-hidden="true"></i>
      </button>
    </div>
  </header>
  <div class="slidePanel-inner">
    <div class="slidePanel-content">
      <table class="user-info">
        <tbody>
          <tr>
            <td class="info-label">Card Type:</td>
            <td>
              <span ng-show="!edit">{{selectedCard.card_type}}</span>
              <div class="form-group form-material floating" ng-show="edit">
                <select ng-model="selectedCard.card_type" class="form-control">
                  <option ng-repeat="card in select.cards" value="{{card.value}}">{{card.title}}</option>
                </select>
              </div>
              <span class="error" ng-show="errors.brand">{{errors.brand[0]}}</span>
            </td>
          </tr>
          <tr>
            <td class="info-label">Number:</td>
            <td>
              <span ng-show="!edit">{{selectedCard.number}}</span>
              <div class="form-group form-material floating" ng-show="edit">
                <input type="text" class="form-control empty" name="inputFloatingName" ng-model="selectedCard.number">
              </div>
              <span class="error" ng-show="errors.number">{{errors.number[0]}}</span>
            </td>
          </tr>
          <tr>
            <td class="info-label">Month:</td>
            <td>
              <span ng-show="!edit">{{selectedCard.month}}</span>
              <div class="form-group form-material floating" ng-if="edit">
                <!-- <theme-select select="select.card_month" value = "0" no-choose="changeCardMonth(value)"></theme-select> -->
                <select ng-model="selectedCard.month" class="form-control">
                  <option ng-repeat="month in select.card_month" value="{{month.value}}">{{month.title}}</option>
                </select>
                <span class="error" ng-show="errors.month">{{errors.month[0]}}</span>
              </div>
            </td>
          </tr>
          <tr>
            <td class="info-label">Year:</td>
            <td>
              <span ng-show="!edit">{{selectedCard.year}}</span>
              <div class="form-group form-material floating" ng-if="edit">
                <input type="number" min="{{currentYear}}" class="form-control empty" name="inputFloatingAddress" ng-model="selectedCard.year">
              </div>
              <span class="error" ng-show="errors.year">{{errors.year[0]}}</span>
            </td>
          </tr>
          <tr>
            <td class="info-label">CVC:</td>
            <td>
              <span ng-show="!edit">{{selectedCard.cvc}}</span>
              <div class="form-group form-material floating" ng-if="edit">
                <input type="number" class="form-control empty" name="inputFloatingcvc" ng-model="selectedCard.cvc">
              </div>
              <span class="error" ng-show="errors.verification_value">{{errors.verification_value[0]}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>