<div class="app-contacts">
  <header class="slidePanel-header overlay">
    <div class="overlay-panel overlay-background vertical-align">
      <div class="slidePanel-actions">
        <div class="btn-group">
          <!-- <button type="button" class="btn btn-pure btn-inverse icon wb-folder" aria-hidden="true"></button> -->
          <button type="button" class="btn btn-pure btn-inverse icon wb-trash" aria-hidden="true" ng-click="deleteKey()"></button>
          <button type="button" class="btn btn-pure btn-inverse slidePanel-close icon wb-close"
            aria-hidden="true" ng-click="closePanel()"></button>
        </div>
      </div>
      <div class="vertical-align-middle">
        <h3 class="name">{{selectedCard.title}}</h3>
      </div>
      <button type="button" ng-show="edit" class="edit btn btn-success btn-floating" data-toggle="edit" ng-click="saveStripe(selectedKey)">
        <i style="margin: 3px 16px 0;" class="icon glyphicon glyphicon-floppy-disk animation-scale-up" aria-hidden="true"></i>
      </button>
    </div>
  </header>
  <div class="slidePanel-inner" data-role="container">
    <table class="user-info slidePanel-content" data-role="content">
      <tbody>
        
        <tr>
          <td class="info-label">Stripe Key:</td>
          <td>
            <span ng-show="!edit">{{selectedKey.key}}</span>
            <div class="form-group form-material floating" ng-show="edit">
              <input type="text" name="key" class="form-control" ng-model="selectedKey.key">
            </div>
            <span class="error" ng-show="errors.stripe">{{errors.stripe}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>