<div class="app-contacts">
  <header class="slidePanel-header overlay">
    <div ng-style="{ 'background-color': selectedPlan.color }" class="overlay-panel overlay-background vertical-align">
      <div class="slidePanel-actions">
        <div class="btn-group">
          <!-- <button type="button" class="btn btn-pure btn-inverse icon wb-folder" aria-hidden="true"></button> -->
          <button ng-show="selectedPlan.id" type="button" class="btn btn-pure btn-inverse icon wb-trash" aria-hidden="true" ng-click="deletePlan()"></button>
          <button type="button" class="btn btn-pure btn-inverse slidePanel-close icon wb-close"
            aria-hidden="true" ng-click="closePanel()"></button>
        </div>
      </div>
      <div class="vertical-align-middle">
        <h3 class="name" ng-style="{ 'color': selectedPlan.text_color }">{{selectedPlan.title}}</h3>
        <!-- <div class="tags">
          <button type="button" class="btn btn-outline btn-inverse">Desginer</button>
          <button type="button" class="btn btn-outline btn-inverse">UI</button>
          <button type="button" class="btn btn-outline btn-inverse">Rocker</button>
        </div> -->
      </div>
      <button type="button" class="edit btn btn-success btn-floating" data-toggle="edit" ng-click="toggleEdit()">
        <i class="icon wb-pencil animation-scale-up" ng-show="!edit" aria-hidden="true"></i>
        <i style="margin: 3px 16px 0;" class="icon glyphicon glyphicon-floppy-disk animation-scale-up" ng-show="edit" aria-hidden="true"></i>
      </button>
    </div>
  </header>
  <div class="slidePanel-inner" data-plugin="scrollable" data-role="container">
    <div data-role="content" class="slidePanel-content">
      <table class="user-info">
        <tbody>
          <tr>
            <td class="info-label">Title:</td>
            <td>
              <span ng-show="!edit">{{selectedPlan.title}}</span>
              <div class="form-group form-material floating" ng-show="edit">
                <input type="text" class="form-control empty" name="inputFloatingName" ng-model="selectedPlan.title">
              </div>
            </td>
          </tr>
          <tr>
            <td class="info-label">Type:</td>
            <td>
              <span ng-show="!edit">{{selectedPlan.plan_type}}</span>
              <div class="form-group form-material floating" ng-if="edit">
                <!-- <input type="email" class="form-control empty" name="inputFloatingEmail" ng-model="selectedPlan.plan_type"> -->
                <select ng-model="selectedPlan.plan_type" class="form-control" ng-change="changePlanType()">
                  <option ng-repeat="type in types" value="{{type.value}}">{{type.title}}</option>

                </select>
              </div>

            </td>
          </tr>
          <tr>
            <td class="info-label">Price:</td>
            <td>
              <span ng-show="!edit">{{selectedPlan.price}}</span>
              <div class="form-group form-material floating" ng-show="edit">
                <input type="number" min="1" class="form-control empty" name="inputFloatingAddress" ng-model="selectedPlan.price">
              </div>
            </td>
          </tr>
          <tr>
            <td class="info-label">Color:</td>
            <td>
              <span ng-show="!edit">{{selectedPlan.color}}</span>
              <div class="form-group form-material floating" ng-show="edit">
                <input colorpicker type="text" class="form-control empty" name="inputFloatingColor" ng-model="selectedPlan.color">
              </div>
            </td>
          </tr>
          <tr>
            <td class="info-label">Text Color:</td>
            <td>
              <span ng-show="!edit">{{selectedPlan.text_color}}</span>
              <div class="form-group form-material floating" ng-show="edit">
                <input colorpicker type="text" class="form-control empty" name="inputFloatingColor" ng-model="selectedPlan.text_color">
              </div>
            </td>
          </tr>
          <tr>
            <td class="info-label">Company logo allowed:</td>
            <td>
              <div class="form-group form-material floating">
                <input type="checkbox" name="inputFloatingCompanyLogo" ng-model="selectedPlan.is_logo_allowed" ng-disabled="!edit">
              </div>
            </td>
          </tr>
          <tr>
            <td class="info-label">Company color allowed:</td>
            <td>
              <div class="form-group form-material floating">
                <input type="checkbox" name="inputFloatingCompanyColor" ng-model="selectedPlan.is_color_allowed" ng-disabled="!edit">
              </div>
            </td>
          </tr>
          <tr>
            <td class="info-label">Max number of staff members:</td>
            <td>
              <span ng-show="!edit">{{selectedPlan.staff_members}}</span>
              <div class="form-group form-material floating" ng-show="edit">
                <input type="number" min="0" class="form-control empty" name="inputFloatingStaffmembers" ng-model="selectedPlan.staff_members">
              </div>
            </td>
          </tr>
          <tr>
            <td class="info-label">Memory(GB):</td>
            <td>
              <span ng-show="!edit">{{selectedPlan.memory}}</span>
              <div class="form-group form-material floating" ng-show="edit">
                <input type="number" min="0" step="0.1" class="form-control empty" name="inputFloatingMemory" ng-model="selectedPlan.memory">
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="user-info">
        <thead>
          <tr>
            <td>Features</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="feature in selectedPlan.feature track by $index">
            <td class="w-20">{{$index + 1}}.</td>
            <td class="w-200" ng-show="!feature.edit">{{feature.title}}</td>
            <td class="w-200" ng-show="feature.edit">
              <div class="form-group form-material floating">
                <input type="text" class="form-control empty" name="inputFloatingColor" ng-model="feature.title">
              </div>
            </td>
            <td ng-show="edit">
              <a ng-show="feature.edit" href="javascript:void(0)" ng-click="saveFeature(feature)"><i class="icon wb-check padding"></i></a>
              <a ng-show="!feature.edit" href="javascript:void(0)" ng-click="feature.edit = true"><i class="icon wb-pencil padding"></i></a>
              <a href="javascript:void(0)" ng-click="removeFeature(feature)"><i class="icon wb-trash padding"></i></a>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <div class="form-group form-material floating" ng-show="edit">
                <input type="text" class="form-control empty" name="inputFloatingColor" ng-model="newFeature.title">
                <button class="btn btn-primary mt-10" ng-click="createFeature(newFeature)">Add new</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>