.choose_users_btn {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.choose_users_container {
    width: 100%;
    margin-bottom: 20px;
}

.errors p{
  color: red;
}
/* Specify styling for tooltip contents */
.tooltip.calendarTooltip{
  overflow: hidden;
  opacity: 1;
  border-radius: 3px;
  .tooltip-inner {
          color: #fff;
          background-color: #fff;
          /*box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
          min-width: 300px;
          max-width: 400px;
          text-align: left;
          padding: 0;
          .tooltip_container{
            overflow: hidden;
            .tooltip_header{
              border-radius: 3px 3px 0 0;
              overflow: hidden;
              /*background-color: #62a8ea;*/
              padding: 5px;
              .avatar{
                width: 50px;
                height: 50px;
                margin-right: 15px;
                background-size: cover;
                float: left;
              }
              .name{
                font-size: 18px;
              }
              .email{   
                font-size: 14px;
              }
            }
            .tooltip_body{
              color:#76838f;
              .widget-content{
                padding: 0;
                margin: 0;
                ul{
                  padding: 0;
                  margin: 0;
                  border-left: 0.5px solid rgba(0, 0, 0, 0.2);
                  border-right: 0.5px solid rgba(0, 0, 0, 0.2);
                  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
                  overflow: hidden;
                  border-radius: 0 0 3px 3px!important; 
                }
              }
            }
          }
 }
 .tooltip-arrow {
    display: none;
    /*background-color: #62a8ea;
    color:#62a8ea;*/
  }   
}
.table{
  thead{
    tr{
      th {
          border-bottom: 1px solid #ddd;
        }
      }
    }
}
.panel{
    .panel-body {
        .table
           td {
              vertical-align: middle;
              padding: 20px 8px;
           }
    }
}

.section-header {
  float: right;
}

#videos-container {
    overflow: hidden;
    // background: rgba(204, 204, 204, 0.54);
    // padding: 5px;
    // border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    & .video-container {
       width: 25%;
       float: left;
       padding: 5px;
       & button{
          margin: 20px auto;
       }
       & video{
               width: calc(100% - 30px);
               margin:0 15px;
            }
       &:first-child {
            & video{
               width: calc(100% - 30px);
              margin-top: 15px;
            }
            width: 100%;
            text-align: center;
        }
    }
}
.table_container {
    background: #fff;
    padding: 1px 15px;
    border-radius: 5px;
    overflow: overlay;
    margin-bottom: 15px;
    & .table_row {
        display: block;
        // background: rgba(204, 204, 204, 0.19);
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 15px;
        & .table_cell{
            float: left;
            // padding: 10px;
            &.video{
              width:200px;
            }
            &.options{
              width:calc(100% - 200px);
            }
            & button.btn{
                display:inline-block;
                float: right;
                margin-left: 10px;
            }
            & video{
              max-width: 200px;
              min-width: 200px;
              }
        }
    }
}


.modal-dialog {
  width: 600px;
}
.logo_container {
    margin-top: 15px;
}

.logo_image_rec {
  width: 100px;
  max-width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover;
  background-position: top center;
  position: relative;
  display: inline-block;
}

.add-rec-title {
  font-size: 15px;
  margin-bottom: 15px;
}

.logo_image {
    /*width: 200px;*/
    max-width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 30px auto;
    background-size: cover;
    background-position: top center;
    position: relative;
}

.brand-logo {
  background-size: cover;
  background-position: top center;
  width: 150px;
  height: 150px;
  max-width: 150px;
  margin: 10px auto;
}

.company-logo {
    width: 200px;
    height: 200px;
    max-width: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: top center;
    position: relative;
    float: right;
    cursor: pointer;
}

.company-input {
    width: calc(100% - 210px);
}

.checkbox_input input:before {
   content: "";
   background-color: #fff;
   border: 1px solid #dfdfdf ;
   border-radius: 20px;
   cursor: pointer;
   display: inline-block;
   height: 30px;
   position: relative;
   vertical-align: middle;
   width: 50px;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   box-sizing: content-box;
   background-clip: content-box;
   background-color: #ac2a2f ;
   border-color: rgb(223, 223, 223);
   box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
   transition: border 0.4s, box-shadow 0.4s;
   top: -10px;
   left: -10px;
}

.count_non_active_users span {
    position: absolute;
    top: 4px;
    right: 0;
    background: red;
    width: auto;
    height: 17px;
    font-size: 13px;
    border-radius: 50%;
    padding: 0px 5px;
    text-align: center;
}

.count_non_active_users {
    position: relative;
}

.checkbox_input input:checked:before {
   background-color: #c58d3f ;
   border-color: #c58d3f ;
   box-shadow: #c58d3f 0px 0px 0px 16px inset;
   transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;
}

.checkbox_input {
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
}

.checkbox_input input:after {
   content: "";
   background: #fff;
   border-radius: 100%;
   box-shadow: 0 1px 3px rgba(0,0,0,0.4);
   height: 30px;
   position: absolute;
   top: -4.5px;
   width: 30px;
   left: -8px;
   background-color: rgb(255, 255, 255);
   transition: left 0.2s;
}

.checkbox_input input:checked:after {
   left: 11px;
}

span.delete_logo {
    position: absolute;
    right: 0;
    top: 0;
    color: #f96868;
    font-size: 18px;
    cursor: pointer;
}

input#user_logo {
    visibility: hidden;
}


.update_form {
    width: calc(50% - 15px);
    display: inline-block;
}

.logo_container {
    width: calc(50% - 15px);
    float: right;
}

.rule_block {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #2e6da4;
}

.add_work_time{
    border: 1px solid #337ab7;
    overflow: hidden;
    margin: 15px 0;
    padding: 15px;
}

.rules {
    width: 300px;
    max-height: 615px;
    float: right;
    margin-left: 15px;
    overflow-y: auto;
}

.calendar_rules {
    width: calc(100% - 315px);
    float: left;
}



body {
    background-color: #f5f5f5;
    /*padding-top: 0 !important;*/
}



.page_login {
    max-width: 400px;
    margin: auto;
    height: 314px;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 30px;
}

.login_back {
    background: url(../img/login.jpg);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    background-size: cover;
    &:after {
        position: fixed;
        top: 0;
        left: 0;
        content: '';
        right: 0;
        background-color: rgba(38,50,56,.6);
        z-index: 0;
        bottom: 0;
    }
}



.full-width-con{
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    padding: 0 15px;
}

.page_login .form-control {
    margin: 5px 0 15px 0;
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #c3c3c3;
    min-height: 40px;
    vertical-align: middle;
    line-height: 30px;
    font-size: 18px;
    border-radius: 0;
    outline: none;
}

span.input_label {
    margin: 5px 0;
    display: inline-block;
    color: #777;
    font-size: 18px;
    font-weight: 500;
}

.add_new{
    float: right;
    margin: 20px 0;
}
.datepick .dropdown-menu {
    width: initial;
}
.dropdown-menu {
    width: 100%;
}

/*button.btn.btn-default {
    padding: 5px 10px;
    background: #237fbc;
    border: 2px solid #237fbc;
    min-height: 40px;
    vertical-align: middle;
    font-size: 18px;
    border-radius: 0;
    color: #fff;
    transition:0.3s all;
    outline: none;
}



button.btn.btn-default:hover {
    background: #fff;
    color: #237fbc;
}*/

button.btn.btn-primary.error {
    pointer-events: none;
    opacity: 0.6;
}

.form_error {
    font-size: 12px;
    margin: 5px 0;
    color: red;
}

.profile_list {
    width: calc(50% - 15px);
    float: left;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    background: #fff;
    margin-bottom: 12px;
    cursor: pointer;
    border: 1px solid #237fbc;
    color: #237fbc;
    transition: 0.4s all;

    &:hover{
        color: #fff;
        background: #237fbc;
    }
    &:first-child{
        margin-right: 30px;
    }
}

.account_keys{
    overflow-y: scroll;
    span{
        display: block;
        max-width: 320px;
    }
}

.modal-footer{
    .submit{
        pointer-events: none;
        opacity: 0.6;
        &.success{
         opacity: 1;
         pointer-events: visible;
        }
    }
    .error{
        pointer-events: none;
        opacity: 0.6;
    }
}
.error{
  color: red;
}

.cursor-pointer{
  cursor:pointer;
}
.reception{
  .details{
     margin: 15px 0;
     background: #fff;
     .detail{
        padding: 10px;
        .title{
          font-weight: 800;
        }
     }
  }
}

.navbar-brand > img.navbar-brand-logo {
  max-width: 50px;
}

span.delete {
     display: inline-block;
     cursor: pointer;
     width: 20px;
     height: 20px;
     position: relative;
     &:before {
       cursor: pointer;
       content: "";
       width: 20px;
       height: 2px;
       background: red;
       position: absolute;
       top: 10px;
       left: 0px;
       transform: rotate(-45deg);
    }
      &:after {
         cursor: pointer;
       content: "";
       width: 20px;
       height: 2px;
       background: red;
       position: absolute;
       top: 10px;
       left: 0px;
       transform: rotate(45deg);
    }
  }
label.btn-upload {
    background: #2e6da4;
    color: #fff;
    &:hover{
      color:#fff;
    }
}

.ajax-query {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  z-index: 10000;
}

.ajax-query .item {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: 40%;
  right: 0;
  margin: auto;
  text-align: center;
  line-height: 136px;
  color: #f3f3f3;
}

.ajax-query .item:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 2px;
  height: 30px;
  background-color: #f3f3f3;
  -webkit-animation: ajaxanimation 1.2s infinite ease-in-out both;
          animation: ajaxanimation 1.2s infinite ease-in-out both;
}
.ajax-query .item2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.ajax-query .item3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.ajax-query .item4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.ajax-query .item5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.ajax-query .item6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.ajax-query .item7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.ajax-query .item8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.ajax-query .item9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.ajax-query .item10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.ajax-query .item11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg);
}
.ajax-query .item12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg);
}
.ajax-query .item2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
.ajax-query .item3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.ajax-query .item4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
.ajax-query .item5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.ajax-query .item6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}
.ajax-query .item7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.ajax-query .item8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.ajax-query .item9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.ajax-query .item10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.ajax-query .item11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.ajax-query .item12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

@-webkit-keyframes ajaxanimation {
  0%, 44%, 100% { opacity: 0; }
  45% { opacity: 1; }
}

@keyframes ajaxanimation {
  0%, 44%, 100% { opacity: 0; }
  45% { opacity: 1; }
}

.site-menu-sub.site-menu-sub-up {
  max-height: none !important;
}


