$grey3 : #c2c2c2;
.dashboard_widget {
    text-align: center;
    padding: 10px;
    background: #fff;
    min-height: 120px;
    border: 1px solid $grey3;
    margin-top: 15px;

    h1,h4{
      margin: 10px;
    }
}

.main_container{
    margin-bottom: 100px;
}
.btn-select {
    min-width: 160px;
    padding: 2.5px 25px 2.5px 5px;
    background: #fff;
    border: 1px solid #c3c3c3;
    min-height: 34px;
    vertical-align: middle;
    line-height: 25px;
    cursor: pointer;
    .option_content{
    padding:0px 0px 0px 5px; 
    }
}

.color1 {
    color: #237fbc;
}
.color2 {
    color: #23bc4e;
}
.color3 {
    color: #f89f2b;
}
.color4 {
    color: #9536c6;
}

.flag, .game_img {
    background: url(/admin/img/flag_uk.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    width: 25px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    float: left;
}

.game_img{
  background: url(/admin/img/game_img.png); 
  background-size: contain;
  background-repeat: no-repeat;  
}

.select {
    display: inline-block;
    margin: 15px 10px 15px 0;
    vertical-align: bottom;

    span.select_title {
    margin: 5px 0;
    display: inline-block;
    color: #777;
    font-size: 18px;
    font-weight: 500;
    }
    .dropdown-menu{
        min-width:150px;
        max-height: 300px;
        overflow-y: auto;
        li{
            a {          
                padding: 5px 8px;
                line-height:30px;
                font-size: 18px;
                }
         }

        li{
            div {          
                 overflow: hidden;
                 padding: 2px 4px;
                }
         } 


    }
}

.block-container{
    margin-bottom: 40px;
    margin-top: 40px;
}
.block{
    border: 1px solid $grey3;
    padding: 20px;
}
.page_header{
    background:#fff;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    overflow: hidden;
    h1{
    color:#237fbc;
    margin: 30px 0;
    }
}

.input-group .theme-dp-btn {
    min-height: 45px;
}

.theme-input {
    padding: 21.5px 10px;
    border-radius: 0;
    border: 1px solid #c3c3c3;
    background: #fff !important;
}

.dropdown{
 span {
    font-size: 14px;
 }
}

.search_block {
    width: calc(100% - 30px);
    margin: 0 auto 15px auto;
    overflow: hidden;

    i {
    position: absolute;
    top: 10px;
    right: 12px;
    color: #bfbfbf;
    font-size: 18px;
    }

    input {
    padding: 9px;
    background: transparent;
    border: 1px solid #c3c3c3;
    color: #333;
    outline: none;
    padding-right: 35px;
    }

    h3 {
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 15px;
    }
    .search_input {
    position: relative;
    float: right;
    top: 5px;
    }
}

.table_block {
    width: 100%;
    overflow-x: auto;
    table{
        width:100%;
        text-align:left;
        border: 1px solid $grey3;
            td, th {
                border: none;
                text-align: left;
                padding: 25px;
            }
            th {
                border-bottom: 1px solid $grey3;
            }
            tr:nth-child(even) {
                background-color: #fafafa;
            }
        }
}

.select_image{
    display: inline-block;
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 6px;
    background-size: cover;
    background-repeat: no-repeat;
}

.overflow_hidden{
    overflow: hidden;
    clear: both;
}

span{
    .op_title {
    display: block;
    font-size: 16px;
    font-weight: 500;
    }
    &.op_desc {
    display: block;
    font-size: 13px;
    color: $grey3;
    }
    &.caret {
    position: absolute;
    top: 2px;
    bottom: 0;
    right: 10px;
    margin: auto;
    border-top: 8px dashed $grey3;
}
}
.option_content {
    display: block;
    padding:5px 10px;
}
.icon_select{
 .option_content {
    margin-left: 34px;
    line-height: 16px;
  }
}
.bookings-container{
    margin: 5px;
    float: left;
    display: inline-block;
    .label{
        color: #fff;
        &.label-1{
            background: blue;
        }
        &.label-2{
            background: green;
        }
        &.label-3{
            background: orange;
        }
        &.label-4{
            background: red;
        }
        &.label-rule{
            background: rgb(40, 220, 185);
        }
        &.label-undefined{
            background: rgb(40, 220, 185);
        }
    }
}
.right{
    float: right;
}
.toggle_menu{
    overflow: hidden;
    ul{
        padding: 10px 0 10px 0;
        li{
            list-style: none;
            display: inline-block;
            font-size: 18px;
            cursor: pointer;
            &.active{
                text-decoration: underline;
                color: #277690;
            }
        }
    }
}
.status_hints{
   .status_hint{
    display: block;
    clear: both;
    overflow: hidden;
    margin: 5px 5px 5px 0;
    .status_color{
        width: 25px;
        height: 25px;
        float: left;
        display: inline-block;
        margin-right: 15px;
    }
    .status_title{
        line-height: 25px;
        height: 25px;
        float: left;
        display: inline-block;
    }
   }
}
.page-header .breadcrumb li {
    cursor: pointer;
}