@media (max-width: 767px) {

    .search_block {
        width: calc(100% - 30px);
        margin: 0 auto 15px auto;
        overflow: hidden;
    }

    .search_block h3 {
        display: block;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .search_input {
        position: relative;
        float: none;
        top: 0;
        display: inline-block;
    }

    .select {
        display: block;
        margin: 15px 10px 15px 0;
    }

    .select .btn-select {
        position: relative;
    }

    .navbar-default .navbar-nav {
        float: right;
        margin-right: 0;
    }

    .user_logo {
        right: 75px;
    }
}

@media (max-width: 767px) {
    .modal-dialog {
        width: 100%;
    }
    .company-logo {
        width: 100px;
        height: 100px;
        max-width: 100px;
    }
    .company-input {
        width: calc(100% - 110px);
    }
    .site-menubar-unfold .page.logged, .site-menubar-unfold .site-footer {
        margin-left: auto;
    }
}