.date-block .centered-block {
    margin-top: 47px;
}

.seats-available {
	font-size: $notificationFontSize;
	font-weight: $bookingFontWeight;
	color: $green;
	padding-top: 25px;
    display: block;
    padding-bottom: 25px;

	&--icon {
		background: url(../img/icons/icon-seats.svg) no-repeat;
		display: inline-block;
		width: 32px;
		height: 15px;
		position: relative;
    	top: 2px;
    	right: 4px;
	}

}

.seats-unavailable {
	font-size: $stepTextFontSize;
	font-weight: $notificationFontWeight;
	color: $grey2;
	padding-top: 25px;
    display: block;
    text-align: center;
    padding-bottom: 25px;

    a {
    	color: $earthYellow;
    	font-size: $notificationFontSize;

    	&:hover {
    		color: $earthYellow;
    	}
    }

    &--label {
    	margin-bottom: 0;
    }

    &--icon {
		background: url(../img/icons/icon-smile.svg) no-repeat;
		display: block;
		width: 20px;
		height: 20px;
		margin: 0 auto 12px;
	}
}

.time-block {
	.time {
		&--title {
		    margin-top: 49px;
		    font-size: $timeTitleSize;
		    color: $greyStepsLight;
		    font-weight: $timeTitleWeight;

		    a {
		    	color: $earthYellow;
		    	&:hover {
		    		color: $earthYellow;
		    	}
		    }
		}

		&--btn-group {
			max-width: 319px;

			&>.btn:not(.dropdown-toggle) {
				color: $greyStepsDark;
    			font-size: $buttonTextSmall;
	    		display: block;
	    		padding: 8px 13px;
	    		border: 1px solid $greyStepsDark;
	    		margin: 10px;
	    		@include border-radius(50px);
	    		@include transition(all $animationTime ease);

	    		&.active {
	    			background: $burgundy;
    				color: $light;
    				border-color: $burgundy;
	    		}
	    	}
	    	&>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle), 
	    	&>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
	    		@include border-radius(50px);
	    	}
		}
	}
}

.icon-eating {
	width: 319px;
	background: url(../img/icons/icon-eating.svg) no-repeat center;
	margin: 27px auto;
	height: 19px;
	display: block;

	&:before, &:after {
	    content: "";
	    display: inline-block;
	    height: 1px;
	    position: relative;
	    vertical-align: middle;
	    background: $greyStepsBorder;
	    width: 46%;
	}
	&:before {
		right: 1.5em;
	    margin-left: -62%;
	}
	&:after {
		left: 1.5em;
	    margin-right: -62%;
	}

	+ .time-block .time--title {
		margin-top: 33px;
	}
}
.time-block .step-next {
	margin-top: 125px;
}

.review-block {
	.title {
		z-index: 1;
	}
	&--img {
	    width: 400px;
	    position: relative;
	    top: -73px;
	    left: 32px;
	    z-index: -1;
	    margin-bottom: -60px;
	}
	.icon-eating {
		margin-bottom: 30px;
	}
	.notification {
		a {
			display: block;
    		margin-top: 8px;
		}
	}
}

.personal-info {
	.form {
	    width: 360px;
	    text-align: left;
	    margin: 0 auto;
	    min-height: 350px;
	    margin-top: 35px;
	}
	.notification {
	    margin-top: 46px;
	    margin-bottom: 24px;
	}
}

.waiting-list-modal {
	.form {
	    text-align: left;
	    margin: 0 auto;
	    min-height: 335px;
	    margin-top: 22px;
	    overflow-y: auto;
	    height: 335px;
	}
	.notification {
	    margin-top: 0;
	    text-align: center;
	    margin-bottom: 24px;
	}
}

.payment-block {
	&--title {
		padding-left: 9px;
	}
	&--isadded {
	    position: absolute;
	    width: 22px;
	    height: 22px;
	    display: block;
	    border: 1px solid $grey2;
	    top: 23px;
	    right: 19px;
	    padding: 5px 5.5px;
	    @include border-radius(50%);
	    @include transition(all $animationTime ease);
	}
	.notification a {
	    display: block;
	    margin-top: 7px;
	}
	.payment {
		&--btn-group {
			max-width: 660px;
			display: block;
    		overflow: hidden;
   			margin: 25px auto 12px;

			.icon-alipay {
				background: url(../img/icons/icon-alipay.svg) no-repeat;
				width: 25px;
				height: 25px;
				position: relative;
    			top: 5px;
				display: inline-block;
			}

			.icon-paypal {
				background: url(../img/icons/icon-paypal.svg) no-repeat;
				width: 21px;
				height: 25px;
				position: relative;
    			top: 6px;
				display: inline-block;
			}

			.icon-wechat {
				background: url(../img/icons/icon-wechat.svg) no-repeat;
				width: 27px;
				height: 24px;
				display: inline-block;
				position: relative;
    			top: 7px;
			}

			.icon-no-card {
				background: url(../img/icons/icon-no-card.svg) no-repeat;
				width: 26px;
				height: 26px;
				display: inline-block;
				position: relative;
    			top: 7px;
			}

			&>.btn:not(.dropdown-toggle) {
				position: relative;
				color: $grey2;
    			font-size: $buttonText;
    			font-weight: 500;
	    		display: block;
	    		width: 310px;
	    		padding: 15px 20px;
	    		border: 0;
	    		text-align: left;
	    		margin: 10px;
	    		background: $nextStepBg;
	    		@include border-radius(10px);
	    		@include transition(all $animationTime ease);

	    		&.active {
	    			.payment-block--isadded {
	    				border-color: $burgundy;
	    				background: $burgundy;

	    				&:before {
						    content: "";
						    position: absolute;
						    background: url(../img/icons/icon-payment-checked.svg) no-repeat;
						    width: 9px;
						    height: 10px;
						    display: block;
						}
	    			}
	    		}
	    	}
	    	&>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle), 
	    	&>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
	    		@include border-radius(10px);
	    	}
		}
	}
}