.app-contacts .page-content-actions .btn-group {
  margin-left: -6px;
}

.app-contacts .page-content-actions .btn-pure.btn-default {
  color: #a3afb7;
}

.app-contacts .page-content-actions .btn-pure.btn-default.active, .app-contacts .page-content-actions .btn-pure.btn-default:focus, .app-contacts .page-content-actions .btn-pure.btn-default:hover {
  color: #76838f;
}

.app-contacts table > thead > tr > th, .app-contacts table > tbody > tr > th, .app-contacts table > thead > tr > td, .app-contacts table > tbody > tr > td {
  vertical-align: middle;
  white-space: nowrap;
}

.app-contacts table .avatar {
  vertical-align: middle;
  margin-right: 10px;
}

.app-contacts .slidePanel-actions {
  float: none;
  position: absolute;
  top: 15px;
  right: 20px;
}

.app-contacts .slidePanel-actions .btn-pure {
  color: #ccd5db;
}

.app-contacts .slidePanel-actions .btn-pure.active, .app-contacts .slidePanel-actions .btn-pure:focus, .app-contacts .slidePanel-actions .btn-pure:hover {
  color: #fff;
}

.app-contacts .slidePanel-header {
  width: 100%;
  height: 250px;
  text-align: center;
  overflow: inherit;
}

.app-contacts .slidePanel-header .avatar {
  width: 100px;
}

.app-contacts .slidePanel-header .name {
  font-size: 20px;
}

.app-contacts .slidePanel-header .edit {
  position: absolute;
  bottom: -26px;
  right: 20px;
}

.app-contacts .slidePanel-header .edit .wb-close {
  /*display: none;*/
}

.app-contacts .slidePanel-header .edit.active .wb-close {
  display: inline-block;
}

.app-contacts .slidePanel-header .edit.active .wb-pencil {
  display: none;
}

.app-contacts .main_container.page-aside-left {
  min-height: 300px;
}

.app-contacts .main_container.page-aside-left .icon.padding{
  padding-right: 10px;
}

.app-contacts .main_container.page-aside-left .scrollable-vertical.is-enabled .scrollable-container {
    height: 300px !important;
    overflow-y: auto !important;
}

.slidePanel .user-info {
  /*margin: 30px 0;*/
}

.slidePanel .user-info td {
  padding: 15px 0 15px 10px;
}

.slidePanel .user-info .info-label {
  width: 120px;
}

.slidePanel .user-info .form-group {
  /*display: none;*/
  margin: 0;
}

.slidePanel .user-info.active span {
  display: none;
}

.slidePanel .user-info.active .form-group {
  display: block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.app-contacts table .form-group {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .app-contacts .responsive-hide .tablesaw-cell-label {
    display: none;
  }
  .app-contacts table > thead > tr > th, .app-contacts table > tbody > tr > th, .app-contacts table > thead > tr > td, .app-contacts table > tbody > tr > td {
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
  }
  .app-contacts .page-content-actions .actions-right {
    float: none;
    display: block;
  }
  .app-contacts .page-content-actions .actions-right .dropdown-toggle {
    border-color: #e4eaec;
  }
}

@media (max-width: 479px) {
  .app-contacts .page-header .page-header-actions {
    margin-top: 20px;
    position: relative;
    top: 0;
    right: 0;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
