.page-profile .card-block {
  padding: 40px 15px;
  background-color: #fff;
}

.page-profile .card-footer {
  padding: 10px;
  background-color: #f6f9fd;
  border-top: none;
}

.page-profile .card .avatar {
  width: 130px;
  margin-bottom: 10px;
}

.page-profile .profile-user {
  margin-bottom: 10px;
  color: #263238;
}

.page-profile .profile-job {
  margin-bottom: 20px;
  color: #a3afb7;
}

.page-profile .profile-social {
  margin: 25px 0;
}

.page-profile .profile-social .icon {
  margin: 0 10px;
  color: rgba(55, 71, 79, .4);
}

.page-profile .profile-stat-count {
  display: block;
  margin-bottom: 3px;
  color: #526069;
  font-size: 20px;
  font-weight: 100;
}

.page-profile .profile-stat-count + span {
  color: #a3afb7;
}

.page-profile .page-content .list-group-item {
  padding: 25px 15px;
  border-top-color: #e4eaec;
}

.page-profile .page-content .list-group-item:first-child {
  border-top: transparent;
}

.page-profile .page-content .list-group-item:last-child {
  border-bottom-color: #e4eaec;
}

.page-profile .page-content .list-group-item .media .avatar {
  width: 50px;
}

.page-profile .page-content .list-group-item .media small {
  color: #a3afb7;
}

.page-profile .page-content .list-group-item .media-heading {
  font-size: 16px;
}

.page-profile .page-content .list-group-item .media-heading span {
  margin-left: 5px;
  color: #76838f;
  font-size: 1rem;
}

.page-profile .page-content .list-group-item .media .media:first-child {
  border-top: none;
}

.page-profile .profile-readMore {
  margin: 40px 0;
}

.page-profile .profile-brief {
  margin-top: 20px;
}

.page-profile .profile-uploaded {
  float: left;
  max-width: 220px;
  width: 100%;
  max-height: 150px;
  padding: 0 20px 20px 0;
}

.page-profile.reception h4 {
  margin-top: 0;
}

.page-profile.reception .card-block:first-child {
    border-top: none;
}

.page-profile.reception .card-block {
    padding: 25px;
    border-top: 1px solid #e4eaec;
}
.page-profile.reception .patient-email {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.page-profile.reception .site-action {
    bottom: 13px;
    right: 0px;
}

.page-profile.reception table.uib-timepicker {
  margin: 0;
}

.page-profile.reception .tab-pane .col-lg-6.col-md-6.col-sm-6 {
  padding: 0;
}
.page-profile.reception .tab-pane .btn-link {
  padding-bottom: 0;
  padding-top: 0;
}
.page-profile.reception .tab-pane .reception-timepicker {
  overflow: hidden;
  margin-bottom: 15px;
}
.page-profile.reception .btn-select {
      min-width: 160px;
    padding: 2.5px 25px 2.5px 5px;
    background: #fff;
    border: 1px solid #c3c3c3;
    min-height: 34px;
    vertical-align: middle;
    line-height: 25px;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e4eaec;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 2.573rem;
    -webkit-transition: -webkit-box-shadow .25s linear,border .25s linear,color .25s linear,background-color .25s linear;
    -o-transition: box-shadow .25s linear,border .25s linear,color .25s linear,background-color .25s linear;
    transition: box-shadow .25s linear,border .25s linear,color .25s linear,background-color .25s linear;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.page-profile.reception .dropdown .dropdown-menu {
  position: relative;
}
