.page-header+.receptions-container {
    padding-top: 0;
}

.receptions-container {
    padding: 30px 30px;
    position: relative;
}

.receptions-container .page-aside {
    bottom: 30px;
}

.receptions-container .page-main {
    margin-left: 260px;
    min-height: 717px;
}

.reception-calendar {
	padding: 20px 20px 0 0;
}

.receptions-container .input-search button.btn-default {
	background-color: #FFF;
    text-align: left;
    height: 56px;
    border-radius: 0;
    border-width: 0 0 1px 0;
    border-color: rgba(0,0,0,.06);
    padding: 10px 25px 10px 30px;
    height: 56px;
}

.receptions-container .input-search button.btn-default i {
    float: right;
    line-height: 25px;
}

.receptions-container li.list-group-item {
	border-bottom: 0;
    border-radius: 0;
    padding: 16px 30px;
    white-space: nowrap;
    z-index: 0;
}

.receptions-container .list-group-item span.media-time {
	color: #a3afb7;
}

.receptions-container .list-group-item .media-body,
.receptions-container .list-group-item .media-body h5 {
	    overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
}

.receptions-container .list-group-item:hover, 
.receptions-container .page-aside .list-group-item:focus,
.receptions-container .page-aside .list-group-item.active {
    background-color: #e8f1f8;
}

.receptions-container .list-group-item .media-body h5 {
	color: #37474f;
}

.receptions-container .page-aside-switch {
	display: none!important;
}
.status_hints {
    padding: 20px;
}

@media (min-width: 991px) and (max-width: 1199px) {
	.receptions-container .page-main {
		margin-left: 220px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.receptions-container .page-main {
		margin-left: 220px;
	}
}
@media (max-width: 767px) {
}