.media {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.media-body {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.align-self-center {
    -webkit-align-self: center!important;
    -ms-flex-item-align: center!important;
    align-self: center!important;
}

.page-user .page-content form {
  margin-bottom: 40px;
}

.page-user .page-content .list-group-item {
  padding: 25px 0;
  border-top-color: #e4eaec;
}

.page-user .page-content .list-group-item:first-child {
  border-top-color: transparent;
}

.page-user .page-content .list-group-item:last-child {
  border-bottom-color: #e4eaec;
}

.page-user .page-content .list-group-item .media-heading > small {
  margin-left: 10px;
}

.page-user .page-content .list-group-item p {
  margin-bottom: 5px;
}

.page-user .page-content .nav-tabs-horizontal {
  position: relative;
}

.page-user .page-content .page-user-sortlist {
  position: absolute;
  right: 0;
  top: 5px;
  z-index: 2;
}

@media (max-width: 991px) {
  .page-user .page-content .page-user-sortlist {
    top: -15px;
  }
}

@media (max-width: 479px) {
  .page-user .page-content .list-group-item .media-body {
    display: block;
    text-align: center;
  }
  .page-user .page-content .list-group-item .media-body {
    width: auto;
  }
  .page-user .page-content .list-group-item .media-body {
    margin-top: 15px;
  }
  .page-user .page-content .tab-content nav {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .page-user .media-body {
    margin-left: auto;
    margin-right: auto;
  }
  .page-user .activate-btn {
    padding: 0 !important;
  }
}
