<div class="page page-logged-out admin-register layout-full page-dark">
	<div class="page-content">
		<div class="panel">
			<div class="panel-body">
				<div class="col-lg-12">
		          <div class="steps">
		          <div class="pearls row">
	                <div class="pearl {{currentPage === 1 ? 'current' : '' }} {{currentPage > 1 ? 'done' : '' }}">
	                  <div class="pearl-icon"><i class="icon wb-table" aria-hidden="true"></i></div>
	                  <span class="pearl-title {{currentPage !== 1 ? 'hidden-xs' : '' }}">Price Plan</span>
	                </div>
	                <div class="pearl {{currentPage === 2 ? 'current' : '' }} {{currentPage > 2 ? 'done' : '' }}">
	                  <div class="pearl-icon"><i class="icon wb-user" aria-hidden="true"></i></div>
	                  <span class="pearl-title {{currentPage !== 2 ? 'hidden-xs' : '' }}">Account Info</span>
	                </div>
	                <div class="pearl {{currentPage === 3 ? 'current' : '' }} {{currentPage > 3 ? 'done' : '' }}">
	                  <div class="pearl-icon"><i class="icon wb-briefcase" aria-hidden="true"></i></div>
	                  <span class="pearl-title {{currentPage !== 3 ? 'hidden-xs' : '' }}">Company Info</span>
	                </div>
	                <div class="pearl {{currentPage === 4 ? 'current' : '' }} {{currentPage > 4 ? 'done' : '' }}">
	                  <div class="pearl-icon"><i class="icon wb-payment" aria-hidden="true"></i></div>
	                  <span class="pearl-title {{currentPage !== 4 ? 'hidden-xs' : '' }}">Billing Info</span>
	                </div>
	                <div class="pearl {{currentPage === 5 ? 'current' : '' }} {{currentPage > 5 ? 'done' : '' }}">
	                  <div class="pearl-icon"><i class="icon wb-check" aria-hidden="true"></i></div>
	                  <span class="pearl-title {{currentPage !== 5 ? 'hidden-xs' : '' }}">Confirmation</span>
	                </div>
	              </div>

          			<div class="admin-register-step admin-register-step-{{currentPage}}" ng-if="currentPage === 1">


	
						

						<p ng-if="errors.plan">{{errors.plan}}</p>


						<!-- <div class="row">
							<div class="col-md-4 col-xl-12" ng-repeat="plan in plans">
                <div class="pricing-list">
                  <div class="pricing-header">
                    <div class="pricing-title">{{plan.title}}</div>
                    <div class="pricing-price">
                      <span class="pricing-currency">$</span>
                      <span class="pricing-amount">{{plan.price}}</span>
                      <span class="pricing-period">/ {{plan.plan_type}}</span>
                    </div>
                  </div>
                  <ul class="pricing-features">
                    <li>
                      {{plan.description}}
                    </li>
                  </ul>
                  <div class="pricing-footer">
                    <a class="btn btn-primary btn-outline" role="button" href="javascript:void(0)" ng-click="admin.plan = plan"><i class="icon wb-arrow-right font-size-16 mr-15" aria-hidden="true" ></i>Select</a>
                  </div>
                </div>
              </div>
						</div> -->

						<div class="row text-center">
							<div class="plan-list" ng-repeat="plan in plans">
								<div class="pricing-list text-left">
                  <div ng-style="{ 'background-color': plan.color || '#526069' }" class="pricing-header">
                    <div class="pricing-title" ng-style="{ 'color': plan.text_color || '#ffffff' }">{{plan.title}}</div>
                    <div class="pricing-price" ng-style="{ 'color': plan.text_color || '#ffffff' }">
                      <span class="pricing-currency">$</span>
                      <span class="pricing-amount">{{plan.price}}</span>
                      <span class="pricing-period">/ {{plan.plan_type}}</span>
                    </div>
                    <p class="px-30 pb-25" ng-style="{ 'color': plan.text_color || '#ffffff' }">{{plan.description}}</p>
                  </div>
                  <ul class="pricing-features">
                    <li ng-repeat="feature in plan.feature">
                      {{feature.title}}</li>
                  </ul>
                  <div class="pricing-footer text-center bg-blue-grey-100">
                    <a class="btn btn-primary" href="javascript:void(0)" ng-click="admin.plan = plan"><i class="icon wb-arrow-right font-size-16 mr-15" aria-hidden="true"></i> Add to card</a>
                  </div>
                </div>
							</div>

							<p ng-if="admin.plan"><strong>Selected plan:</strong> {{admin.plan.title}}</p>
						</div>

					</div>
					<div class="admin-register-step admin-register-step-{{currentPage}}" ng-if="currentPage === 2">
						<p ng-if="errors.email">{{errors.field}}</p>
						<form>
					    <div class="form-group floating">
					      <label class="floating-label">First Name</label>
					      <input type="text" ng-model="admin.first_name" class="form-control" name="first_name" />
					      <div ng-repeat="error in errors.first_name">
					      	<span class="error">{{error}}</span>
					      </div>
					    </div>
					    <div class="form-group floating input-left">
					      <label class="floating-label">Last Name</label>
					      <input type="text" ng-model="admin.last_name" class="form-control" name="last_name" />
					      <div ng-repeat="error in errors.last_name">
					      	<span class="error">{{error}}</span>
					      </div>
					    </div>

					    <div class="form-group floating">
						    <label class="floating-label">Email</label>
						    <input type="email" ng-model="admin.email" class="form-control" name="email" />
						    <span class="error" ng-show="errors.email">{{errors.email[0]}}</span>
						  </div>
							<div class="form-group floating">
					      <label class="floating-label">Password</label>
					      <input type="password" ng-model="admin.password" class="form-control" name="password" />
					      <span class="error" ng-show="errors.password">{{errors.password[0]}}</span>
					    </div>
					    <div class="form-group floating input-left">
					    	<label class="floating-label">Confirm Password</label>
					      <input type="password" class="form-control" name="PasswordCheck" ng-model="admin.confirm_password" />
					    </div>
					  </form>
					</div>

					<div  class="admin-register-step admin-register-step-{{currentPage}}" ng-if="currentPage === 3">

						<form>
							<div class="form-group floating">
					      <label class="floating-label">Company Name</label>
					      <input type="text" class="form-control" ng-model="admin.company.name" name="company_name" />
					      <div ng-repeat="error in errors.name">
						    <span class="error">{{error}}</span>
						  </div>
					    </div>
					    <div class="form-group floating input-left">
					      <label class="floating-label">Advertised Email</label>
					      <input type="email" ng-model="admin.company.email" class="form-control" name="email" />
					    </div>
					    <div class="form-group floating">
					      <label class="floating-label">Street Address</label>
					      <input type="text" ng-model="admin.company.address" class="form-control" name="address-1" />
					      <div ng-repeat="error in errors.streetAddress1">
						    <span class="error">{{error}}</span>
						  </div>
					    </div>

					    <div class="form-group floating">
					      <label class="floating-label">Subdomain</label>
					      <input type="text" ng-model="admin.company.subdomain" class="form-control" name="subdomain" />
					      <div ng-repeat="error in errors.subdomain">
						    <span class="error">{{error}}</span>
						  </div>
					    </div>

					    <div ng-if="admin.plan.is_color_allowed" class="form-group floating">
						    <div class="company-color">
								<span class="color-select">Corporate Color</span>
								<div class="color-picker">
									<input colorpicker type="text" ng-model="admin.company.color" />
								</div>
							</div>
					    </div>

					    <div ng-if="admin.plan.is_logo_allowed" class="form-group floating admin-register-logo">
					    	<label class="floating-label">Company Logo</label>
							<div class="company-logo">
								<label for="file" class="company-logo-img">
									<img ng-src="{{admin.company.logo}}" id="company_logo" ng-model="admin.company.logo">
								</label>
								<div class="file-upload">
									<label>
									<input class="register-logo-input" id="file" type="file" name="logo_url" accept="image/*" onchange="angular.element(this).scope().uploadCompanyLogo(this)">
									<span>Upload Logo</span>
									</label>
								</div>
								<p ng-if="errors.logo" class="error">{{errors.logo}}</p>
							</div>
					    </div>

					    <div class="form-group floating">
					      <label class="floating-label">Company Type</label>
					      <select class="form-control" ng-model="admin.field" ng-change="loadDocuments()" ng-options="field as field.title for field in fields"></select>
					    </div>

					    <div class="form-group floating" ng-repeat="doc in admin.field.docs">
					    	<label class="floating-label">{{doc.title}}</label>
					    	<div class="file-upload">
								<label>
								<input type="file" ng-model="doc.file" class="form-control" onchange="angular.element(this).scope().changeFile(this, angular.element(this).scope().doc)" />
								<span>Upload Document</span>
								</label>
							</div>
							<span>{{doc.file}}</span>
					    </div>
							<p ng-if="errors.file">{{errors.file}}</p>
						</form>

					  <span class="error">{{errors}}</span>
					</div>


					<div class="admin-register-step admin-register-step-{{currentPage}}" ng-if="currentPage === 4">

						<div class="container">
							  <div class='row'>
							    <div class='col-md-12'>
							  		<form ng-show="activeCardPayment" name="chargeForm">
							        <div class='form-row'>
							          <div class='col-xs-12 form-group required'>
							            <label class='control-label'>Cardholder Name</label>
							            <input class='form-control' ng-model="admin.card.name" size='4' type='text' required>
							          </div>
							        </div>
							        <div class='form-row'>
							          <div class='col-xs-12 form-group required'>
							            <label class='control-label'>Card Number</label>
							            <input autocomplete='off' ng-model="admin.card.number" class='form-control card-number' size='20' type='number' required>
							          </div>
							        </div>
							        <div class='form-row'>
							          <div class='col-xs-4 form-group cvc required'>
							            <label class='control-label'>CVC</label>
							            <input autocomplete='off' class='form-control card-cvc' ng-model="admin.card.cvc" placeholder='ex. 311' size='4' type='text' required>
							          </div>
							          <div class='col-xs-4 form-group expiration required'>
							            <label class='control-label'>Expiration</label>
							            <input class='form-control card-expiry-month' ng-model="admin.card.exp_month" placeholder='MM' size='2' type='text' required>
							          </div>
							          <div class='col-xs-4 form-group expiration required'>
							            <label class='control-label'> </label>
							            <input class='form-control card-expiry-year' ng-model="admin.card.exp_year" placeholder='YYYY' size='4' type='text' required>
							          </div>
							        </div>
							        <div ng-if="activeCardPayment == 'twocheckout'">
							          <div class='form-row'>
							            <div class='col-xs-12 form-group'>
							              	<label class='control-label'>Name</label>
							            	<input class='form-control' ng-model="admin.billing_address.name" placeholder='Name' type='text' required>
							            </div>
							          </div>
							          <div class='form-row'>
							            <div class='col-xs-12 form-group'>
							              	<label class='control-label'>Address line 1</label>
							            	<input class='form-control' ng-model="admin.billing_address.addressLine1" placeholder='Address Line 1' type='text' required>
							            </div>
							          </div>
							          <div class='form-row'>
							            <div class='col-xs-12 form-group'>
							              	<label class='control-label'>City</label>
							            	<input class='form-control' ng-model="admin.billing_address.city" placeholder='City' type='text' required>
							            </div>
							          </div>
							          <div class='form-row'>
							            <div class='col-xs-12 form-group'>
							              	<label class='control-label'>State</label>
							            	<input class='form-control' ng-model="admin.billing_address.state" placeholder='State' type='text' required>
							            </div>
							          </div>
							          <div class='form-row'>
							            <div class='col-xs-12 form-group'>
							              	<label class='control-label'>Zip Code</label>
							            	<input class='form-control' ng-model="admin.billing_address.zipCode" placeholder='Zip Code' type='text' required>
							            </div>
							          </div>
							          <div class='form-row'>
							            <div class='col-xs-12 form-group'>
							              	<label class='control-label'>Country</label>
							            	<input class='form-control' ng-model="admin.billing_address.country" placeholder='Country' type='text' required>
							            </div>
							          </div>
							          <div class='form-row'>
							            <div class='col-xs-12 form-group'>
							              	<label class='control-label'>Email</label>
							            	<input class='form-control' ng-model="admin.billing_address.email" placeholder='Email' type='text' required>
							            </div>
							          </div>
							          <div class='form-row'>
							            <div class='col-xs-12 form-group'>
							              	<label class='control-label'>Phone</label>
							            	<input class='form-control' ng-model="admin.billing_address.phone" placeholder='Phone' type='text' required>
							            </div>
							          </div>
							        </div>
							        <div class='form-row'>
							          <div class='col-xs-12 form-group'>
							          	<label class='control-label'></label>
							            <button class='form-control btn btn-primary' ng-click="charge()" ng-disabled="chargeForm.$invalid">Pay (${{admin.plan.price}}) »</button>
							          </div>
							        </div>
							        <div ng-show="paypalCredentials" class='form-row'>
										<div class='col-xs-12 form-group'>
											<div class="or">or</div>
											<button class='form-control btn btn-primary' ng-click="$event.preventDefault();payByPaypal()">Pay by Paypal</button>
										</div>
									</div>
							        <div class='form-row'>
							          <div class='col-xs-12 error form-group'>
							            <span class="error">{{errors}}</span>
							          </div>
							        </div>
							      </form>
							    </div>
							  </div>
						</div>

					</div>

					<div class="admin-register-step admin-register-step-{{currentPage}}" ng-if="currentPage === 5">
						<h3>Thank you for your registration!</h3>
						<p>Please, check your email for approving your account. Company account will be reviewed by admin within 24 hours.</p>
					</div>

					<div class="admin-register-step admin-register-step-{{currentPage}}" ng-if="currentPage === 6">
						<h3>Your payment was cancelled!</h3>
					</div>

					<ul ng-show="currentPage < 5" uib-pager total-items="totalItems" ng-model="currentPage" ng-disabled="checkCompany()"></ul>
        </div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label>Already registered?</label>
		<a href="javascript:;" ng-click="go('/login')">Login here.</a>
	</div>
</div>
