<div class="app-contacts mt-30 page-aside-left">
	<div class="">
		<div class="page-header">
			<h1 class="page-title">Companies</h1>
			<div class="page-header-actions">
				<!-- <button class="btn btn-default" ng-click="openPanel($event, {})">Add staffmember</button> -->
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="javascript:;" ng-click="go('/admin')">Home</a></li>
					<li class="breadcrumb-item active">Companies</li>
				</ol>
			</div>
		</div>

    <div class="page-content">
    	<div class="panel">
    		<div class="panel-body container-fluid">
    			<!-- Contacts Content -->
			    <div id="contactsContent" class="page-content-table" data-plugin="selectable">
			      <!-- Contacts -->
			      <table ng-if="companies.length" class="table is-indent" data-plugin="animateList" data-animate="fade" data-child="tr"
			      data-selectable="selectable">
			        <thead>
			          <tr>
			            <th class="cell-300" scope="col">Name</th>
			            <th class="cell-300" scope="col">Subdomain</th>
			            <th scope="col">Email</th>
			            <th scope="col">Admin</th>
			            <th class="cell-300">Type</th>
			            <th scope="col">Created At</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr ng-click="openPanel($event, company)" ng-repeat="company in companies">
			            <td class="cell-300">
			            	<div class="disp-flex">
		            			<div class="flex-col">
			            			<a class="avatar" href="javascript:void(0)">
				                  <img class="img-fluid" src="{{company.logo == 'test' || !company.logo ? 'img/facebook-logo.jpeg' : company.logo}}" alt="...">
				                </a>
			            		</div>
			            		<div class="flex-col">
			            			<p class="blue-grey-500 m-0">{{company.name}}</p>
			            		</div>
		            		</div>
			            </td>
			            <td><span class="xs-visible header">Subdomain: </span>{{company.subdomain}}</td>
			            <td class="cell-300"><span ng-show="company.email" class="xs-visible header">Email: </span>{{company.email}}</td>
			            <td><span class="xs-visible header">Admin: </span>{{company.admin.first_name}} {{company.admin.last_name}}</td>
									<td class="cell-300">
										<span class="xs-visible header type">Type: </span>
										<div class="form-group type">
											<select ng-model="company.status" ng-click="$event.stopPropagation()" ng-change="updateCompany(company)" class="form-control">
												<option value="Approve">Approve</option>
												<option value="Rejected">Rejected</option>
											</select>
										</div>
										
									</td>
									<td><span class="xs-visible header">Created at: </span>{{company.created_at}}</td>
			          </tr>
			        </tbody>
			      </table>
			      <div ng-if="!companies.length">There are no registered companies yet.</div>
			      <ul data-plugin="paginator" data-total="50" data-skin="pagination-gap"></ul>
			    </div>
    		</div>
    	</div>
    </div>

	</div>
</div>