<div class="app-work mt-30">
	<div class="">
		<div class="page-header">
			<h1 class="page-title">Payments</h1>
			<div class="page-header-actions">
				<!-- <button class="btn btn-default" ng-click="openPanel($event, {})">Add staffmember</button> -->
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="javascript:;" ng-click="go('/admin')">Home</a></li>
					<li class="breadcrumb-item active">Payments</li>
				</ol>
			</div>
		</div>
	  <div class="page-content">
	    <div ng-if="payments.length" class="panel">
	      <div class="panel-heading">
	        <form class="panel-search-form" role="search">
	          <div class="input-search">
	            <i class="input-search-icon wb-search" aria-hidden="true"></i>
	            <input type="text" class="form-control" id="inputSearch" name="search" placeholder="Search List">
	          </div>
	        </form>
	      </div>
	      <div class="panel-body">
	        <table class="table is-indent" data-plugin="animateList" data-animate="fade" data-child="tr" data-selectable="selectable">
	          <thead>
	            <tr>
	            	<th>Company</th>
	              <th>Admin</th>
	              <th>Card</th>
	              <th>Amount</th>
	              <th>Created At</th>
	            </tr>
	          </thead>
	          <tbody>
	            <tr ng-repeat="payment in payments">
	            	<td>
	            		<div class="disp-flex">
	            			<div class="flex-col">
		            			<a class="avatar" href="javascript:void(0)">
			                  <img class="img-fluid" ng-if="payment.company.logo" src="{{payment.company.logo == 'test' || !payment.company.logo ? 'img/facebook-logo.jpeg' : payment.company.logo}}" alt="...">
			                </a>
		            		</div>
		            		<div class="flex-col">
		            			<p class="blue-grey-500 m-0">{{payment.company.name}}</p>
	                  			<span class="blue-grey-400">{{payment.company.email}}</span>
		            		</div>
	            		</div>
	            	</td>
	              <td class="work-status">
	              	<div class="disp-flex">
	            			<div class="flex-col">
		            			<a class="avatar" href="javascript:void(0)">
			                  <img class="img-fluid" ng-if="payment.company.logo" src="{{getImageUrl(payment.user.logo)}}" alt="...">
			                </a>
		            		</div>
		            		<div class="flex-col">
		            			<p class="blue-grey-500 m-0">{{payment.user.first_name}} {{payment.user.last_name}}</p>
	                  			<span class="blue-grey-400">{{payment.user.email}}</span>
		            		</div>
	            		</div>
	              </td>
	              <td class="subject">
	                <div class="table-content">
	                  <p class="blue-grey-500">{{payment.credit_card.number}}</p>
	                  <span class="blue-grey-400">{{payment.credit_card.card_type}}</span>
	                </div>
	              </td>
	              <td>
	                <span><span class="visible-xs header">Amount: </span>${{payment.amount / 100}}</span>
	              </td>
	              <td class="members">
	                {{payment.created_at}}
	              </td>
	            </tr>
	          </tbody>
	        </table>
	      </div>
	      <!-- <div class="panel-footer">
	        <nav>
	          <ul data-plugin="paginator" data-total="50" data-skin="pagination-gap" class="pagination pagination-gap">
	            <li class="pagination-prev page-item">
	              <a class="page-link" href="javascript:void(0)">
	                <span>Previous</span>
	              </a>
	            </li>
	            <li class="pagination-items page-item" data-value="1"><a class="page-link" href="javascript:void(0)">1</a></li>
	            <li class="pagination-items page-item disabled">
	              <a class="page-link" href="javascript:void(0)">
	                <span>Next</span>
	              </a>
	            </li>
	          </ul>
	        </nav>
	      </div> -->
	    </div>
	    <div ng-if="!payments.length" class="panel">
	    	<div class="panel-body">There are no payments yet.</div>
	    </div>
	  </div>
	</div>
</div>
