<style>
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
      border-right: 0px;
      border-left: 0px;
      border-top: 0px;
  }
  .slidePanel-inner .nav-item.active .nav-link {
    border-bottom: 3px solid {{selectedCompany.color ? selectedCompany.color : '#ddd'}};
  }
</style>
<div class="app-contacts">
  <header class="slidePanel-header overlay">
    <div ng-style="{ 'background-color': selectedCompany.color }" class="overlay-panel overlay-background vertical-align">
      <div class="slidePanel-actions">
        <div class="btn-group">
          <!-- <button type="button" class="btn btn-pure btn-inverse icon wb-folder" aria-hidden="true"></button> -->
          <button type="button" class="btn btn-pure btn-inverse icon wb-trash" aria-hidden="true" ng-click="removeCompany()"></button>
          <button type="button" class="btn btn-pure btn-inverse slidePanel-close icon wb-close"
            aria-hidden="true" ng-click="closePanel()"></button>
        </div>
      </div>
      <div class="vertical-align-middle">
        <a class="avatar" href="javascript:void(0)">
          <img src="{{selectedCompany.logo == 'test' || !selectedCompany.logo ? 'img/facebook-logo.jpeg' : selectedCompany.logo}}" alt="...">
        </a>
        <h3 class="name">{{selectedCompany.name}}</h3>
      </div>
    </div>
  </header>
  <div class="slidePanel-inner">
    <div class="nav-tabs-horizontal nav-tabs-inverse nav-tabs-animate slidePanel-content" data-plugin="tabs">
      <ul class="nav nav-tabs nav-tabs-line list-inline nav-justified" role="tablist">
        <li class="nav-item active" role="presentation">
          <a class="nav-link" data-toggle="tab" href="#accountInfo"
          aria-controls="accountInfo" role="tab" aria-expanded="true">
            Account Info
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" data-toggle="tab" href="#companyInfo" aria-controls="companyInfo"
          role="tab" aria-expanded="false">
            Company Info
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" data-toggle="tab" href="#staffList"
          aria-controls="staffList" role="tab" aria-expanded="true">
            Staff List
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" data-toggle="tab" href="#usersList"
          aria-controls="usersList" role="tab" aria-expanded="true">
            Users List
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" data-toggle="tab" href="#statistic"
          aria-controls="statistic" role="tab" aria-expanded="true">
            Statistic
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active animation-fade"
        role="tabpanel" id="accountInfo">
          <table class="user-info">
            <tbody>
              <tr>
                <td class="info-label">First Name:</td>
                <td>
                  <span>{{selectedCompany.admin.first_name}}</span>
                </td>
              </tr>
              <tr>
                <td class="info-label">Last Name:</td>
                <td>
                  <span>{{selectedCompany.admin.last_name}}</span>
                </td>
              </tr>
              <tr>
                <td class="info-label">Email:</td>
                <td>
                  <span>{{selectedCompany.admin.email}}</span>
                </td>
              </tr>
              <tr>
                <td class="info-label">Is active:</td>
                <td>
                  <span>{{selectedCompany.admin.is_active}}</span>
                </td>
              </tr>
              <tr>
                <td class="info-label">Is verified:</td>
                <td>
                  <span>{{selectedCompany.admin.is_verified}}</span>
                </td>
              </tr>
              <tr>
                <td class="info-label">Created:</td>
                <td>
                  <span>{{selectedCompany.admin.created_at}}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane animation-fade"
        role="tabpanel" id="companyInfo">
          <table class="user-info">
            <tbody>
              <tr>
                <td class="info-label">Name:</td>
                <td>
                  <span>{{selectedCompany.name}}</span>
                </td>
              </tr>
              <tr>
                <td class="info-label">Email:</td>
                <td>
                  <span>{{selectedCompany.email}}</span>
                </td>
              </tr>
              <tr>
                <td class="info-label">Address:</td>
                <td>
                  <span>{{selectedCompany.address}}</span>
                </td>
              </tr>
              <tr>
                <td class="info-label">Subdomain:</td>
                <td>
                  <span>{{selectedCompany.subdomain}}</span>
                </td>
              </tr>
              <tr>
                <td class="info-label">Status:</td>
                <td>
                  <span>{{selectedCompany.status}}</span>
                </td>
              </tr>
              <tr>
                <td class="info-label">Security Code:</td>
                <td>
                  <span>{{selectedCompany.approve_key}}</span>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="tab-pane animation-fade table-responsive" id="staffList"
        role="tabpanel">
          <table class="table user-info" ng-show="selectedCompany.staff && selectedCompany.staff.length">
            <thead>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Is Active</th>
              <th>Is Verified</th>
              <th>Created</th>
            </thead>
            <tbody>
              <tr ng-repeat="staff in selectedCompany.staff">
                <td>
                  <span><span class="visible-xs header">First Name: </span>{{staff.first_name}}</span>
                </td>
                <td>
                  <span><span class="visible-xs header">Last Name: </span>{{staff.last_name}}</span>
                </td>
                <td>
                  <span><span class="visible-xs header">Email: </span>{{staff.email}}</span>
                </td>
                <td>
                  <span><span class="visible-xs header">Is Active: </span>{{staff.is_active}}</span>
                </td>
                <td>
                  <span><span class="visible-xs header">Is Verified: </span>{{staff.is_verified}}</span>
                </td>
                <td>
                  <span><span class="visible-xs header">Created At: </span>{{staff.created_at}}</span>
                </td>
              </tr>
            </tbody>
          </table>
          
          <p ng-show="!selectedCompany.staff || !selectedCompany.staff.length">No staff</p>
        </div>
        <div class="tab-pane animation-fade table-responsive"
        role="tabpanel" id="usersList">
          <table class="table user-info" ng-show="selectedCompany.users && selectedCompany.users.length">
            <thead>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Is Active</th>
              <th>Is Verified</th>
              <th>Created</th>
            </thead>
            <tbody>
              <tr ng-repeat="user in selectedCompany.users">
                <td>
                  <span><span class="visible-xs header">First Name: </span>{{user.first_name}}</span>
                </td>
                <td>
                  <span><span class="visible-xs header">Last Name: </span>{{user.last_name}}</span>
                </td>
                <td>
                  <span><span class="visible-xs header">Email: </span>{{user.email}}</span>
                </td>
                <td>
                  <span><span class="visible-xs header">Is Active: </span>{{user.is_active}}</span>
                </td>
                <td>
                  <span><span class="visible-xs header">Is Verified: </span>{{user.is_verified}}</span>
                </td>
                <td>
                  <span><span class="visible-xs header">Created At: </span>{{user.created_at}}</span>
                </td>
              </tr>
            </tbody>
          </table>
          <p ng-show="!selectedCompany.users || !selectedCompany.users.length">No users</p>
        </div>
        <div class="tab-pane animation-fade" role="tabpanel" id="statistic">
          
        </div>
      </div>
    </div>
  </div>
</div>