<div class="app-contacts">
  <header class="slidePanel-header overlay">
    <div class="overlay-panel overlay-background vertical-align">
      <div class="slidePanel-actions">
        <div class="btn-group">
          <!-- <button type="button" class="btn btn-pure btn-inverse icon wb-folder" aria-hidden="true"></button> -->
          <button type="button" class="btn btn-pure btn-inverse icon wb-trash" aria-hidden="true" ng-click="deleteStaff(selectedStaff)"></button>
          <button type="button" class="btn btn-pure btn-inverse slidePanel-close icon wb-close"
            aria-hidden="true" ng-click="closePanel()"></button>
        </div>
      </div>
      <div class="vertical-align-middle">
        
        <a class="avatar" href="javascript:void(0)">
          <img ng-if="selectedStaff.logo" ng-src="{{selectedStaff.logo}}" alt="...">
        </a>
        <h3 class="name">{{selectedStaff.first_name}} {{selectedStaff.last_name}}</h3>
        <!-- <div class="tags">
          <button type="button" class="btn btn-outline btn-inverse">Desginer</button>
          <button type="button" class="btn btn-outline btn-inverse">UI</button>
          <button type="button" class="btn btn-outline btn-inverse">Rocker</button>
        </div> -->
      </div>
      <button type="button" class="edit btn btn-success btn-floating" data-toggle="edit" ng-click="toggleEdit()" ng-show="userType !== 'staffmember'" ng-disabled="selectedStaff.first_name == '' || selectedStaff.last_name == '' || selectedStaff.email == ''">
        <i class="icon wb-pencil animation-scale-up" ng-show="!edit" aria-hidden="true"></i>
        <i style="margin: 3px 16px 0;" class="icon glyphicon glyphicon-floppy-disk animation-scale-up" ng-show="edit" aria-hidden="true"></i>
      </button>
    </div>
  </header>
  <div class="slidePanel-inner">
    <div data-role="content" class="slidePanel-content">
      <div class="ml-10 mt-10 login_error error" ng-if="errorMessage">{{errorMessage}}</div>
      <table class="user-info">
        <tbody>
          <tr>
            <td class="info-label">First Name:</td>
            <td>
              <span ng-show="!edit">{{selectedStaff.first_name}}</span>
              <div class="form-group form-material floating" ng-show="edit">
                <input type="text" class="form-control empty" name="inputFloatingName" ng-model="selectedStaff.first_name" required>
              </div>
            </td>
          </tr>
          <tr>
            <td class="info-label">Last Name:</td>
            <td>
              <span ng-show="!edit">{{selectedStaff.last_name}}</span>
              <div class="form-group form-material floating" ng-show="edit">
                <input type="text" class="form-control empty" name="inputFloatingEmail" ng-model="selectedStaff.last_name" required>
              </div>

            </td>
          </tr>
          <tr>
            <td class="info-label">Email:</td>
            <td>
              <span ng-show="!edit">{{selectedStaff.email}}</span>
              <div class="form-group form-material floating" ng-show="edit">
                <input type="email" class="form-control" name="email" ng-model="selectedStaff.email"/ required>
                <span class="form_error" ng-show="registerForm.email.$error.email">Please input a valid email.</span>
                <span class="form_error" ng-show="errors.email">{{errors.email}}</span>
              </div>
            </td>
          </tr>
          <tr>
            <td class="info-label">Profession:</td>
            <td>
              <span ng-show="!edit">{{selectedStaff.profession.title}}</span>
              <div class="form-group form-material floating" ng-show="edit">
                <select ng-model="selectedStaff.profession_id" class="form-control">
                  <option ng-repeat="profession in professions" value="{{profession.id}}">{{profession.title}}</option>
                </select>
              </div>
            </td>
          </tr>
          <tr>
            <td class="info-label">Is Active:</td>
            <td>
              <span ng-show="!edit">{{selectedStaff.is_active}}</span>
              <div class="form-group form-material floating checkbox_input" ng-show="edit">
                <!-- <input type="number" min="1" class="form-control empty" name="inputFloatingAddress" ng-model="selectedStaff.is_active"> -->
                <input type="checkbox" ng-model="selectedStaff.is_active">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>