<div class="app-contacts">
  <header class="slidePanel-header overlay">
    <div class="overlay-panel overlay-background vertical-align">
      <div class="slidePanel-actions">
        <div class="btn-group">
          <!-- <button type="button" class="btn btn-pure btn-inverse icon wb-folder" aria-hidden="true"></button> -->
          <button type="button" class="btn btn-pure btn-inverse slidePanel-close icon wb-close" aria-hidden="true" ng-click="closePanel()"></button>
        </div>
      </div>
      <div class="vertical-align-middle">
        <h3 class="name">{{selectedChat.video_chat_name}}</h3>
      </div>
    </div>
  </header>
  <div class="slidePanel-inner" data-role="container">
    <div class="chat-box">
      <div id="messages" style="max-height: 600px;" class="chats">
        <div class="chat" ng-class="{ 'chat-left': currentUserId != message.sender.id }" ng-repeat="message in selectedChat.messages track by $index">
          <div class="chat-avatar">
            <a class="avatar" data-toggle="tooltip" href="#" data-placement="left" title="" data-original-title="{{message.sender.first_name}} {{message.sender.last_name}}">
              <img ng-if="message.sender.logo" src="message.sender.logo" alt="{{message.sender.first_name}} {{message.sender.last_name}}">
              <img ng-if="!message.sender.logo" src="img/default_logo.png" alt="{{message.sender.first_name}} {{message.sender.last_name}}">
            </a>
          </div>
          <div class="chat-body">
            <div class="chat-content"><p>{{message.message}}</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>