<div class="slidePanel  slidePanel-dragging slidePanel-right slidePanel-show transform-hide" ng-class="{'transform-show':bool.panel}"    style="  transition:all .8s; " >
  <div ng-if="reception" class="slidePanel-scrollable scrollable is-enabled scrollable-vertical" style="position: relative;">
     <div class="scrollable-container" ><div class="slidePanel-content scrollable-content" >
<header class="slidePanel-header" style="background:{{viewStatus(reception.status,'color')}}">
  <div class="slidePanel-actions" aria-label="actions" role="group" style="min-height: 30px;">
    <button ng-click="ChangeBool('panel','close')" type="button" class="btn btn-icon btn-pure btn-inverse slidePanel-close actions-top icon wb-close"
      aria-hidden="true"></button>
   <!--  <div class="btn-group actions-bottom" role="group">
      <div class="pull-left" uib-dropdown style="position:relative;">
        <button type="button" class="btn btn-icon btn-pure btn-inverse icon wb-more-horizontal" uib-dropdown-toggle></button>
        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
          <li><a href="javascript:void(0)"><i class="icon wb-inbox" aria-hidden="true"></i> Archive</a></li>
          <li><a href="javascript:void(0)"><i class="icon wb-alert-circle" aria-hidden="true"></i> Report Spam</a></li>
          <li><a href="javascript:void(0)"><i class="icon wb-trash" aria-hidden="true"></i> Delete</a></li>
          <li><a href="javascript:void(0)"><i class="icon wb-print" aria-hidden="true"></i> Print</a></li>
        </ul>
      </div>
      <button type="button" class="btn btn-icon btn-pure btn-inverse icon wb-chevron-left"
        aria-hidden="true"></button>
      <button type="button" class="btn btn-icon btn-pure btn-inverse icon wb-chevron-right"
        aria-hidden="true"></button>
    </div> -->
  </div>
  <h1>Reception #{{reception.id}}
    <div class='header_description'>Date: {{dateToFormat(reception.start_date,'date')}}</div>
    <div class='header_description'>Time: {{dateToFormat(reception.start_date,'time')}}-{{dateToFormat(reception.end_date,'time')}}</div>
    <div class='header_description'>Status: {{viewStatus(reception.status,'title')}}</div>
    <span ng-if="user_type='user'">
      
    </span>
    <span ng-if="user_type='staffmember'">
      
    </span>
  </h1>
</header>
<div  class="slidePanel-inner">
  <section  ng-repeat="message in messages" class="slidePanel-inner-section">
    <div class="mail-header">
      <div class="mail-header-main">
        <a class="avatar" href="javascript:void(0)">
          <!-- <img src="{{getImageUrl(message.sender.logo)}}" alt="..."> -->
          <span class="message_avatar" style="background-image:url({{getImageUrl(message.sender.logo)}});"></span>
        </a>
        <div>
          <span ng-if="currentUserId != message.sender_id"  class="name">{{message.sender.first_name}} {{message.sender.last_name}}</span>
          <span ng-if="currentUserId == message.sender_id"  class="name" style="padding-top: 10px; display: inline-block;">me<!-- {{message.sender.first_name}} --></span>
        </div>
        <div ng-if="currentUserId != message.sender_id"><a href="javascript:void(0)">{{message.sender.email}}</a> to <a href="javascript:void(0)">me</a>
        </div>
        <!-- <div ng-if="currentUserId == message.sender_id"><a href="javascript:void(0)">me</a> to <a href="javascript:void(0)">{{message.sender.email}}</a>
          <span
            class="identity"><i class="wb-medium-point red-600" aria-hidden="true"></i>Work</span>
        </div> -->
      </div>
      <div class="mail-header-right">
        <span class="time">{{timeFromNow(message.updated_at)}}</span>
        <div class="btn-group actions" role="group">
        <!--   <button type="button" class="btn btn-icon btn-pure btn-default"><i class="icon wb-star" aria-hidden="true"></i></button>
          <button type="button" class="btn btn-icon btn-pure btn-default"><i class="icon wb-reply" aria-hidden="true"></i></button>
        </div> -->
      </div>
    </div>
    <div class="mail-content">
      <p>{{message.body}}</p>  
    </div>
  </section>
  <div>
    <div ng-if="reception.files.length" class="mail-attachments">
      <p><i Class="icon wb-paperclip"></i>Attachments <!-- | <a href="javascript:void(0)">Download All</a> --></p>
      <ul class="list-group timeline timeline-icon">
        <li ng-repeat="file in reception.files" class="list-group-item">
          <div class="timeline-dot bg-cyan-600">
                    <i class="icon wb-file" aria-hidden="true"></i>
                  </div>
          <span class="name">{{file.url}}</span>
          <!-- <span class="size">(2.40M)</span> -->
          <a href="{{getImageUrl(file.url)}}" target="_blank" ><button type="button" class="btn btn-icon btn-pure btn-default"><i class="icon wb-download" aria-hidden="true"></i></button></a>
          <span ng-if="user_type=='user'" ng-click="deleteReceptionFile(file)" class="delete"></span>
        </li>
      </ul>
    </div>
    <!-- <div ng-if="user_type=='user'" class="">
           <label class="btn btn-upload">Select File
              <input style="display:none;" type="file" name="file" id="reception_file" ng-file-select="onFileSelect($files)"></label>
              <span ng-if="file">{{file.name}}</span>
           <button ng-if="file"  ng-click="uploadFile(reception)" class="btn btn-primary">Add file</button>     
    </div> -->
  </div>
 
  <div class="slidePanel-comment">
    <textarea ng-disabled="global_user_type == 'admin'" ng-model="reception.message_body" class="maxlength-textarea form-control mb-sm mb-20" rows="4"></textarea>
    <button ng-disabled="global_user_type == 'admin'" ng-click="addReceptionMessage(reception)" class="btn btn-primary" data-dismiss="modal" type="button" style="margin-bottom:15px;">Send</button>
    <div ng-if="user_type=='user'" class="">
           <label class="btn btn-primary" style="margin-bottom:15px;">Select File
              <input style="display:none;" type="file" name="file" id="reception_file" ng-file-select="onFileSelect($files)"></label>
              <span ng-if="file" style="display:block;margin-bottom:15px;">{{file.name}}</span>
        <div ng-if="file">
           <button  ng-click="cancelFile()" class="btn btn-primary" style="margin-bottom:15px;">Cancel</button>
           <button   ng-click="uploadFile(reception)" class="btn btn-primary" style="margin-bottom:15px;">Add file</button>
        </div>       
    </div>
  </div>
</div>

</div>
</div>
</div>