<div class="slidePanel  slidePanel-dragging slidePanel-right slidePanel-show transform-hide" ng-class="{'transform-show':left_modal.open}"    style="  transition:all .8s; ">
  <div class="slidePanel-scrollable scrollable is-enabled scrollable-vertical" style="position: relative;">
     <div class="scrollable-container" >
        <div class="slidePanel-content scrollable-content" >
          <header class="slidePanel-header" style="background-color: #57c7d4;">
            <div class="slidePanel-actions" aria-label="actions" role="group" style="min-height: 30px;">
              <button ng-click="openleftModal()" type="button" class="btn btn-icon btn-pure btn-inverse slidePanel-close actions-top icon wb-close"
                aria-hidden="true"></button>
            </div>
            <h1>Event Details</h1>
          </header>
          <div  class="slidePanel-inner">
            <section  class="slidePanel-inner-section calendarTooltips">
                  <div class="tooltip_container">
                      <span class="message_avatar" style="background-image:url({{getImageUrl(tooltip.user.logo)}});"></span>
                      <div class="tooltip_content">
                        <div>{{tooltip.user.first_name}} {{tooltip.user.last_name}}</div>
                        <div class="tooltip_time">{{tooltip.start.format('HH:mm')}}-{{tooltip.end.format('HH:mm')}}</div>
                      </div>
                  </div>
            </section>
          </div>
 
        </div>
      </div>
    </div>
</div>