<div class="modal-header">
          <button ng-click="closeModal(); cleareErrors();"  type="button" class="close">×</button>
            <h4>Write message</h4>
</div>
<div class="modal-body messages_actions">
              <textarea class="form-control message_field" ng-model="reception.message_body" style="margin-bottom: 15px;"></textarea>
</div>
<div class="modal-footer">
	<button ng-click="closeModal()" class="btn">Cancel</button>
    <button ng-click="addReceptionMessage(reception)" class="btn btn-primary">Send</button>
</div>
