.navbar-default {
    background-color: #333;
    border-color: transparent;
    border-radius: 0;
    color: #fff;
    margin-bottom: 0;

    .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-toggle {
        border-color: transparent;
        background-color: transparent !important;
    }

    .navbar-toggle:hover {
        background-color: transparent;
    }

    .navbar-nav {
       float: right;
       margin-right: -15px;

	    &>li>a {
	    color: #fff;
	    }

	    &>li>a:hover, &>li>a:focus {
	    color: #ccc;
	    }

    }
}

.navbar {
    min-height: 50px !important;
}

.logo_img {
    display: block;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    background: url(/img/logo.jpg);
    background-size: cover;
    background-position: top center;
    margin-left: 15px !important;
}


.user_logo {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 15px;
}
.total_message{
    position: relative;
    span{
        position: absolute;
        top: 3px;
        right: -3px;
        padding: 0px 6px;
        border-radius: 50%;
        background: $blue;
    }
}

.input-sm {
    font-size: 1rem;
}

.modal-backdrop.fade.in {
    z-index: 1600;
}
.modal.fade.modal-success {
    z-index: 1700;
    overflow: auto;
}
.uib-datepicker-popup.dropdown-menu {
    width: initial;
}
