
.error_message{
    color: #dd2c00;
	background: #fbc4b6;
	padding: 10px 10px 10px 50px;
	margin-bottom: 18px;
	position: relative;
	max-width: 400px;
	margin: 15px auto;
	span.w_close {
	   cursor: pointer;
	   width: 20px;
	   height: 20px;
	   position: absolute;
	   color:red;
	   top: -19px;
	   right: -19px;
	   &:before {
	   	   cursor: pointer;
		   content: "";
		   width: 20px;
		   height: 2px;
		   background: #ccc;
		   position: absolute;
		   top: 10px;
		   left: 0px;
		   transform: rotate(-45deg);
		}
	    &:after {
	       cursor: pointer;
		   content: "";
		   width: 20px;
		   height: 2px;
		   background: #ccc;
		   position: absolute;
		   top: 10px;
		   left: 0px;
		   transform: rotate(45deg);
		}
	}
    span.icon {
	   width: 40px;
	   height: 100%;
	   position: absolute;
	   background: #dd2c00 ;
	   top: 0;
	   left: 0;
	   &:before {
		   content: "";
		   width: 20px;
		   height: 2px;
		   color: #fff;
		   background: #fff;
		   position: absolute;
		   top: 19px;
		   left: 9px;
		   transform: rotate(-45deg);
		}
	    &:after {
		   content: "";
		   width: 20px;
		   height: 2px;
		   color: #fff;
		   background: #fff;
		   position: absolute;
		   top: 19px;
		   left: 9px;
		   transform: rotate(45deg);
		}
 }
}

.success_message{
    color: #286d29;
	background: rgba(119, 171, 120, 0.59);
	padding: 10px 10px 10px 50px;
	margin-bottom: 18px;
	position: relative;
	max-width: 400px;
	margin: 15px auto;
	span.w_close {
	   cursor: pointer;
	   width: 20px;
	   height: 20px;
	   position: absolute;
	   color:red;
	   top: -19px;
	   right: -19px;
	   &:before {
	   	   cursor: pointer;
		   content: "";
		   width: 20px;
		   height: 2px;
		   background: #ccc;
		   position: absolute;
		   top: 10px;
		   left: 0px;
		   transform: rotate(-45deg);
		}
	    &:after {
	       cursor: pointer;
		   content: "";
		   width: 20px;
		   height: 2px;
		   background: #ccc;
		   position: absolute;
		   top: 10px;
		   left: 0px;
		   transform: rotate(45deg);
		}
	}
    span.icon {
	   width: 40px;
	   height: 100%;
	   position: absolute;
	   background: #77ab78 ;
	   top: 0;
	   left: 0;
	   &:before {
			content: "";
			width: 20px;
			height: 2px;
			color: #fff;
			background: #fff;
			position: absolute;
			top: 22px;
			left: 2px;
			transform: rotate(60deg);
		}
	    &:after {
	        content: "";
		    width: 27px;
		    height: 2px;
		    color: #fff;
		    background: #fff;
		    position: absolute;
		    top: 18px;
		    left: 10px;
		    transform: rotate(-60deg);
		}
 }
}

