/*Modal Window Container*/
.popup_container {
    transition: all 0.5s ease;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
    &.popup_show {
        opacity: 1;
        z-index: 1500;
        .popup_position{
          -webkit-transform: translate(0,0);
          -ms-transform: translate(0,0);
          -o-transform: translate(0,0);
          transform: translate(0,0);
        }
    }
    &.popup_hide {
        transition: all .1s ease;
        z-index: -1;
    }
    .popup_position {
        position: relative;
        width: 90%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 50px auto;

        -webkit-transition: -webkit-transform .3s ease-out;
          -o-transition: -o-transform .3s ease-out;
          transition: transform .3s ease-out;
          -webkit-transform: translate(0,-25%);
          -ms-transform: translate(0,-25%);
          -o-transform: translate(0,-25%);
          transform: translate(0,-25%);
        .popup {
                width: 550px;
                margin: 0 auto;
                background: #fff;
                border-radius: 5px;
                .modal-body{
                    padding: 20px;
                }
        }
    }
}
.transform-hide{
    transform: translate3d(103%, 0px, 0px);
}
.transform-show{
    transform: translate3d(0px, 0px, 0px);
}
.header_description{
    padding: 0;
    margin:0;
    font-size: 14px;
    line-height: 20px;
}