.step {
	position: relative;
	color: $greyStepsLight;
	font-size: $stepTextFontSize;
	font-weight: $stepNumberFontWeight;
	padding: 23px 8px 23px 46px;
    border-bottom: 1px solid $greyStepsBorder;

    &:before {
    	content: "";
    	position: absolute;
    	width: 22px;
    	height: 20px;
    	left: 7px;
    	top: 33px;
    }

    &-next {
    	background: $nextStepBg;

    	.step {
    		display: block;
    		padding-left: 67px;
    		border-bottom: 0;

    		&:hover, &:focus {
    			color: $greyStepsLight;
    			text-decoration: none;
    		}

    		&:before {
	    		left: 29px;
    		}

    		&:after {
    			content: "";
    			position: absolute;
    			background: url(../img/icons/icon-arrow.svg) no-repeat;
    			width: 24px;
    			height: 18px;
    			top: 35px;
    			right: 31px;
    		}
    	}
    }

	&-number {
		color: $greyStepsDark;
    	font-size: $stepNumberFontSize;
    	font-weight: $stepNumberFontWeight;
    	display: block; 
	}

	&-finished .step:after {
		content: "";
		position: absolute;
		width: 19px;
    	height: 20px;
    	right: 0;
    	top: 33px;
		background: url(../img/icons/icon-finished.svg) no-repeat;
	}

	&-no-people:before {
		background: url(../img/icons/icon-no-people.svg) no-repeat;
	}
	&-date:before {
		background: url(../img/icons/icon-date.svg) no-repeat;
	}
	&-time:before {
		background: url(../img/icons/icon-time.svg) no-repeat;
	}
	&-review:before {
		background: url(../img/icons/icon-review.svg) no-repeat;
	}
	&-personal-info:before {
		background: url(../img/icons/icon-personal-info.svg) no-repeat;
	}
	&-payment:before {
		background: url(../img/icons/icon-payment.svg) no-repeat;
	}
}
