/* --- Fonts --- */

/* Maison Neue */
@font-face {
  font-family: "Maison Neue";
  src: url('../fonts/MaisonNeue-Bold.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: "Maison Neue";
  src: url('../fonts/MaisonNeue-Book.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "Maison Neue";
  src: url('../fonts/MaisonNeue-Demi.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: "Maison Neue";
  src: url('../fonts/MaisonNeue-Medium.ttf') format('truetype');
  font-weight: 500;
}

/* Kelium */
@font-face {
  font-family: Kelium;
  src: url('../fonts/Kelium-Regular.ttf') format('truetype');
}


/* --- Variables --- */

$backgroundPattern: #fff;
$blue: #337ab7;

$mainFont: "Maison Neue", Helvetica, sans-serif;
$maxWidth: 960px;
$maxWidthHeader: 1170px;
$navbarHeight: 0;
$animationTime: 0.3s;
$fadeAnimationTime: 0.3s;

/* Colors */
$light: #fff;
$burgundy: #792925;
$earthYellow: #BB903F;
$grey: #636267;
$darkGrey: #1a191e;
$grey2: #706D76;
$greyStepsDark: #545359;
$greyStepsLight: #A29EAA;
$greyStepsBorder: rgba(84, 83, 89, 0.2);
$fadeBgColor: black;
$formTextColor: #9996A1;
$green: #5CA04A;
$placeholderColor: #38363D;
$nextStepBg: rgba(216, 216, 216, 0.03);
$stepsMobileColor: #1F1E23;

/* Variables for Site Name */
$siteNameSize: 100px;
$siteNameFont: Kelium, Helvetica, sans-serif;
$siteNameOpacity: 0.04;

/* Logo */
$logoSize: 130px;

/* Title */
$titleSize: 26px;
$titleWeight: 900;
$titleLineHeight: 31px;

/* Button */
$buttonTextSmall: 15px;
$buttonText: 17px;

/* Menu Items */
$menuFontSize: 26px;
$menuFontWeight: 900;
$menuButtonBackFontSize: 20px;
$menuButtonBackFontWeight: 400;

/* Edit Label */
$editLabelFontSize: 15px;
$editLabelFontWeight: 700;

/* Select Language */
$languageLabelFontSize: 21px;
$languageLabelFontWeight: 500;

/* Steps */
$stepNumberFontSize: 14px;
$stepNumberFontWeight: 700;
$stepTextFontSize: 17px;

/* Modal */
$modalWidth: 450px;
$modalMinHeight: 420px;
$modalFadeOpacity: 0.85; 

/* Form */
$formLabelFontSize: 13px;
$formLabelFontWeight: 700;
$formTextFontSize: 17px;
$formTextFontWeight: 700;

/* Upcoming Booking */
$bookingFontSize: 15px;
$bookingFontWeight: 500;

/* Notification */
$notificationFontSize: 16px;
$notificationFontWeight: 400;

/* Calendar */
$calendarFontWeight: 500;
$calendarHeaderSize: 15px;
$calendarTitlesSize: 14px;

/* Confirmation */
$confirmationTitleSize: 20px;
$confirmationTitleWeight: 700;
$confirmationTextSize: 17px;
$confirmationTextWeight: 400;

/* Booking Title */
$timeTitleSize: 17px;
$timeTitleWeight: 500;