.plan-list {
    display: inline-block;
    width: calc(50% - 20px);
    margin: 10px;
    vertical-align: top;
}

.admin-register .login-link {
    position: absolute;
    right: 30px;
    top: 30px;
}

.admin-register .login-link a {
    color: #ffffff;
}

.admin-register .pearl {
    position: relative;
    padding: 0;
    margin: 0;
    width: 19.9%;
    text-align: center;
}

.admin-register .steps {
	margin: 0;
}

.admin-register .color-picker input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: -webkit-box-shadow .25s linear,border .25s linear,color .25s linear,background-color .25s linear;
    -o-transition: box-shadow .25s linear,border .25s linear,color .25s linear,background-color .25s linear;
    transition: box-shadow .25s linear,border .25s linear,color .25s linear,background-color .25s linear;
    border-color: #e4eaec;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e4eaec;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.admin-register span.color-select {
    margin-bottom: 5px;
    display: block;
}

.admin-register .color-picker input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.page-logged-out.admin-register form {
    max-width: 400px;
    margin: 30px auto;
}

.admin-register-step {
	width: 100%;
    color: #333;
}

.admin-register-step .btn {
	background: #62a8ea;
    border-color: #62a8ea;
}

.pearls.row {
	width: 100%;
}

.admin-register .pager {
    clear: left;
    width: 100%;
}

.admin-register .pager .next>a, .admin-register .pager .next>span,
.admin-register .pager .previous > a, .admin-register .pager .previous > span {
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-transition: border .2s linear,color .2s linear,width .2s linear,background-color .2s linear;
    -o-transition: border .2s linear,color .2s linear,width .2s linear,background-color .2s linear;
    transition: border .2s linear,color .2s linear,width .2s linear,background-color .2s linear;
    -webkit-font-smoothing: subpixel-antialiased; 
}

.admin-register .pager .next>a, .admin-register .pager .next>span {
    float: right;
    color: #fff;
    background-color: #62a8ea;
    border-color: #62a8ea;
}

.admin-register .pager .previous > a, .admin-register .pager .previous > span {
	float: left;
    color: #888;
    background-color: #fff;
    border-color: #888;
}

.admin-register .pager .next>a:hover, .admin-register .pager .next>span:hover {
	background-color: #5695d0;
    border-color: #5695d0;
}

.admin-register .pager .previous>a:hover, .admin-register .pager .previous>span:hover {
	background-color: #888;
    color: #fff;
}

.file-upload input[type="file"]{
	display: none;
}

.file-upload {
	position: relative;
	overflow: hidden;
	height: 34px;
    padding:0 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-transition: border .2s linear,color .2s linear,width .2s linear,background-color .2s linear;
    -o-transition: border .2s linear,color .2s linear,width .2s linear,background-color .2s linear;
    transition: border .2s linear,color .2s linear,width .2s linear,background-color .2s linear;
    -webkit-font-smoothing: subpixel-antialiased;
        color: #fff;
    background-color: #62a8ea;
    border-color: #62a8ea;
}

.file-upload:hover {
    background-color: #5695d0;
    border-color: #5695d0;
}

.admin-register-logo {
	overflow: hidden;
}

.admin-register-logo label {
	width: 100%;
}

.admin-register-logo .company-logo {
    width: 100%;
    height: auto;
    max-width: 100%;
    float: none;
    text-align: center;
}

.admin-register-logo .company-logo img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    margin: 10px 0;
}

.file-upload label {
	display: block;
	position: absolute;
	top: -3px;
	left: 0;
	width: 100%;
	font-weight: 300;
	height: 100%;
	cursor: pointer;
}

.admin-register-step-5 {
    text-align: center;
    padding: 56px 0 0 0;
}

.admin-register-step-5 p {
	max-width: 400px;
    margin: 20px auto;
}

.admin-register-step-3 + ul.disabled > .next {
    pointer-events: none;
}

.admin-register-step-4 + ul > .next {
    display: none;
}

.admin-register-step-1 + ul > .previous {
    display: none;
}

.file-upload span {
	line-height: 40px;
	font-weight:bold;
}

.form-row .form-group .or {
    text-align: center;
    margin-bottom: 20px;
}

.container .btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    border: 0;
}

@media (max-width: 767px) {
    .plan-list {
        width: calc(100% - 20px);
    }

    .pricing-list .pricing-price {
        font-size: 2.858rem;
    }

    .pearl-title {
        overflow: visible;
        margin-left: -100%;
        margin-right: -100%;
    }

    .admin-register-step-5 {
        padding: 0;
    }
}
