 .messages{
    width: 100%;
    margin: 10px auto;
    max-width: 500px;
    .messages_actions{
    	background: #fff;
      	overflow: hidden;
      	.message_field{
      		width: calc(100% - 100px);
      		max-width: calc(100% - 100px);
      		float: left;
      	}
      	button{
      		float: right;
            margin: 10px 20px;
      	}
    }
   .messages_content{
    padding: 10px;
    border-radius: 5px;
    background: #b6f1ef;
    max-height: 400px;
    overflow-y: scroll;
    .message_content{
      overflow: hidden;
      padding: 5px;
      .message_avatar{
		    width: 50px;
		    height: 50px;
		    display: inline-block;
		    background-size: cover;
		    border-radius: 50%;
		    border: 2px solid #fff;
		    float: left;
		    &.left{
		    	float: left;
		    }
		    &.right{
		    	float: right;
		    }
      }
      .message_body{
            padding: 15px ;
            float: left;
            background: #fff;
		    margin: 10px 20px 0;
		    position: relative;
		    max-width: 200px;
		    border-radius: 5px;
		    overflow: hidden;
            &.left{
		    	float: left;
		    	&:after {
				    position: absolute;
				    width: 0px;
				    height: 0px;
				    top: 0;
				    left: -15px;
				    z-index: 2;
				    content: "";
				    border-left: 20px solid transparent;
				    border-top: 21px dashed #fff; 
				}
		    }
		    &.right{
		    	float: right;
		    	&:after {
				    position: absolute;
				    width: 0px;
				    height: 0px;
				    top: 0;
				    right: -15px;
				    z-index: 2;
				    content: "";
				    border-right: 20px solid transparent;
				    border-top: 21px dashed #fff; 
				}
		    }
      }
    }
 }
}

.message_avatar{
		    width: 40px;
		    height: 40px;
		    display: inline-block;
		    background-size: cover;
		    border-radius: 50%;
		    border: 2px solid #fff;
		    float: left;
		    &.left{
		    	float: left;
		    }
		    &.right{
		    	float: right;
		    }
      }