.dropdown-menu{
	& .item{
		cursor:pointer;
		&:hover {
		    background: rgba(204, 204, 204, 0.52);
		}
	}
}

.main-padding {
	padding: 30px 0px 10px 0px;
}

.superadmin-fields {
	& .tabset {
		display: flex;
	}
	& .nav.nav-pills.nav-stacked {
		width: 200px;
	}
	& .tab-content {
		margin-left: 30px;
	}
}

.change-pass-form {
	width: 300px;
}

.plan-view-box {
	width: 100px;
    padding: 10px;
    display: inline-block;
    background: white;
    border: 1px solid;
    margin-right: 10px;
}

.total-btn {
	display: inline-block;
	width: 100%;
}

.navbar-default {
    background-color: #333!important;
    border-color: #e7e7e7!important;
}

.navbar-superadmin {
    background-color: #46be8a!important;
}