.page-logged-out:before {
	background-image: url("../img/register.jpg");
}

.page-logged-out.admin-register {
	max-width: 950px;
	margin: 0 auto;
}

.page-logged-out form {
	width: 340px;
	margin: 30px 0;
}

.page-logged-out form .form-group {
	text-align: left;
}

@media (max-width: 767px) {
	.page-logged-out form {
		width: auto;
	}
}