<script id="groupedMonthEvents.html" type="text/ng-template">
 <div>
   <span
     class="pull-right"
     data-cal-date
     ng-click="vm.calendarCtrl.dateClicked(day.date)"
     ng-bind="day.label">
   </span>

  <div class="month-cell">
  <!-- <div>{{day | json}}</div> -->
     <span class="bookings-container" ng-repeat="(key,events) in day.groups">
       <span class="label label-{{key}}">
         {{ events.length}}
       </span>&nbsp;
     </span>
   </div>

  <div class="cal-day-tick" ng-show="dayIndex === vm.openDayIndex && vm.view[vm.openDayIndex].events.length > 0 && !vm.slideBoxDisabled">
     <i class="glyphicon glyphicon-chevron-up"></i>
     <i class="fa fa-chevron-up"></i>
   </div>

</div>
</script>