<div class="app-work mt-30">
  <div class="">
    <div class="page-header">
      <h1 class="page-title">{{menuTitle['Payment History']}}</h1>
      <div class="page-header-actions">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:;" ng-click="go('/')">{{menuTitle['Home']}}</a></li>
          <li class="breadcrumb-item active">{{menuTitle['Payment History']}}</li>
        </ol>
      </div>
    </div>
    <div class="page-content">
      <div class="panel">
        <div class="panel-body">
          <form class="page-search-form" role="search">
            <div class="input-search input-search-dark">
              <i class="input-search-icon wb-search" aria-hidden="true"></i>
              <input type="text" class="form-control" id="inputSearch" name="search" placeholder="Search Payments" ng-model="query">
              <button type="button" class="input-search-close icon wb-close" aria-label="Close"></button>
            </div>
          </form>
          <table ng-show="payment_histories.length" class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Client</th>  
                <th>Reception</th>  
                <th>Staff member</th>  
                <th>Amount</th>
                <th>Status</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="payment in payment_histories track by $index">

                <td><span>{{payment.info.id}}</span></td>
                <td>
                   <span>{{payment.client.first_name}} {{payment.client.last_name}}</span>
                </td>
                <td>
                   <span>{{dateToFormat(payment.reception.start_date,'date')}}</span>
                   <span>{{dateToFormat(payment.reception.start_date,'time')}}-{{dateToFormat(payment.reception.end_date,'time')}}</span>
                </td> 
                <td>
                   <span>{{payment.staffmember.first_name}} {{payment.staffmember.last_name}}</span>
                </td>
                <td><span>{{payment.info.amount/100}}</span></td>
                <td><span>{{payment.info.status}}</span></td>
                <td><span>{{changeDateFormat(payment.info.updated_at,'YYYY-MM-DD HH:MM')}}</span></td>
                
              </tr>
            </tbody>
          </table>
          <p ng-show="!payment_histories.length">You have not any payments yet!</p>
        </div>

      </div>
    </div>
  </div>
</div>
