 <div   class="" style="margin-bottom:15px;">
        <div class="error_message" ng-if= "errors.key">
                <span class="icon"></span><span ng-click="closeError('key')" class="w_close"></span>Incorect Stripe Key
        </div>
        <div class="error_message" ng-if= "errors.stripe">
                <span class="icon"></span><span ng-click="closeError('stripe')" class="w_close"></span>{{errors.stripe}}
        </div>

        <div class="item">
            <div class="input_con">
               <span class="input_label">Stripe Key:</span>
               <input class="form-control" ng-model="stripe.key" type="text"/>
            </div>
        </div>
        <div class="overflow_hidden" style="margin-top: 30px;">  
        <button  ng-click="closeModal()" class="btn">Cancel</button>  
          <button ng-if="!stripe.id"  ng-click="addAdminStripeKey(stripe)" class="btn btn-primary">Save Stripe Key</button>
          <button  ng-if="stripe.id" ng-click="updateAdminStripeKey(stripe)" class="btn btn-primary">Update Stripe Key</button>
        </div>
</div>