<!-- <div class="popup_container" ng-class="{'popup_show':modal.display,'popup_hide':!modal.display}">
	<div class="popup_position">
      <div class="popup">
        <div ng-include="modal.template"></div>
      </div>
    </div>
</div> -->
<div class="modal fade modal-success" ng-class="{'in':modal.display }" aria-hidden="true" aria-labelledby="addProfessionForm" ng-style="{ 'display': modal.display ? 'block': 'none' }" role="dialog" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div ng-include="modal.template"></div>
		</div>
	</div>
	
</div>