<div class="dropdown" uib-dropdown>
				  <div class="btn-select  dropdown-toggle" uib-dropdown-toggle>
					  <div class="option_content">
				        <span class="select_title">{{select[value]['title']}}</span>
				      </div>
					  <span class="caret"></span>
				  </div>
				  <ul class="dropdown-menu" uib-dropdown-menu>
				    <li ng-repeat="option in select track by $index">
				      <div class="item" ng-click="selectOption($index);choose({value:$index})">
				       <div class="option_content">
				        <span class="op_title">{{option.title}}</span>
				        </div>
				        </div>
				     </li>
				  </ul>
				</div>