<div class="page-header">
   <h1 class="page-title">{{menuTitle['Receptions']}}</h1>
   <div class="page-header-actions">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:;" ng-click="go('/')">{{menuTitle['Home']}}</a></li>
        <li class="breadcrumb-item active">{{menuTitle['Receptions']}}</li>
      </ol>
    </div>
</div>
<div class="receptions-container">
  <div class="page-aside">
    <div class="page-aside-switch">
      <i class="icon wb-chevron-left" aria-hidden="true"></i>
      <i class="icon wb-chevron-right" aria-hidden="true"></i>
    </div>
    <div class="page-aside-inner-receptions">
      <div class="input-search">
        <form>
          <button type="button" class="btn btn-default form-control" id="exampleColorDropdown1" data-toggle="dropdown" aria-expanded="false">
            {{isUsers ? 'Users' : 'Staff'}}
            <i class="icon wb-chevron-down-mini" aria-hidden="true"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="exampleColorDropdown1" role="menu">
            <li role="presentation"><a href="javascript:void(0)" role="menuitem" ng-click="toggleSelected('users')">Users</a></li>
            <li role="presentation"><a href="javascript:void(0)" role="menuitem" ng-click="toggleSelected('staff')">Staff</a></li>
          </ul>
        </form>
      </div>
      <div class="app-message-list">
        <div class="">
          <div class="content">
            <ul class="list-group">
              <li class="list-group-item" ng-class="{ 'active': user.active }" ng-click="getUserReceptions(user)" ng-repeat="user in selectedArray">
                <div class="media">
                  <div class="pr-20">
                    <a class="avatar avatar-online" href="javascript:void(0)">
                      <img class="img-fluid" src="{{user.logo}}" alt="..."><i></i></a>
                  </div>
                  <div class="media-body">
                    <h5 class="mt-0 mb-5">{{user.title}}</h5>
                    <span class="media-time">{{user.email}}</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-main">
    <div ng-if="viewEvents" class="reception-calendar" ng-include="templates.calendar"></div>
    <div class="status_hints"> 
        <div ng-repeat="status in select.reception_status" class="status_hint"><span class="status_color" style="background: {{status.color}}"></span><span class="status_title">{{status.title}}</span></div>
    </div>
  </div>
</div>