<div class="">
          <div class="modal-header">
            <h1>Create Application</h1>
          </div>
 
            <div class="modal-body">
               <div class="form_error" ng-if="errorMessage">{{errorMessage}}</div>
                <div class="item-container">
	            <div class="item">
	              <span class="input_label">Application Name</span>
	              <input  type="text" class="form-control" name="name" ng-model="application.appName" ng-change='validateNewApplication("application","appName");'/>
	               <div class="form_error" ng-show='error.appName'>Application Name is required</div>
	            </div>

	            <div class="item">
	              <span class="input_label">Application Package</span>
	              <input  type="text" class="form-control" name="name" ng-model="application.appPackage" ng-change='validateNewApplication("application","appPackage");'/>
	              <div class="form_error" ng-show='error.appPackage'>Application Package is required</div>
	            </div>
	            </div>
            </div>

            <div class="modal-footer">
              <!-- <button ng-if="true" ng-click="CreateApp(application)" class="btn btn-default">Create</button>
              <button ng-if="false" class="btn btn-warning">Create</button> -->
              <button class="btn btn-warning" ng-click="cancel()">Cancel</button >
              <button class="btn btn-primary submit" ng-class="{'success':valid,'error':!valid}" ng-click="ok()">Create</button >
            </div>
</div>
