<div class="page-header">
     <h1 class="page-title">{{pageTitle}}</h1>
     <div class="page-header-actions">
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:;" ng-click="go('/account')">{{menuTitle['Home']}}</a></li>
            <li class="breadcrumb-item active">{{menuTitle['Receptions']}}</li>
            <li class="breadcrumb-item active">{{breadcrumbTitle}}</li>
          </ol>
      </div>
</div> 

<div class="page-content"> 
  <div class="panel"> 
    <div class='panel-body'>
      <!-- <div class="toggle_menu">
          <ul class="right">
            <li ng-click="toggleMenu('view_receptions_by','list')" ng-class="{'active':view_receptions_by == 'list'}">List</li>
            <li>|</li>
            <li ng-click="toggleMenu('view_receptions_by','calendar')" ng-class="{'active':view_receptions_by == 'calendar'}">Calendar</li>
          </ul>
      </div> -->
      <div ng-if="view_receptions_by == 'calendar'">
                <div ng-include="templates.calendar">
                </div>
                <div class="status_hints"> 
                    <div ng-repeat="status in select.reception_status" class="status_hint"><span class="status_color" style="background: {{status.color}}"></span><span class="status_title">{{status.title}}</span></div>
                </div>
      </div>
      <div class="page-content-table" ng-if="view_receptions_by == 'list'">
        <table ng-if="archive_events[0] && filter_receptions_by == 'archive'" class="table">   
          <thead>
            <tr>
              <th>Id</th>
              <th>Client Info</th>
              <th>Date</th>
              <th>Starts at</th>
              <th>Ends at</th>
              <th>Status</th>
              <th>Payment Status</th>
            </tr>  
          </thead>

          <tbody>
            <tr class="" ng-repeat="event in events track by $index" ng-click="viewReception(event.updating_data)">
              <td><span class="visible-xs header">ID: </span>{{event.updating_data.id}}</td>  
              <td>
                  <span class="visible-xs header">Client Info: </span>
                  <span class="">{{event.updating_data.user.first_name}}</span>
                  <span class="">{{event.updating_data.user.last_name}}</span> 
                  <span class="">{{event.updating_data.user.email}}</span>
              </td>
              <td>
                <span class=""><span class="visible-xs header">Date: </span>{{dateToFormat(event.events[0].start,'date')}}</span> 
              </td>
              <td><span><span class="visible-xs header">Starts At: </span>{{dateToFormat(event.updating_data.start_date,'time')}}</span>
              </td>
              <td><span><span class="visible-xs header">Ends At: </span>{{dateToFormat(event.updating_data.end_date,'time')}}</span>
              </td>
              <td><span><span class="visible-xs header">Status: </span>{{viewStatus(event.updating_data.status,'title')}}</span>
              </td>
              <td>
                <span class="visible-xs header">Payment Status: </span>
                <span ng-if="event.updating_data.status != 2 || event.updating_data.status == 2 && !event.updating_data.payment_status" class="">Not Paid</span>
                <span ng-if="event.updating_data.payment_status" class="">Paid</span>
              </td>
            </tr>
          </tbody>

        </table>
        <table class="table" ng-if="upcoming_events[0] && filter_receptions_by == 'upcoming'">   
          <thead>
            <tr>
              <th>Id</th>
              <th>Client Info</th>
              <th>Date</th>
              <th>Starts at</th>
              <th>Ends at</th>
              <th>Status</th>
              <th>Payment Status</th>
            </tr>  
          </thead>

          <tbody>
            <tr class="" ng-repeat="event in events track by $index" ng-click="viewReception(event.updating_data)">
              <td><span class="visible-xs header">ID: </span>{{event.updating_data.id}}</td>  
              <td>
                  <span class="visible-xs header">Client Info: </span>
                  <span class="">{{event.updating_data.user.first_name}}</span>
                  <span class="">{{event.updating_data.user.last_name}}</span> 
                  <span class="">{{event.updating_data.user.email}}</span>
              </td>
              <td>
                <span class=""><span class="visible-xs header">Date: </span>{{dateToFormat(event.events[0].start,'date')}}</span> 
              </td>
              <td><span><span class="visible-xs header">Starts At: </span>{{dateToFormat(event.updating_data.start_date,'time')}}</span>
              </td>
              <td><span><span class="visible-xs header">Ends At: </span>{{dateToFormat(event.updating_data.end_date,'time')}}</span>
              </td>
              <td><span><span class="visible-xs header">Status: </span>{{viewStatus(event.updating_data.status,'title')}}</span>
              </td>
              <td>
                <span class="visible-xs header">Payment Status: </span>
                <span ng-if="event.updating_data.status != 2 || event.updating_data.status == 2 && !event.updating_data.payment_status" class="">Not Paid</span>
                <span ng-if="event.updating_data.payment_status" class="">Paid</span>
              </td>
            </tr>
          </tbody>

        </table>
        <div ng-if="!filter_receptions_by && !events[0]"><p>You have not any reception jet .</p></div>
        <div ng-if="filter_receptions_by == 'upcoming' && !upcoming_events[0]"><p>You have not upcoming receptions jet.</p></div>
        <div ng-if="filter_receptions_by == 'archive' && !archive_events[0]"><p>You have not archive receptions jet.</p></div>
      </div>

    </div>
  </div>
</div>