<div ng-show="checkActiveUser()" class="site-menubar">
  <div class="site-menubar-body">
    <div class="scrollable-container">
      <div class="scrollable-content" >
        <ul ng-if="user_type == 'superadmin'" class="site-menu" data-plugin="menu">
          <!-- <li class="site-menu-category">General</li> -->
          <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('/admin') ? 'active' : ''}}">
            <a class="animsition-link" href="javascript:;" ng-click="go('/admin')">
              <i class="site-menu-icon wb-stats-bars" aria-hidden="true"></i>
              <span class="site-menu-title">Home</span>
            </a>
          </li>
          <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('/admin/account') ? 'active' : ''}}">
            <a class="animsition-link" href="javascript:;" ng-click="go('/account')">
              <i class="site-menu-icon wb-user-circle" aria-hidden="true"></i>
              <span class="site-menu-title">Account</span>
            </a>
          </li>
          <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('/admin/companies') ? 'active' : ''}}">
            <a class="animsition-link" href="javascript:;" ng-click="go('/admin/companies')">
              <i class="site-menu-icon wb-users" aria-hidden="true"></i>  
              <span class="site-menu-title">Companies</span>
            </a>
          </li>
          <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('/admin/payments') ? 'active' : ''}}">
            <a class="animsition-link" href="javascript:;" ng-click="go('/admin/payments')">
              <i class="site-menu-icon wb-payment" aria-hidden="true"></i>
              <span class="site-menu-title">Payment History</span>
            </a>
          </li>
          <li class="site-menu-item has-sub {{isActiveItem('/admin/plans') || isActiveItem('/admin/fields') ? 'open' : ''}}">
            <a href="javascript:void(0)">
              <i class="site-menu-icon wb-settings" aria-hidden="true"></i>
              <span class="site-menu-title">Settings</span>
              <span class="site-menu-arrow"></span>
            </a>
            <ul class="site-menu-sub">
              <li ng-click="hideMenu()" class="site-menu-item is-shown {{isActiveItem('/admin/plans') ? 'active' : ''}}">
                <a class="animsition-link" href="javascript:;" ng-click="go('/admin/plans')">
                  <span class="site-menu-title">Plans</span>
                </a>
              </li>
              <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('/admin/fields') ? 'active' : ''}}">
                <a class="animsition-link" href="javascript:;" ng-click="go('/admin/fields')">
                  <span class="site-menu-title">Accepted Companies</span>
                </a>
              </li>
              <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('/admin/payment_methods') ? 'active' : ''}}">
                <a class="animsition-link" href="javascript:;" ng-click="go('/admin/payment_methods')">
                  <span class="site-menu-title">Payment Methods</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="site-menu-item {{isActiveItem('logout') ? 'active' : ''}}">
            <a class="animsition-link" href="javascript:;" ng-click="go('/logout')">
              <i class="site-menu-icon wb-power" aria-hidden="true"></i>
              <span class="site-menu-title">Logout</span>
            </a>
          </li>
        </ul>
        <ul ng-if="checkActiveUser() && user_type == 'staffmember'" class="site-menu" data-plugin="menu">
          <!-- <li class="site-menu-category">General</li> -->
          <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('/') ? 'active' : ''}}">
            <a class="animsition-link" href="javascript:;" ng-click="go('/')">
              <i class="site-menu-icon wb-stats-bars" aria-hidden="true"></i>
              <span class="site-menu-title">{{menuTitle['Home']}}</span>
            </a>
          </li>
          <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('/account') ? 'active' : ''}}">
            <a class="animsition-link" href="javascript:;" ng-click="go('/account')">
              <i class="site-menu-icon wb-user-circle" aria-hidden="true"></i>
              <span class="site-menu-title">{{menuTitle['Account']}}</span>
            </a>
          </li>
          <li class="site-menu-item has-sub {{isActiveItem('/video_chat') || isActiveItem('/user/messages') ? 'open' : ''}}">
            <a href="javascript:void(0)">
              <i class="site-menu-icon wb-inbox" aria-hidden="true"></i>
              <span class="site-menu-title">{{menuTitle['Inbox']}}</span>
              <span class="site-menu-arrow"></span>
            </a>
            <ul class="site-menu-sub">
              <li class="site-menu-item has-sub {{isActiveItem('/video_chat/new') || isActiveItem('/video_chat/history') || isActiveItem('/video_chat/videos') ? 'open' : ''}}">
                <a class="animsition-link" href="javascript:void(0)">
                  <span class="site-menu-title">{{menuTitle['Video Chats']}}</span>
                  <span class="site-menu-arrow"></span>
                </a>
                <ul class="site-menu-sub">
                  <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('/video_chat/new') ? 'active' : ''}}">
                    <a class="animsition-link" href="javascript:;" ng-click="go('/video_chat/new')">
                      <span class="site-menu-title">{{menuTitle['New Chat']}}</span>
                    </a>
                  </li>
                  <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('/video_chat/history') ? 'active' : ''}}">
                    <a class="animsition-link" href="javascript:;" ng-click="go('/video_chat/history')">
                      <span class="site-menu-title">{{menuTitle['Chat History']}}</span>
                    </a>
                  </li>
                  <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('/video_chat/videos') ? 'active' : ''}}">
                    <a class="animsition-link" href="javascript:;" ng-click="go('/video_chat/videos')">
                      <span class="site-menu-title">{{menuTitle['My Videos']}}</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('/user/messages') ? 'active' : ''}}">
                <a class="animsition-link" href="javascript:;" ng-click="go('/user/messages')">
                  <span class="site-menu-title">{{menuTitle['Messages']}}</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="site-menu-item has-sub {{isActiveItem('/user') ? 'active' : ''}}">
            <a class="animsition-link" href="javascript:void(0)">
              <i class="site-menu-icon wb-calendar" aria-hidden="true"></i>
              <span class="site-menu-title">{{menuTitle['Receptions']}}</span>
              <span class="site-menu-arrow"></span>
            </a>
            <ul class="site-menu-sub">
              <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('calendar','view_receptions_by') ? 'active' : ''}}">
                <a class="animsition-link" href="javascript:;" ng-click="go('/staffmember/my_receptions', {view_receptions_by: 'calendar'})">
                  <span class="site-menu-title">{{menuTitle['Calendar']}}</span>
                </a>
              </li>
              <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('upcoming','filter_receptions_by') ? 'active' : ''}}">
                <a class="animsition-link" href="javascript:;" ng-click="go('/staffmember/my_receptions', {view_receptions_by: 'list', filter_receptions_by: 'upcoming'})">
                  <span class="site-menu-title">{{menuTitle['Upcoming Receptions']}}</span>
                </a>
              </li>
              <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('archive','filter_receptions_by') ? 'active' : ''}}">
                <a class="animsition-link" href="javascript:;" ng-click="go('/staffmember/my_receptions', {view_receptions_by: 'list', filter_receptions_by: 'archive'})">
                  <span class="site-menu-title">{{menuTitle['Archive']}}</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="site-menu-item has-sub {{isActiveItem('schedule') ? 'active' : ''}}">
            <a class="animsition-link" href="javascript:void(0)">
              <i class="site-menu-icon wb-order" aria-hidden="true"></i>
              <span class="site-menu-title">{{menuTitle['Schedule']}}</span>
              <span class="site-menu-arrow"></span>
            </a>
            <ul class="site-menu-sub">
              <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('calendar','view_receptions_by') ? 'active' : ''}}">
                <a class="animsition-link" href="javascript:;" ng-click="go('/staffmember/schedule', {schedule_page: 'working_hours'})">
                  <span class="site-menu-title">{{menuTitle['Working Hours']}}</span>
                </a>
              </li>
              <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('upcoming','filter_receptions_by') ? 'active' : ''}}">
                <a class="animsition-link" href="javascript:;" ng-click="go('/staffmember/schedule', {page: 'my_schedule', schedule_page: 'my_breaks'})">
                  <span class="site-menu-title">{{menuTitle['Breaks']}}</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="site-menu-item has-sub {{isActiveItem('/staffmember/staff') ? 'active' : ''}}">
            <a href="javascript:void(0)">
              <i class="site-menu-icon wb-user-add" aria-hidden="true"></i>
              <span class="site-menu-title">{{menuTitle['Staff Members']}}</span>
              <span class="site-menu-arrow"></span>
            </a>
            <ul class="site-menu-sub">
              <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('/admin/staffmembers/staff') ? 'active' : ''}}">
                <a class="animsition-link" href="javascript:;" ng-click="go('/staffmember/staff')">
                  <span class="site-menu-title">{{menuTitle['All Staff']}}</span>
                </a>
              </li>
            </ul>
          </li>
          <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('logout') ? 'active' : ''}}">
            <a class="animsition-link" href="javascript:;" ng-click="go('/logout')">
              <i class="site-menu-icon wb-power" aria-hidden="true"></i>
              <span class="site-menu-title">{{menuTitle['Logout']}}</span>
            </a>
          </li>
        </ul>
        <ul ng-if="checkActiveUser() && user_type == 'user'" class="site-menu" data-plugin="menu">
          <!-- <li class="site-menu-category">General</li> -->
          <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('/') ? 'active' : ''}}">
            <a class="animsition-link" href="javascript:;" ng-click="go('/')">
              <i class="site-menu-icon wb-stats-bars" aria-hidden="true"></i>
              <span class="site-menu-title">{{menuTitle['Home']}}</span>
            </a>
          </li>
          <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('/account') ? 'active' : ''}}">
            <a class="animsition-link" href="javascript:;" ng-click="go('/account')">
              <i class="site-menu-icon wb-user-circle" aria-hidden="true"></i>
              <span class="site-menu-title">{{menuTitle['Account']}}</span>
            </a>
          </li>
          <li class="site-menu-item has-sub {{isActiveItem('/user') ? 'active' : ''}}">
            <a class="animsition-link" href="javascript:void(0)">
              <i class="site-menu-icon wb-calendar" aria-hidden="true"></i>
              <span class="site-menu-title">{{menuTitle['Receptions']}}</span>
              <span class="site-menu-arrow"></span>
            </a>
            <ul class="site-menu-sub">
              <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('add_reception','page') ? 'active' : ''}}">
                <a class="animsition-link" href="javascript:;" ng-click="go('/user', {page: 'add_reception'})">
                  <span class="site-menu-title">{{menuTitle['Add Reception']}}</span>
                </a>
              </li>
              <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('calendar','view_receptions_by') ? 'active' : ''}}">
                <a class="animsition-link" href="javascript:;" ng-click="go('/user', {view_receptions_by: 'calendar'})">
                  <span class="site-menu-title">{{menuTitle['Calendar']}}</span>
                </a>
              </li>
              <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('upcoming','filter_receptions_by') ? 'active' : ''}}">
                <a class="animsition-link" href="javascript:;" ng-click="go('/user', {view_receptions_by: 'list', filter_receptions_by: 'upcoming'})">
                  <span class="site-menu-title">Upcoming {{menuTitle['Receptions']}}</span>
                </a>
              </li>
              <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('archive','filter_receptions_by') ? 'active' : ''}}">
                <a class="animsition-link" href="javascript:;" ng-click="go('/user', {view_receptions_by: 'list', filter_receptions_by: 'archive'})">
                  <span class="site-menu-title">{{menuTitle['Archive']}}</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="site-menu-item has-sub {{isActiveItem('/video_chat') || isActiveItem('/user/messages') ? 'open' : ''}}">
            <a href="javascript:void(0)">
              <i class="site-menu-icon wb-inbox" aria-hidden="true"></i>
              <span class="site-menu-title">{{menuTitle['Inbox']}}</span>
              <span class="site-menu-arrow"></span>
            </a>
            <ul class="site-menu-sub">
              <li class="site-menu-item has-sub {{isActiveItem('/video_chat/new') || isActiveItem('/video_chat/history') || isActiveItem('/video_chat/videos') ? 'open' : ''}}">
                <a class="animsition-link" href="javascript:void(0)">
                  <span class="site-menu-title">{{menuTitle['Video Chats']}}</span>
                  <span class="site-menu-arrow"></span>
                </a>
                <ul class="site-menu-sub">
                  <li ng-click="hideMenu()" class="site-menu-item has-sub {{isActiveItem('/video_chat/new') ? 'active' : ''}}">
                    <a class="animsition-link" href="javascript:;" ng-click="go('/video_chat/new')">
                      <span class="site-menu-title">{{menuTitle['New Chat']}}</span>
                    </a>
                  </li>
                  <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('/video_chat/history') ? 'active' : ''}}">
                    <a class="animsition-link" href="javascript:;" ng-click="go('/video_chat/history')">
                      <span class="site-menu-title">{{menuTitle['Chat History']}}</span>
                    </a>
                  </li>
                  <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('/video_chat/videos') ? 'active' : ''}}">
                    <a class="animsition-link" href="javascript:;" ng-click="go('/video_chat/videos')">
                      <span class="site-menu-title">{{menuTitle['My Videos']}}</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('/user/messages') ? 'active' : ''}}">
                <a class="animsition-link" href="javascript:;" ng-click="go('/user/messages')">
                  <span class="site-menu-title">{{menuTitle['Messages']}}</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="site-menu-item has-sub {{isActiveItem('/admin/account') ? 'open' : ''}}">
            <a href="javascript:void(0)">
              <i class="site-menu-icon wb-settings" aria-hidden="true"></i>
              <span class="site-menu-title">{{menuTitle['Settings']}}</span>
              <span class="site-menu-arrow"></span>
            </a>
            <ul class="site-menu-sub">
              <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('/admin/account') ? 'active' : ''}}">
                <a class="animsition-link" href="javascript:;" ng-click="go('/credit_cards')">
                  <span class="site-menu-title">{{menuTitle['Credit Cards']}}</span>
                </a>
              </li>
            </ul>
          </li>


          <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('logout') ? 'active' : ''}}">
            <a class="animsition-link" href="javascript:;" ng-click="go('/logout')">
              <i class="site-menu-icon wb-power" aria-hidden="true"></i>
              <span class="site-menu-title">{{menuTitle['Logout']}}</span>
            </a>
          </li>
        </ul>
        <ul ng-if="checkActiveUser() && user_type == 'admin'" class="site-menu" data-plugin="menu">
          <!-- <li class="site-menu-category">General</li> -->
          <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('/') ? 'active' : ''}}">
            <a class="animsition-link" href="javascript:;" ng-click="go('/')">
              <i class="site-menu-icon wb-stats-bars" aria-hidden="true"></i>
              <span class="site-menu-title">{{menuTitle['Home']}}</span>
            </a>
          </li>
          <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('/account') ? 'active' : ''}}">
            <a class="animsition-link" href="javascript:;" ng-click="go('/account')">
              <i class="site-menu-icon wb-user-circle" aria-hidden="true"></i>
              <span class="site-menu-title">{{menuTitle['Account']}}</span>
            </a>
          </li>
          <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('/admin/users') ? 'active' : ''}}">
            <a class="animsition-link" href="javascript:;" ng-click="go('/admin/users')">
              <i class="site-menu-icon wb-users" aria-hidden="true"></i>
              <span class="site-menu-title">{{menuTitle['Users']}}</span>
              <div ng-if="count_non_active_users !== '0'" class="site-menu-badge">
                <span class="badge badge-success">{{count_non_active_users}}</span>
              </div>
            </a>
          </li>
          <li class="site-menu-item has-sub {{isActiveItem('/admin/staffmembers') || isActiveItem('/admin/working_hours') ? 'active' : ''}}">
            <a href="javascript:void(0)">
              <i class="site-menu-icon wb-user-add" aria-hidden="true"></i>
              <span class="site-menu-title">{{menuTitle['Staff Members']}}</span>
              <span class="site-menu-arrow"></span>
            </a>
            <ul class="site-menu-sub">
              <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('/admin/staffmembers') ? 'active' : ''}}">
                <a class="animsition-link" href="javascript:;" ng-click="go('/admin/staffmembers')">
                  <span class="site-menu-title">{{menuTitle['All Staff']}}</span>
                </a>
              </li>
              <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('/admin/working_hours') ? 'active' : ''}}">
                <a class="animsition-link" href="javascript:;" ng-click="go('/admin/working_hours')">
                  <span class="site-menu-title">{{menuTitle['Schedule']}}</span>
                </a>
              </li>
            </ul>
          </li>
          <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('/admin/receptions') ? 'active' : ''}}">
            <a ng-click="go('/admin/receptions')" class="animsition-link" href="javascript:;">
              <i class="site-menu-icon wb-calendar" aria-hidden="true"></i>
              <span class="site-menu-title">{{menuTitle['Receptions']}}</span>
            </a>
          </li>
          <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('/admin/payment_history') ? 'active' : ''}}">
            <a class="animsition-link" href="javascript:;" ng-click="go('/admin/payment_history')">
              <i class="site-menu-icon wb-payment" aria-hidden="true"></i>
              <span class="site-menu-title">{{menuTitle['Payment History']}}</span>
            </a>
          </li>
          <li class="site-menu-item has-sub {{isActiveItem('/admin/payment_methods') || isActiveItem('/credit_cards') ? 'open' : ''}}">
            <a href="javascript:void(0)">
              <i class="site-menu-icon wb-settings" aria-hidden="true"></i>
              <span class="site-menu-title">{{menuTitle['Settings']}}</span>
              <span class="site-menu-arrow"></span>
            </a>
            <ul class="site-menu-sub">
              <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('/admin/payment_methods') ? 'active' : ''}}">
                <a class="animsition-link" href="javascript:;" ng-click="go('/admin/payment_methods')">
                  <span class="site-menu-title">{{menuTitle['Payment Methods']}}</span>
                </a>
              </li>
              <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('/credit_cards') ? 'active' : ''}}">
                <a class="animsition-link" href="javascript:;" ng-click="go('/credit_cards')">
                  <span class="site-menu-title">{{menuTitle['Credit Cards']}}</span>
                </a>
              </li>
              <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('/admin/menu') ? 'active' : ''}}">
                <a class="animsition-link" href="javascript:;" ng-click="go('/admin/menu')">
                  <span class="site-menu-title">{{menuTitle['Menu']}}</span>
                </a>
              </li>
              <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('/admin/register_fields') ? 'active' : ''}}">
                <a class="animsition-link" href="javascript:;" ng-click="go('/admin/register_fields')">
                  <span class="site-menu-title">{{menuTitle['Register Fields']}}</span>
                </a>
              </li>
            </ul>
          </li>
          <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('logout') ? 'active' : ''}}">
            <a class="animsition-link" href="javascript:;" ng-click="go('/logout')">
              <i class="site-menu-icon wb-power" aria-hidden="true"></i>
              <span class="site-menu-title">{{menuTitle['Logout']}}</span>
            </a>
          </li>
        </ul>
        <ul ng-show="false" class="site-menu" data-plugin="menu">
          <li ng-click="hideMenu()" class="site-menu-item {{isActiveItem('logout') ? 'active' : ''}}">
            <a class="animsition-link" href="javascript:;" ng-click="go('/logout')">
              <i class="site-menu-icon wb-power" aria-hidden="true"></i>
              <span class="site-menu-title">{{menuTitle['Logout']}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>