<script type="text/ng-template" id="myTooltipTemplate.html">
  <div class="tooltip_container" style="">
      <div class="tooltip_header" style="background-color: {{tooltip.color}};">
        <span class="avatar" style="background-image:url({{getImageUrl(tooltip.user.logo)}});"></span>
        <div class="name">{{tooltip.user.first_name}} {{tooltip.user.last_name}}</div>
        <div class="email">{{tooltip.user.email}}</div>
      </div>
      <div class="tooltip_body">
            <div class="widget-content">
              <ul class="list-group list-group-bordered">
                <li ng-show="tooltip.message" class="list-group-item">
                  <i class="icon wb-book" aria-hidden="true" draggable="true"></i>{{tooltip.message}}
                </li>
                <li class="list-group-item">
                  <!-- <span class="badge badge-info">10</span> -->
                  <i class="icon wb-bell" aria-hidden="true" draggable="true"></i>{{tooltip.start.format('HH:mm')}}-{{tooltip.end.format('HH:mm')}}
                </li>
              </ul>
            </div>
      </div>
  </div>
</script>
<div ng-controller="MessagesCtrl">
    <div ng-controller="CalendarCtrl as vm">
      <div class="calendar" ng-model="events" calendar="events" id="events" ui-calendar="uiConfig.calendar" calendar-watch-event="extraEventSignature(event)"></div>
    </div>
    <!-- Panel -->
    <div ng-if="user_type=='user' || user_type=='admin' || user_type=='staffmember'" class="app-mailbox" ng-include='templates.panel'></div>
</div>