 <div  class="" style="margin-bottom:15px;">
        <div class="error_message" ng-if= "errors.exist">
                <span class="icon"></span><span ng-click="closeError('exist')" class="w_close"></span>{{errors.exist}}
        </div>
        <div class="error_message" ng-if= "errors.brand">
                <span class="icon"></span><span ng-click="closeError('brand')" class="w_close"></span>Check your card type and card number
        </div>
        <div class="error_message" ng-if= "errors.year">
                <span class="icon"></span><span ng-click="closeError('year')" class="w_close"></span>Incorect card year
        </div>
        <div class="error_message" ng-if= "errors.month">
                <span class="icon"></span><span ng-click="closeError('month')" class="w_close"></span>Incorect card month
        </div>
        <div class="error_message" ng-if= "errors.verification_value">
                <span class="icon"></span><span ng-click="closeError('verification_value')" class="w_close"></span>Incorect CVC code
        </div>

        <div class="item">
            <div class="input_con">
               <span ng-init="changeCardType(0)" class="input_label">Card Type</span>
               <theme-select select="select.cards" value = "0" no-choose="changeCardType(value)"></theme-select>
            </div>
        </div>
        <div class="item">
            <div class="input_con">
               <span class="input_label">Card Number</span>
               <input class="form-control" ng-model="card.number" type="text"/>
            </div>
        </div>
        <div class="item">
            <div class="input_con">
               <span class="input_label">Card Year</span>
               <input class="form-control" ng-model="card.year" type="number"/>
            </div>
        </div>
        <div class="item">
            <div class="input_con">
               <span class="input_label">Card Month</span>
               <theme-select select="select.card_month" value = "0" no-choose="changeCardMonth(value)"></theme-select>
            </div>
        </div>
        <div class="item">
            <div class="input_con">
               <span class="input_label">CVC Code</span>
               <input class="form-control" ng-model="card.cvc" type="text"/>
            </div>
        </div>


        <div class="overflow_hidden" style="margin-top: 30px;">  
        <button  ng-click="closeModal()" class="btn ">Cancel</button>
          <button  ng-click="addUserCard(card)" class="btn btn-primary">Save card</button>
        </div>
</div>