<nav ng-if="checkActiveUser()" class="site-navbar navbar {{user_type == 'superadmin' ? 'navbar-superadmin' : ''}} navbar-default navbar-fixed-top navbar-mega" role="navigation">

  <div class="navbar-header">
    <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
      data-toggle="menubar">
      <span class="sr-only">Toggle navigation</span>
      <span class="hamburger-bar"></span>
    </button>
    <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse"
      data-toggle="collapse">
      <i class="icon wb-more-horizontal" aria-hidden="true"></i>
    </button>
    <div ng-if="user_type != 'superadmin'" class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
      <img class="navbar-brand-logo" ng-if="$parent.currentCompany.logo" ng-src="{{$parent.currentCompany.logo}}">
      <img class="navbar-brand-logo" ng-if="!$parent.currentCompany.logo" src="img/default_logo.png">
      <span class="navbar-brand-text hidden-xs-down"> {{$parent.currentCompany.name}}</span>
    </div>
    <div ng-if="user_type == 'superadmin'" class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
      <img class="navbar-brand-logo" vbbv="{{$parent.account}}" ng-if="$parent.account.logo" ng-src="{{getImageUrl($parent.account.logo)}}">
      <img class="navbar-brand-logo" vbbv="{{$parent.account}}" ng-if="!$parent.account.logo" src="img/default_logo.png">
      <span class="navbar-brand-text hidden-xs-down">{{::$parent.account.first_name}} {{::$parent.account.last_name}}</span>
    </div>
    <!-- <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-search"
      data-toggle="collapse">
      <span class="sr-only">Toggle Search</span>
      <i class="icon wb-search" aria-hidden="true"></i>
    </button> -->
  </div>

  <div class="navbar-container container-fluid">
    <!-- Navbar Collapse -->
    <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
      <!-- Navbar Toolbar -->
      <ul class="nav navbar-toolbar">
        <li class="nav-item hidden-float" id="toggleMenubar">
          <a class="nav-link" data-toggle="menubar" href="javascript:;" role="button">
            <i class="icon hamburger hamburger-arrow-left">
              <span class="sr-only">Toggle menubar</span>
              <span class="hamburger-bar"></span> 
            </i>
          </a>
        </li>
        <!-- <li class="nav-item hidden-sm-down" id="toggleFullscreen">
          <a class="nav-link icon icon-fullscreen" data-toggle="fullscreen" href="javascript:;" role="button">
            <span class="sr-only">Toggle fullscreen</span>
          </a>
        </li> -->
        <!-- <li class="nav-item hidden-float">
          <a class="nav-link icon wb-search" data-toggle="collapse" href="javascript:;" data-target="#site-navbar-search"
            role="button">
            <span class="sr-only">Toggle Search</span>
          </a>
        </li> -->
      </ul>
      <!-- End Navbar Toolbar -->

      <!-- Navbar Toolbar Right -->
      <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link navbar-avatar" href="javascript:;" ng-click="go('/account')" aria-expanded="false"
             role="button">
            <span class="avatar avatar-online">
              <img ng-src="{{account.logo ? base_logo_url + account.logo : default_logo}}" alt="...">
              <i></i>
            </span>
          </a>
        </li>
      </ul>
      <!-- End Navbar Toolbar Right -->
    </div>
    <!-- End Navbar Collapse -->

    <!-- Site Navbar Seach -->
    <div class="collapse navbar-search-overlap" id="site-navbar-search">
      <form role="search">
        <div class="form-group">
          <div class="input-search">
            <i class="input-search-icon wb-search" aria-hidden="true"></i>
            <input type="text" class="form-control" name="site-search" placeholder="Search...">
            <button type="button" class="input-search-close icon wb-close" data-target="#site-navbar-search"
              data-toggle="collapse" aria-label="Close"></button>
          </div>
        </div>
      </form>

    </div>
    <!-- End Site Navbar Seach -->
  </div>
</nav>
<div ng-if="loadEffect">
  <div class="ajax-query">
  <!-- <img src="../assets/img/gif.gif"> -->
      <div class="item item1">please wait...</div>
      <div class="item item2"></div>
      <div class="item item3"></div>
      <div class="item item4"></div>
      <div class="item item5"></div>
      <div class="item item6"></div>
      <div class="item item7"></div>
      <div class="item item8"></div>
      <div class="item item9"></div>
      <div class="item item10"></div>
      <div class="item item11"></div>
      <div class="item item12"></div> 
    </div>
</div>
<style>
  .btn-primary {
    color: #fff;
    background-color: {{companyColor}};
    border-color: {{companyColor}};
  }

  .btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
    border-color: {{shadeCompanyColor}};
    background-color: {{shadeCompanyColor}};
  }

  .btn-primary.active, .btn-primary:active, .open > .btn-primary.dropdown-toggle {
    border-color: {{companyColor}};
    background-color: {{companyColor}};
  }

  .nav-tabs-line .nav-item.open .nav-link, .nav-tabs-line .nav-item.open .nav-link:focus, .nav-tabs-line .nav-item.open .nav-link:hover, .nav-tabs-line .nav-link.active, .nav-tabs-line .nav-link.active:focus, .nav-tabs-line .nav-link.active:hover {
    color: {{companyColor}};
    border-bottom: 2px solid {{companyColor}};
  }

  .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border: 0;
    border-bottom: 2px solid {{companyColor}};
  }

  .btn-success {
    /*background-color: #5cb85c;
    border-color: #4cae4c;*/
    background-color: {{companyColor}};
    border-color: {{companyColor}};
  }
  .btn-success.focus, .btn-success:focus, .btn-success:hover {
    /*border-color: #5cd29d;
    background-color: #5cd29d;*/
    border-color: {{shadeCompanyColor}};
    background-color: {{shadeCompanyColor}};
  }

  .btn-success.active, .btn-success:active, .open > .btn-success.dropdown-toggle {
        /*border-color: #36ab7a;*/
    /*background-color: #36ab7a;*/
    border-color: {{shadeCompanyColor}};
    background-color: {{shadeCompanyColor}};
  }

  .btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open > .btn-success.dropdown-toggle.focus, .open > .btn-success.dropdown-toggle:focus, .open > .btn-success.dropdown-toggle:hover {
    /*border-color: #36ab7a;
    background-color: #36ab7a;*/
    border-color: {{shadeCompanyColor}};
    background-color: {{shadeCompanyColor}};
  }

  .btn-success.disabled, .btn-success.disabled.active, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled], .btn-success[disabled].active, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled]:focus, .btn-success[disabled]:hover, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success.active, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover {
    /*border-color: #7dd3ae;
    background-color: #7dd3ae;*/
    border-color: {{shadeCompanyColor}};
    background-color: {{shadeCompanyColor}};
  }
  .form-group a {
    color: {{companyColor}};
  }
  .form-control:focus {
    /*border-color: #66afe9;*/
    border-color: {{companyColor}};
  }

  .form-material .form-control, .form-material .form-control:focus, .form-material .form-control.focus {
    background-image: -webkit-gradient(linear, left top, left bottom, from({{companyColor}}), to({{companyColor}})), -webkit-gradient(linear, left top, left bottom, from({{shadeCompanyColor}}), to({{shadeCompanyColor}}));
    background-image: -webkit-linear-gradient({{companyColor}}, {{companyColor}}), -webkit-linear-gradient({{shadeCompanyColor}}, {{shadeCompanyColor}});
    background-image: -o-linear-gradient({{companyColor}}, {{companyColor}}), -o-linear-gradient({{shadeCompanyColor}}, {{shadeCompanyColor}});
    background-image: linear-gradient({{companyColor}}, {{companyColor}}), linear-gradient({{shadeCompanyColor}}, {{shadeCompanyColor}});
  }

  .checkbox_input input:checked:before {
    background-color: {{companyColor}};
    border-color: {{companyColor}};
    box-shadow: {{companyColor}} 0px 0px 0px 16px inset;
  }

  .site-navbar .navbar-header {
    background-color: {{companyColor}};
  }

  .form-material .form-control:focus ~ .floating-label, .form-material .form-control.focus ~ .floating-label {
    color: {{companyColor}};
  }

  a {
    color: {{companyColor}};
  }

  a:focus, a:hover {
    color: {{borderCompanyColor}};
  }

  .slidePanel-header .overlay-panel.overlay-background.vertical-align {
    background-color: {{companyColor}};
  }

  .brand-logo {
    background-image: {{'url(' + currentCompany.logo + ')'}};
  }

  label.btn-upload {
    background: {{companyColor}};
  }

  .btn-link {
    color: {{companyColor}};
  }

  .modal-success .modal-header {
    background-color: {{companyColor}};
  }
</style>