<div class="page-header">
           <h1 class="page-title">{{menuTitle['Schedule']}}</h1>
           <div class="page-header-actions">
              <!-- <button class="btn btn-default" ng-click="openPanel($event, {})">Add staffmember</button> -->
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:;" ng-click="go('/')">{{menuTitle['Home']}}</a></li>
                <li class="breadcrumb-item active">{{menuTitle['Schedule']}}</li>
              </ol>
            </div>
</div>

<div class="receptions-container">
  <div class="page-aside">
    <div class="page-aside-switch">
      <i class="icon wb-chevron-left" aria-hidden="true"></i>
      <i class="icon wb-chevron-right" aria-hidden="true"></i>
    </div>
    <div class="page-aside-inner-receptions">
      <div class="input-search">
        <form>
          <button type="button" class="btn btn-default form-control" id="exampleColorDropdown1" data-toggle="dropdown" aria-expanded="false">
            {{isWorkingHours ? 'Working Hours' : 'Breaks'}}
            <i class="icon wb-chevron-down-mini" aria-hidden="true"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="exampleColorDropdown1" role="menu">
            <li role="presentation"><a href="javascript:void(0)" role="menuitem" ng-click="isWorkingHours = true">Working Hours</a></li>
            <li role="presentation"><a href="javascript:void(0)" role="menuitem" ng-click="isWorkingHours = false">Breaks</a></li>
          </ul>
        </form>
      </div>
      <div class="app-message-list">
        <div class="">
          <div class="content">
            <ul class="list-group">
              <li class="list-group-item" ng-class="{ 'active': user.active }" ng-click="viewStaffSchedule($index)" ng-repeat="user in select.staffmembers">
                <div class="media">
                  <div class="pr-20">
                    <a class="avatar avatar-online" href="javascript:void(0)">
                      <img class="img-fluid" src="{{user.logo}}" alt="..."><i></i></a>
                  </div>
                  <div class="media-body">
                    <h5 class="mt-0 mb-5">{{user.title}}</h5>
                    <span class="media-time">{{user.email}}</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-main">
    <div ng-if="!isWorkingHours" >
      <h4 class="mt-0 pt-20 pl-20">Breaks</h4>
      <div ng-if="viewEvents" class="reception-calendar" ng-include="templates.calendar"></div>
    </div>
    <div ng-if="isWorkingHours">
      <h4 class="mt-0 pt-20 pl-20">Working Hours</h4>
      <div ng-show="working_hours[0]" class="p-20">
        <table class="table">
          <thead>
              <tr>
                <th>Day</th>
                <th>Start time</th>
                <th>End time</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="data in working_hours">
                <td>
                   <span class="up_case"><span class="visible-xs header">Day: </span>{{data.day}}</span>
                </td>
                <td>
                   <span class="up_case"><span class="visible-xs header">Start Time: </span>{{daySecondToHours(data.start_time)}}</span>
                </td>
                <td>
                   <span class="up_case"><span class="visible-xs header">End Time: </span>{{daySecondToHours(data.end_time)}}</span>
                </td>

              </tr>
          </tbody>
        </table>
        </div>
        <div ng-show="!working_hours[0]" class="p-20">
          This user have not any working hours yet
        </div>
    </div>
  </div>
</div>
<!-- <div class="page-content">
      <div class="panel">
        <div class="panel-body">
                  <div class="" style="max-width:250px;">
                     <h3>Staffmembers</h3>
                     <theme-select select="select.staffmembers" value="0" on-choose="viewStaffSchedule(value)"></theme-select>
                  </div>
                  <div class="toggle_menu">
                      <ul class="right">
                        <li ng-click="toggleMenu('view_schedule','working_hours')" ng-class="{'active':view_schedule == 'working_hours'}">Working hours</li>
                        <li>|</li>
                        <li ng-click="toggleMenu('view_schedule','breaks')" ng-class="{'active':view_schedule == 'breaks'}">Breaks</li>
                      </ul>
                  </div>
                  <div ng-if="view_schedule == 'breaks'" >
                    <h3>Breaks</h3>
                    <div ng-if="viewEvents" ng-include="templates.calendar"></div>
                  </div>

                  <div ng-if="view_schedule == 'working_hours'" class="" >
                  <h3>Working hours</h3>
                    <div ng-show="working_hours[0]">
                       <table class="table">
                            <thead>
                              <tr>
                                <th>Day</th>
                                <th>Start time</th>
                                <th>End time</th>
                              </tr>
                            </thead>
                             <tbody>
                              <tr ng-repeat="data in working_hours">
                                <td>
                                   <span class="up_case">{{data.day}}</span>
                                </td>
                                <td>
                                   <span class="up_case">{{daySecondToHours(data.start_time)}}</span>
                                </td>
                                <td>
                                   <span class="up_case">{{daySecondToHours(data.end_time)}}</span>
                                </td>

                              </tr>
                             </tbody>
                      </table>
                      </div>
                      <div ng-show="!working_hours[0]">
                        This user have not any working hours yet
                      </div>
                   </div>
       </div>  
     </div>    
</div> -->