   <div class="calendar_rules" ng-include="templates.breaksCalendar"></div>
   <div class="rules">
   	<div class="rule_block" ng-repeat="break in breaks">
  	 	<p>Start day: {{break.start_day}}</p>
  	 	<p>End day: {{break.end_day}}</p>
  	 	<p>Repeat type: {{break.repeat_type}}</p>
  	 	<p>End Repeat: {{break.end_repeat}}</p>
  	 	<div class="rule_btn">
  	 		<button ng-click="openBreakModal(break, $index, 'update_break')" class="btn btn-primary">Update</button>
  	 		<button ng-click="deleteBreak(break.id, $index)" class="btn btn-primary" style="float: right;">Delete</button>
  	 	</div>
   	</div>
   </div>