<div>
    <!-- <div class="toggle_menu">
        <ul class="right">
          <li ng-click="toggleMenu('view_receptions_by','list')" ng-class="{'active':view_receptions_by == 'list'}">List</li>
          <li>|</li>
          <li ng-click="toggleMenu('view_receptions_by','calendar')" ng-class="{'active':view_receptions_by == 'calendar'}">Calendar</li>
        </ul>
    </div> -->
    <div ng-if="view_receptions_by == 'calendar'">
              <div ng-include="templates.calendar">
              </div>
              <div class="status_hints"> 
                  <div ng-repeat="status in select.reception_status" class="status_hint"><span class="status_color" style="background: {{status.color}}"></span><span class="status_title">{{status.title}}</span></div>
              </div>
    </div>
    <div ng-if="view_receptions_by == 'list'">
    <!-- <div class="toggle_menu">    
        <ul>
          <li ng-click="toggleMenu('filter_receptions_by','upcoming')" ng-class="{'active':filter_receptions_by == 'upcoming'}">Upcoming Receptions</li>
          <li>|</li>
          <li ng-click="toggleMenu('filter_receptions_by','archive')" ng-class="{'active':filter_receptions_by == 'archive'}">Archive</li>
        </ul>
    </div> -->
      <div class="success_message" ng-if="success"><span class="icon"></span>{{success}}</div>
      <div class="error_message" ng-if="errors && Object.keys(errors).length"><span class="icon"></span>{{errors}}</div>
      <div class="page-content-table" ng-if="upcoming_events[0] && filter_receptions_by == 'upcoming'">
        <table class="table">

          <thead>
            <tr>
              <th>Id</th>
              <th>Staffmember Info</th>
              <th>Date</th>   
              <th>Starts at</th>
              <th>Ends at</th>
              <th>Status</th>
              <th>Payment Status</th>
              <th>Actions</th>
            </tr>  
          </thead>
          
          <tbody>
            <tr class="" ng-repeat="event in upcoming_events track by $index" ng-click="viewReception(event.updating_data)" >
              <td><span class="visible-xs header">ID: </span>{{event.updating_data.id}}</td>
              <td>
                  <span class="visible-xs header">Staffmember Info: </span>
                  <span class="">{{event.updating_data.staff.first_name}}</span>
                  <span class="">{{event.updating_data.staff.last_name}}</span> 
                  <span class="">{{event.updating_data.staff.email}}</span>
              </td>
              <td>
                  <span class="visible-xs header">Date: </span>
                  <span class="">{{dateToFormat(event.updating_data.start_date,'date')}}</span> 
              </td>
              <td>
                <span class="visible-xs header">Starts At: </span>
                <span class="">{{dateToFormat(event.updating_data.start_date,'time')}}</span>
              </td>
              <td>
                <span class="visible-xs header">Ends At: </span>
                <span class="">{{dateToFormat(event.updating_data.end_date,'time')}}</span>
              </td>
              <td>
                <span class="visible-xs header">Status: </span>
                <span class="">{{viewStatus(event.updating_data.status,'title')}}</span> 
              </td>
              <td ng-click="$event.stopPropagation();">
                <span class="visible-xs header">Payment Status: </span>
                <span ng-if="event.updating_data.status == 2 && !event.updating_data.payment_status" class=""><button ng-click="calcAmount(event.updating_data);openModal(templates.pay)" class="btn-theme btn btn-primary"> Pay</button></span>
                <span ng-if="event.updating_data.payment_status" class="">Paid</span> 
                <span ng-if="event.updating_data.status != 2" class="">Not Paid</span> 
              </td>
              <td ng-click="$event.stopPropagation();">
                <span class=""><button ng-click="copyReception(event.updating_data,true)" class="btn btn-primary">Copy</button></span> 
              </td>
            </tr>
          </tbody>

        </table>
      </div>
      <div class="page-content-table" ng-if="archive_events[0] && filter_receptions_by == 'archive'">
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Staffmember Info</th>
              <th>Date</th>   
              <th>Starts at</th>
              <th>Ends at</th>
              <th>Status</th>
              <th>Payment Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr class="cursor-pointer" ng-repeat="event in archive_events track by $index" ng-click="viewReception(event.updating_data)" >
              <td><span class="visible-xs header">ID: </span>{{event.updating_data.id}}</td>
              <td>
                  <span class="visible-xs header">Staffmember Info: </span>
                  <span class="">{{event.updating_data.staff.first_name}}</span>
                  <span class="">{{event.updating_data.staff.last_name}}</span> 
                  <span class="">{{event.updating_data.staff.email}}</span>
              </td>
              <td>
                  <span class="visible-xs header">Date: </span>
                  <span class="">{{dateToFormat(event.updating_data.start_date,'date')}}</span> 
              </td>
              <td>
                <span class="visible-xs header">Starts At: </span>
                <span class="">{{dateToFormat(event.updating_data.start_date,'time')}}</span>
              </td>
              <td>
                <span class="visible-xs header">Ends At: </span>
                <span class="">{{dateToFormat(event.updating_data.end_date,'time')}}</span>
              </td>
              <td>
                <span class="visible-xs header">Status: </span>
                <span class="">{{viewStatus(event.updating_data.status,'title')}}</span> 
              </td>
              <td ng-click="$event.stopPropagation();">
                <span class="visible-xs header">Payment Status: </span>
                <span ng-if="event.updating_data.status == 2 && !event.updating_data.payment_status" class="">Not Paid</span>
                <span ng-if="event.updating_data.payment_status" class="">Paid</span> 
                <span ng-if="event.updating_data.status != 2" class="">Not Paid</span> 
              </td>
              <td ng-click="$event.stopPropagation();">
                <span class=""><button ng-click="copyReception(event.updating_data,true)" class="btn btn-primary">Copy</button></span> 
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div ng-if="filter_receptions_by == 'upcoming' && !upcoming_events[0]"><p>You have not upcoming receptions jet.</p></div>
      <div ng-if="filter_receptions_by == 'archive' && !archive_events[0]"><p>You have not archive receptions jet.</p></div>
      <div ng-if="!events[0]"><p>You have not any receptions jet.</p></div>
  </div>
</div>