<div class="page-header">
	<h1 class="page-title">{{menuTitle['Menu']}}</h1>
	<div class="page-header-actions">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:;" ng-click="go('/')">{{menuTitle['Home']}}</a></li>
        <li class="breadcrumb-item active">{{menuTitle['Settings']}}</li>
        <li class="breadcrumb-item active">{{menuTitle['Menu']}}</li>
      </ol>
    </div>
</div>

<div class="page-content">
	<div class="panel">
		<div class="panel-body container-fluid">
			<div class="row">
				<form name="menuForm" class="form-horizontal" ng-submit="saveMenuItems()">
					<div class="form-group row" ng-repeat="menuItem in menuItems">
						<label class="col-md-3 form-control-label">{{menuItem.menu_item_title}}</label>
						<div class="col-md-9">
							<input type="text" name="home" class="form-control" ng-model="menuItem.title">
						</div>
					</div>
					<input type="submit" name="submitMenuItems" value="Save" class="btn btn-primary right">
				</form>
			</div>
		</div>
	</div>
</div>