 <div   class="" style="margin-bottom:15px;">
        <div class="error_message" ng-if= "errors.amount">
                <span class="icon"></span><span ng-click="closeError('amount')" class="w_close"></span>Incorect price
        </div>

        <div class="item">
            <div class="input_con">
               <span class="input_label">Price per hour:</span>
               <input class="form-control" ng-model="price_per_hour.amount" type="text"/>
            </div>
        </div>
        <div class="overflow_hidden" style="margin-top: 30px;">  
        <button  ng-click="closeModal()" class="btn">Cancel</button>  
          <button ng-if="!price_per_hour.id"  ng-click="addStaffPrice(price_per_hour)" class="btn btn-primary">Update price</button>
          <button  ng-if="price_per_hour.id" ng-click="updateStaffPrice(price_per_hour)" class="btn btn-primary">Update price</button>
        </div>
</div>