<div ng-controller="CalendarCtrl as vm">
<!-- <div class="">
    <h3>{{vm.calendarTitle}}</h3>
    <div class="col-md-6 text-center">
      <div class="btn-group">
   
        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="vm.viewDate"
          decrement="vm.calendarView"
          ng-click="vm.cellIsOpen = false">
          Previous
        </button>
        <button
          class="btn btn-default"
          mwl-date-modifier
          date="vm.viewDate"
          set-to-today
          ng-click="vm.cellIsOpen = false">
          Today
        </button>
        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="vm.viewDate"
          increment="vm.calendarView"
          ng-click="vm.cellIsOpen = false">
          Next
        </button>
      </div>
    </div>

    <br class="visible-xs visible-sm">

    <div class="col-md-6 text-center">
      <div class="btn-group">
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false">Year</label>
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Month</label>
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false">Week</label>
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'" ng-click="vm.cellIsOpen = false">Day</label>
      </div>
    </div>  
  

  <br>
    <div ng-if="break_events.length">
      <mwl-calendar 
        events="break_events"
        view="vm.calendarView"
        view-title="vm.calendarTitle"
        view-date="vm.viewDate"
        on-event-click="vm.eventClicked(calendarEvent)"
        on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
        cell-is-open="vm.cellIsOpen"
        day-view-start="06:00"
        day-view-end="22:59"
        day-view-split="30"
        cell-modifier="groupBreaks(calendarCell)"
        cell-auto-open-disabled="true"
        on-timespan-click="vm.timespanClicked(calendarDate, calendarCell)">
      </mwl-calendar>
   </div>
    <div ng-if="break_events.length">
    {{break_events}}
      <div ui-calendar ng-model="$parent.break_events"></div>
    </div>
 </div> -->
  <!-- <h3>{{vm.calendarTitle}}</h3>
  <div class="btn-toolbar">
    <div class="btn-group">
      <button class="btn btn-success" ng-click="vm.changeView('month', 'breaks')">Month</button>
      <button class="btn btn-success" ng-click="vm.changeView('agendaWeek', 'breaks')">Week</button>
      <button class="btn btn-success" ng-click="vm.changeView('agendaDay', 'breaks')">Day</button>
    </div>
  </div> -->
  <div ng-if="viewEvents" class="break_calendar">
    <div class="calendar" ng-model="break_events" calendar="breaks" id="breaks" ui-calendar="uiConfig.breakCalendar" calendar-watch-event="extraEventSignature(event)"></div>
  </div>
</div>
