  <div  class="" style="margin-bottom:15px;padding-top: 30px;">
        <div class="error_message" ng-if= "errors.key">
                <span class="icon"></span><span ng-click="closeError('key')" class="w_close"></span>{{errors.key}}
        </div>
        <div class="error_message" ng-if= "errors.brand">
                <span class="icon"></span><span ng-click="closeError('brand')" class="w_close"></span>Check your card type and card number
        </div>
        <div class="error_message" ng-if= "errors.number">
                <span class="icon"></span><span ng-click="closeError('number')" class="w_close"></span>Check your card number
        </div>
        <div class="error_message" ng-if= "errors.year">
                <span class="icon"></span><span ng-click="closeError('year')" class="w_close"></span>Incorect card year
        </div>
        <div class="error_message" ng-if= "errors.month">
                <span class="icon"></span><span ng-click="closeError('month')" class="w_close"></span>Incorect card month
        </div>
        <div class="error_message" ng-if= "errors.verification_value">
                <span class="icon"></span><span ng-click="closeError('verification_value')" class="w_close"></span>Incorect CVC code
        </div>
        <div class="error_message" ng-if= "errors.stripe">
                <span class="icon"></span><span ng-click="closeError('stripe')" class="w_close"></span>{{errors.stripe}}
        </div>

        <div class="container">
            <button ng-click="closeModal()" class="btn-close">x</button>
            <div class='row'>
              <div class='col-md-12'>
                <form name="chargeForm">
                  <div class='form-row'>
                    <div class='col-xs-12 form-group required'>
                      <label ng-init="changeCardType(0)" class="control-label">Card Type</span>
                      <theme-select select="select.cards" value = "0" no-choose="changeCardType(value)"></theme-select>
                    </div>
                  </div>
                  <div class='form-row'>
                    <div class='col-xs-12 form-group required'>
                      <label class='control-label'>Card Number</label>
                      <input class="form-control card-number" ng-model="card.number" type="text"/>
                    </div>
                  </div>
                  <div class='form-row'>
                    <div class='col-xs-4 form-group cvc required'>
                      <label class='control-label'>CVC</label>
                      <input class="form-control card-cvc" placeholder='ex. 311' size='4' ng-model="card.cvc" type="text"/>
                    </div>
                    <div class='col-xs-4 form-group expiration required'>
                      <label class='control-label'>Expiration</label>
                      <theme-select select="select.card_month" value = "0" no-choose="changeCardMonth(value)"></theme-select>
                    </div>
                    <div class='col-xs-4 form-group expiration required'>
                      <label class='control-label'> </label>
                      <input class="form-control card-expiry-year" placeholder='YYYY' size='4' type='text' ng-model="card.year" type="number"/>
                    </div>
                  </div>
                  <div ng-if="activeCardPayment == 'twocheckout'">
                    <div class='form-row'>
                      <div class='col-md-12 form-group'>
                          <label class='control-label'>Name</label>
                        <input class='form-control' ng-model="card.billing_address.name" placeholder='Name' type='text' required>
                      </div>
                    </div>
                    <div class='form-row'>
                      <div class='col-md-12 form-group'>
                          <label class='control-label'>Address line 1</label>
                        <input class='form-control' ng-model="card.billing_address.addressLine1" placeholder='Address Line 1' type='text' required>
                      </div>
                    </div>
                    <div class='form-row'>
                      <div class='col-md-12 form-group'>
                          <label class='control-label'>City</label>
                        <input class='form-control' ng-model="card.billing_address.city" placeholder='City' type='text' required>
                      </div>
                    </div>
                    <div class='form-row'>
                      <div class='col-md-12 form-group'>
                          <label class='control-label'>State</label>
                        <input class='form-control' ng-model="card.billing_address.state" placeholder='State' type='text' required>
                      </div>
                    </div>
                    <div class='form-row'>
                      <div class='col-md-12 form-group'>
                          <label class='control-label'>Zip Code</label>
                        <input class='form-control' ng-model="card.billing_address.zipCode" placeholder='Zip Code' type='text' required>
                      </div>
                    </div>
                    <div class='form-row'>
                      <div class='col-md-12 form-group'>
                          <label class='control-label'>Country</label>
                        <input class='form-control' ng-model="card.billing_address.country" placeholder='Country' type='text' required>
                      </div>
                    </div>
                    <div class='form-row'>
                      <div class='col-md-12 form-group'>
                          <label class='control-label'>Email</label>
                        <input class='form-control' ng-model="card.billing_address.email" placeholder='Email' type='text' required>
                      </div>
                    </div>
                    <div class='form-row'>
                      <div class='col-md-12 form-group'>
                          <label class='control-label'>Phone</label>
                        <input class='form-control' ng-model="card.billing_address.phone" placeholder='Phone' type='text' required>
                      </div>
                    </div>
                  </div>
                  <div class='form-row'>
                    <div class='col-md-12 form-group'>
                      <button class='form-control btn btn-primary' ng-click="pay(card)">Pay (${{card.amount/100 | number:2 }}) »</button>
                    </div>
                  </div>
                  <div class='form-row'>
                    <div class='col-md-12 error form-group'>
                      <span class="error">{{errors}}</span>
                    </div>
                  </div>
                </form>
                <div class='form-row'>
                  <div class='col-md-12 form-group'>
                    <div class="or">or</div>
                    <button class='form-control btn btn-primary' ng-click="payByPaypal(card)">Pay by Paypal</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
</div> 
