<div class="app-contacts">
  <div class="receptions-container pt-0">
    <div style="padding: 20px 30px 30px 30px;" ng-style="{'margin-left': (user_type == 'user') ? 0 : ''}" class="page-main">
      <div ng-show="user_type == 'user'">
        <table class="table" ng-show="join_buttons.length">
          <thead>
            <tr>
              <th>Name</th>
              <th>Conference</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="session in join_buttons">
              <td><strong>{{session.extra["user_name"]}}</strong> is running a conference!</td>
              <td>{{session.extra["session-name"]}}</td>
              <td><button ng-click = "joinToSession(session)" class="join btn btn-primary" style="float:right;" ng-disabled="join_btn_click">Join</button></td>
            </tr>
          </tbody>
        </table>

        <div ng-show="!join_buttons.length">
          <p>You don't have conferences</p>
        </div>
      </div>

      <article>
        <!-- just copy this <section> and next script -->
            <section class="experiment" ng-show="video_window">
                <section>
                    <div class="section-header">
                      <button ng-show="user_type == 'staffmember' && session_online && screenAdded" ng-click = "removeScreenSharing()" class="btn btn-primary">Remove Screen</button>
                      <button ng-disabled="screenAdded" ng-show="user_type == 'staffmember' && session_online && !screenAdded" ng-click = "addScreenSharing()" class="btn btn-primary">Add Screen</button>
                      <button  class="btn btn-primary startRecord" ng-show="startRecord"></button>
                      <button ng-show="user_type == 'staffmember'" data-toggle="modal" data-target="#conferenceTitle" class="btn btn-primary" id="startConf">Start Conference</button>  

                      <span ng-show="user_type == 'staffmember'">
                         <!--  Private ?? -->
                          <a href="javascript:;" target="_blank" title="Open this link in new tab. Then your room will be private!">
                              <code>
                                  <strong id="unique-token">#123456789</strong>
                              </code>
                          </a>
                      </span>
                    </div>
                    

                    <!-- <input type="text" id="conference-name"> -->
                    <!-- <button id="setup-new-conference" class="btn btn-normal btn-theme setup">Setup New Conference</button> -->
                </section>

                <!-- list of all available broadcasting rooms -->
                <table style="width: 100%;" id="rooms-list"></table>

                <!-- local/remote videos container -->
                <div id="videos-container"></div>
                <div ng-show="startRecord" class="options pl-15">
                  <button id="close" class="btn btn-normal btn-theme" ng-click="closeChat()">Close Chat</button>
                </div>
            </section> 

      </article>

      

      <div ng-show="hide" class="block-container col-lg-12">
             <select ng-model='uploadFolder' ng-change = "getVideo()">
              <option ng-repeat="option in users" value={{option.id}}>{{option.name}}</option>
             </select>
             <input type="video_name" ng-model="videoname">

             <!-- <button class="btn btn-normal btn-theme" ng-click = "deleteVideoFolder()">Delete folder "{{uploadFolder}}" from S3</button>  -->
      </div>
      <div ng-show="blobvideos.length" class="table_container">
         <h4>Recorded videos</h4>
           <div class="table">
              <div class="table_row" ng-repeat="blobvideo in blobvideos">
                 <div class="table_cell video">
                     <video  src="{{blobvideo.src}}" controls="" width="100%"></video>
                 </div>
                 <div class="table_cell options">
                      <button class="btn btn-primary" ng-click = "postVideo(blobvideo.blob)">Save to S3</button>
                      <button class="btn btn-primary" ng-click = "removeArrayItem(blobvideos,blobvideo)">Delete</button>
                 </div>
            </div>
         </div> 
      </div>
    </div>
      <!-- Modal -->
      <div class="modal fade modal-success" id="conferenceTitle" aria-hidden="true" aria-labelledby="conferenceTitle" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-center">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="newProfession.title = ''">
                <span aria-hidden="true">×</span>
              </button>
              <h4 class="modal-title">New Conference</h4>
            </div>
            <div class="modal-body">
              <form name="addProfessionModalForm">
                <div class="form-group form-material floating">
                  <input type="text" name="title" id="conference-name" class="form-control" >
                  <label class="floating-label">Title</label>
                </div>
              </form>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModalConf">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" id="setup-new-conference">Start</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal -->
      
  </div>
</div>