
<div ng-controller="CalendarCtrl as vm">
<div class="datepick">
    <h3 class="add-rec-title">Choose date and we will find list of staffmembers</h3>
    <p  class="input-group" style="max-width: 250px">
      <input 
          type="text"
          class="form-control datepicker-popup"
          readonly
          uib-datepicker-popup="dd MMMM yyyy"
          ng-model="recption_data.data"
          ng-change="getStaffs(recption_data.data)"
          is-open="recption_data.is_open"
          close-text="Close">
      <span class="input-group-btn">
        <button
          type="button"
          class="btn btn-default"
          ng-click="vm.toggle($event, 'is_open', recption_data)">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </p>  
</div>
        <div class="error_message" ng-if= "errors.past_time">
                <span class="icon"></span><span ng-click="closeError('past_time')" class="w_close"></span>You have chosen time in the past
        </div>

<div >
  <div ng-if="staffs[0]" class="page-content-table">
    <table class="table" >
      <thead>
        <tr>
          <th>Staff logo</th>
          <th>Info</th>
          <th>Work Time</th>
          <th>Break Time</th>
        </tr>
      </thead>
      
      <tbody>
        <tr ng-repeat="staff in staffs track by $index" data-toggle="modal" data-target="#exampleModalSuccess" ng-click="addEvent(staff)">
          <td>
            <div class="avatar" style="background-image:url({{getImageUrl(staff.logo)}});width:50px;height:50px;background-size: cover;background-position: top center;"></div>
          </td>
          <td>
            <div>
              <span class="">{{staff.first_name}}</span>
              <span class="">{{staff.last_name}}</span>
              <span class="">({{staff.email}})</span>
            </div>
          </td>
          <td>
              <span class="visible-xs header">Working Time: </span>
              <span class="">{{daySecondToHours(staff.working_hours.start_time)}} - </span>
              <span class="">{{daySecondToHours(staff.working_hours.end_time)}}</span>
          </td>
          <td>
              <span class="visible-xs header">Break Time: </span>
              <span class="">{{staff.break_hours.start_time}} - </span> 
              <span class="">{{staff.break_hours.end_time}}</span>
          </td>
          <!-- <td>
            <button
              class="btn-theme btn btn-primary"
              ng-click="addEvent(staff)">
              Add receptions
            </button>
          </td> -->
        </tr>  
      </tbody>
    </table>
  </div>
  <div ng-if="!staffs[0]">
    <p>This date have not any staffmembers.</p>
  </div>
</div> 
</div> 

<!-- Modal -->
<div class="modal fade modal-success" id="exampleModalSuccess" aria-hidden="true" aria-labelledby="exampleModalSuccess" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="removeNewEvent()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Create Reception</h4>
      </div>
      <div class="modal-body">
        <div class="disp-flex">
          <div class="flex-col">
            <div class="logo_image_rec" style="background-image: url({{getImageUrl(new_event.doctor.logo)}});"></div>  
          </div>
          <div class="flex-col">
            <h4 class="profile-user">{{new_event.doctor.profession ? new_event.doctor.profession.title + ':' : ''}} {{new_event.doctor.first_name}} {{new_event.doctor.last_name}}</h4>
            <p class="patient-email">{{new_event.doctor.email}}</p>
          </div>
        </div>
        <div class="form-group mt-20">
          <label class="control-label">Message</label>
          <textarea class="form-control" ng-model="new_event.message_body"></textarea>
        </div>
        <div style="overflow: hidden;">
          <div class="col-lg-6 col-md-6 col-sm-6 p-0">
            <div
              uib-timepicker
              ng-model="free_zone.choose_start_time"
              ng-change="chooseReceptionDate('start_date',free_zone.choose_start_time)"
              hour-step="1"
              minute-step="5"
              show-meridian="false"
              min = "min"
              max = "free_zone.choose_end_time"
              >
              <!-- min = "free_zone.start_time" -->
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 p-0">
            <div
              uib-timepicker
              ng-model="free_zone.choose_end_time"
              ng-change="chooseReceptionDate('end_date',free_zone.choose_end_time)"
              hour-step="1"
              minute-step="5"
              show-meridian="false"
              min = "free_zone.choose_start_time"
              max = "max"
              >
              <!-- max = "free_zone.end_time" -->
            </div>
          </div>
        </div>

        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="removeNewEvent()" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="addReception(new_event)" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->