<div class="mt-30">
  <div class="page-header">
     <h1 class="page-title">{{title}}</h1>
    <div class="page-header-actions">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:;" ng-click="go('/')">{{menuTitle['Home']}}</a></li>
        <li class="breadcrumb-item active">{{menuTitle['Inbox']}}</li>
        <li class="breadcrumb-item active">{{menuTitle['Video Chats']}}</li>
        <li class="breadcrumb-item active">{{title}}</li>
      </ol>
    </div>
  </div> 
  <div class="app-contacts" ng-show="new_video">
    <div ng-show="new_video && (call_to_users.length || user_type == 'user')" class="receptions-container pt-0">
      <div style="bottom: 30px;" class="page-aside" ng-show="user_type == 'staffmember'">
        <div class="page-aside-inner-receptions">
          <div class="page-aside-section">
            <div class="list-group">
              <div class="list-group-item" ng-class="{ 'active': isActiveUser(user) }" ng-click="toggleCallToUser(user)" ng-repeat="user in call_to_users">
                <div class="media">
                  <div class="pr-20">
                    <div class="avatar avatar-online">
                      <img ng-if="user.logo" src="{{user.logo}}" alt="...">
                      <i class="avatar avatar-busy"></i>
                    </div>
                  </div>
                  <div class="media-body">
                    <h5 class="mt-0 mb-5">
                      {{user.first_name}} {{user.last_name}}
                    </h5>
                    <p>
                        <i class="icon icon-color wb-envelope"></i> {{user.email}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="padding: 20px 30px 30px 30px;" ng-style="{'margin-left': (user_type == 'user') ? 0 : ''}" class="page-main">
        <div ng-show="user_type == 'user'">
          <table class="table" ng-show="join_buttons.length">
            <thead>
              <tr>
                <th>Name</th>
                <th>Conference</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="session in join_buttons">
                <td><strong>{{session.extra["user_name"]}}</strong> is running a conference!</td>
                <td>{{session.extra["session-name"]}}</td>
                <td><button ng-click = "joinToSession(session)" class="join btn btn-primary" style="float:right;" ng-disabled="join_btn_click">Join</button></td>
              </tr>
            </tbody>
          </table>

          <div ng-show="!join_buttons.length">
            <p>You don't have conferences</p>
          </div>
        </div>

        <article>
          <!-- just copy this <section> and next script -->
              <section class="experiment" ng-show="video_window">
                  <section>
                      <div class="section-header">
                        <button ng-show="user_type == 'staffmember' && session_online && screenAdded" ng-click = "removeScreenSharing()" class="btn btn-primary">Remove Screen</button>
                        <button ng-disabled="screenAdded" ng-show="user_type == 'staffmember' && session_online && !screenAdded" ng-click = "addScreenSharing()" class="btn btn-primary">Add Screen</button>
                        <button  class="btn btn-primary startRecord" ng-show="startRecord"></button>
                        <button ng-show="user_type == 'staffmember'" data-toggle="modal" data-target="#conferenceTitle" class="btn btn-primary" id="startConf">Start Conference</button>  

                        <span ng-show="user_type == 'staffmember'">
                           <!--  Private ?? -->
                            <a href="javascript:;" target="_blank" title="Open this link in new tab. Then your room will be private!">
                                <code>
                                    <strong id="unique-token">#123456789</strong>
                                </code>
                            </a>
                        </span>
                      </div>
                      

                      <!-- <input type="text" id="conference-name"> -->
                      <!-- <button id="setup-new-conference" class="btn btn-normal btn-theme setup">Setup New Conference</button> -->
                  </section>

                  <!-- list of all available broadcasting rooms -->
                  <table style="width: 100%;" id="rooms-list"></table>

                  <!-- local/remote videos container -->
                  <div id="videos-container"></div>
                  <div ng-show="startRecord" class="options pl-15">
                    <button id="close" class="btn btn-normal btn-theme" ng-click="closeChat()">Close Chat</button>
                  </div>
              </section> 

        </article>

        

        <div ng-show="hide" class="block-container col-lg-12">
               <select ng-model='uploadFolder' ng-change = "getVideo()">
                <option ng-repeat="option in users" value={{option.id}}>{{option.name}}</option>
               </select>
               <input type="video_name" ng-model="videoname">

               <!-- <button class="btn btn-normal btn-theme" ng-click = "deleteVideoFolder()">Delete folder "{{uploadFolder}}" from S3</button>  -->
        </div>
        <div ng-show="blobvideos.length" class="table_container">
           <h4>Recorded videos</h4>
             <div class="table">
                <div class="table_row" ng-repeat="blobvideo in blobvideos">
                   <div class="table_cell video">
                       <video  src="{{blobvideo.src}}" controls="" width="100%"></video>
                   </div>
                   <div class="table_cell options">
                        <button class="btn btn-primary" ng-click = "postVideo(blobvideo.blob)">Save to S3</button>
                        <button class="btn btn-primary" ng-click = "removeArrayItem(blobvideos,blobvideo)">Delete</button>
                   </div>
              </div>
           </div> 
        </div>
      </div>
        <!-- Modal -->
        <div class="modal fade modal-success" id="conferenceTitle" aria-hidden="true" aria-labelledby="conferenceTitle" role="dialog" tabindex="-1">
          <div class="modal-dialog modal-center">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="newProfession.title = ''">
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">New Conference</h4>
              </div>
              <div class="modal-body">
                <form name="addProfessionModalForm">
                  <div class="form-group form-material floating">
                    <input type="text" name="title" id="conference-name" class="form-control" >
                    <label class="floating-label">Title</label>
                  </div>
                </form>
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModalConf">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="setup-new-conference">Start</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End Modal -->
        
      </div>
    </div>
    <div class="page-content" ng-show="new_video && (!call_to_users.length && user_type == 'staffmember')">
      <p class="p-20 bg-white">You don't have any approved receptions now</p>
    </div>
  </div>
  <div class="page-content" ng-show="my_video">
    <div class="app-media video_list" ng-show="my_video">
      <div ng-show="my_video && videos.collection.length">



        <!-- Media Content -->
        <div class="page-content page-content-table bg-white" data-selectable="selectable">

          <!-- Actions -->
          <!-- <div class="page-content-actions">
            <div class="pull-right">
              <div class="btn-group media-arrangement" role="group">
                <button class="btn btn-outline btn-default" ng-click="videoListType('grid')" ng-class="{'active': grid_active}" id="arrangement-grid" type="button"><i class="icon wb-grid-4" aria-hidden="true"></i></button>
                <button class="btn btn-outline btn-default" ng-click="videoListType('list')" ng-class="{'active': !grid_active}" id="arrangement-list" type="button"><i class="icon wb-list" aria-hidden="true"></i></button>
              </div>
            </div>
            <div class="actions-inner">
              <div class="checkbox-custom checkbox-primary checkbox-lg" style="margin-bottom: 25px;">
                <input type="checkbox" id="media_all" class="selectable-all">
                <label for="media_all" style="visibility:hidden;"></label>
              </div>
            </div>
          </div> -->

          <!-- Media -->
          <div class="media-list is-grid padding-bottom-50" ng-class="{'is-grid': grid_active, 'is-list': !grid_active}">
            <ul class="blocks blocks-100 blocks-xlg-4 blocks-lg-3 blocks-md-3 blocks-ms-2 blocks-xs-2"
            data-plugin="animateList" data-child=">li">
              <li ng-class="{'animation-scale-up': grid_active, 'animation-fade': grid_active}" ng-repeat="video in videos.collection">
                <div class="media-item" data-toggle="slidePanel" data-url="panel.tpl">
                  <div class="checkbox-custom checkbox-primary checkbox-lg">
                    <input type="checkbox" ng-checked="video_array.indexOf('key'+{{$index}}) !== -1  " class="selectable-item" id="media_{{$index}}" ng-click="chooseVideo(video.link, $index);"/>
                    <label for="media_{{$index}}"></label>
                  </div>
                  <div class="image-wrap">
                   <!--  <video src="https://s3.amazonaws.com/newbucketforvideo/{{video}}"   controls="" width="100%">
                    </video> -->

                    <video width="100%" controls>
                      <source src="https://s3.amazonaws.com/newbucketforvideo/{{video.link}}" type="video/mp4">
                    </video>


                  </div>
                  <div class="info-wrap">
                    <div class="dropdown">
                      <span class="icon wb-settings dropdown-toggle" role="button" data-toggle="dropdown"
                      data-animation="scale-up"></span>
                      <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li ng-click = "deleteVideo(video.link)"><a><i class="icon wb-trash" aria-hidden="true"></i>Delete</a></li>
                      </ul>
                    </div>
                    <div class="title">{{video.title}}</div>
                    <div class="time">1 minutes ago</div>
                    <div class="media-item-actions btn-group">
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Download"
                      data-toggle="tooltip" data-container="body" data-placement="top"
                      data-trigger="hover" type="button">
                        <i class="icon wb-download" aria-hidden="true"></i>
                      </button>
                      <button class="btn btn-icon btn-pure btn-default" data-original-title="Delete"
                      data-toggle="tooltip" data-container="body" data-placement="top"
                      data-trigger="hover" type="button" ng-click = "deleteVideo(video.link)">
                        <i class="icon wb-trash" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </div>

        <div class="site-action" ng-class="{'active': choose_video}">
          <button type="button" ng-click="choose_video = false" ng-disabled="!choose_video && !video_array.length"  class="site-action-toggle btn-raised btn btn-success btn-floating">
            <i class="front-icon wb-upload animation-scale-up" aria-hidden="true"></i>
            <i class="back-icon wb-close animation-scale-up" aria-hidden="true"></i>
          </button>
          <div class="site-action-buttons">
            <!-- <button type="button" data-action="download" class="btn-raised btn btn-success btn-floating animation-slide-bottom">
              <i class="icon wb-download" aria-hidden="true"></i>
            </button> -->
            <button type="button" data-action="trash" class="btn-raised btn btn-success btn-floating animation-slide-bottom" ng-click = "deleteVideo(selected_video)">
              <i class="icon wb-trash" aria-hidden="true"></i>
            </button>
          </div>
          <input type="file" id="fileupload" name="upload" />
        </div>
      </div>
      <div class="bg-white" ng-show="my_video && !videos.collection.length">
        <p class="p-20">You don't have any video</p>
      </div>
      
    </div>     
  </div>
  <div class="page-content" ng-show="video_history">
    <div class="panel">
      <div style="margin-bottom: 15px; overflow: hidden;">
        <div class="table_container">
          <div ng-if="video_chat_history.length" class="page-content-table">
            <table class="table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Active</th>
                  <th>Start</th>
                  <th>End</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat='video_chat in video_chat_history'>
                  <td>{{video_chat.video_chat_id}}</td>
                  <td>{{video_chat.video_chat_name}}</td>
                  <td ng-if="video_chat.is_active == 1">Online</td>
                  <td ng-if="video_chat.is_active == 0">Offline</td>
                  <td>{{video_chat.start_video_chat}}</td>
                  <td>{{video_chat.end_video_chat}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div ng-if="!video_chat_history.length" class="empty pt-20"><p>You don't any Video Chat...</p></div>
        </div>
      </div>
    </div>
  </div>
  <button id="successUploadedBtn" data-target="#successUploaded" style="display: none;" data-toggle="modal">Syhvvds</button>
  <!-- Modal -->
  <div class="modal fade modal-success" id="successUploaded" aria-hidden="true" aria-labelledby="successUploaded" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="newProfession.title = ''">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title">{{xhrModal.title}}</h4>
        </div>
        <div class="modal-body">
          <p>{{xhrModal.message}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</div> 