<div class="main_container app-work mt-30">
  <div ng-show="page == 'my_schedule'" class="">
    <div class="page-header">
      <h1 class="page-title">{{pageTitle}}</h1>
      <div class="page-header-actions">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:;" ng-click="go('/account')">{{menuTitle['Home']}}</a></li>
          <li class="breadcrumb-item active">{{menuTitle['Schedule']}}</li>
          <li class="breadcrumb-item active">{{breadcrumbTitle}}</li>
        </ol>
      </div>
    </div> 
    <div class="page-content" ng-show="schedule_page == 'my_breaks'">
      <div class="row" data-plugin="scrollable">
        <div class="col-md-8 col-lg-8">
          <div class="panel">
            <div class="panel-body">
              <div class="" ng-include="templates.breaksCalendar"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">{{menuTitle['Breaks']}}</h3>
              <div class="panel-actions">
                <a class="text-action" href="javascript:void(0)" ng-click="openBreakModal(break, $index, 'add_break')"><i class="icon wb-plus" aria-hidden="true"></i></a>
              </div>
            </div>
            <div class="table-responsive">
              <table ng-show="breaks.length" class="table table-striped">
                <thead>
                  <th>Name</th>
                  <th>Actions</th>
                </thead>
                <tbody>
                  <tr ng-repeat="break in breaks">
                    <td>
                      <p>Start day: {{break.start_day}}</p>
                      <p>End day: {{break.end_day}}</p>
                      <p>Repeat type: {{break.repeat_type}}</p>
                      <p>End Repeat: {{break.end_repeat}}</p>
                    </td>
                    <td>
                      <button type="button" ng-click="openBreakModal(break, $index, 'update_break')" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip" data-original-title="Edit">
                        <i class="icon wb-wrench" aria-hidden="true"></i>
                      </button>
                      <button type="button" ng-click="deleteBreak(break.id, $index)" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip" data-original-title="Delete">
                        <i class="icon wb-close" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <p class="pl-30 pb-30" ng-show="!breaks.length">No {{menuTitle['Breaks']}}</p>
            </div>
              <!-- <div class="rules">
                <div class="rule_block" ng-repeat="break in breaks">
                  
                  <div class="rule_btn">
                    <button ng-click="openBreakModal(break, $index, 'update_break')" class="btn btn-primary">Update</button>
                    <button ng-click="deleteBreak(break.id, $index)" class="btn btn-primary" style="float: right;">Delete</button>
                  </div>
                </div>
              </div> -->
          </div>
          
        </div>
      </div>
      
    </div>
    <div class="page-content pt-0" ng-show="schedule_page == 'working_hours'">
     <div class="panel">
      <div class="panel-body">

        <div class="rules_container" ng-if="schedule_page == 'my_breaks'" >
          <div ng-include="templates.staffBreaks"></div>
        </div>  

         <div style="clear: both;" ng-show="schedule_page == 'working_hours'">
            <!-- <h2>Working Hours</h2> -->

            <!-- Site Action -->
            <div class="site-action" data-plugin="actionBtn">
              <button type="button" data-toggle="modal" data-target="#addWorkingHour" class="site-action-toggle btn-raised btn btn-success btn-floating" ng-click="actionSchedule('add',{})">
                <i class="front-icon wb-plus animation-scale-up" aria-hidden="true"></i>
                <i class="back-icon wb-close animation-scale-up" aria-hidden="true"></i>
              </button>
            </div>
            <!-- End Site Action -->

            <!-- Modal -->
            <div class="modal fade modal-success" id="addWorkingHour" aria-hidden="true" aria-labelledby="addWorkingHour" role="dialog" tabindex="-1">
              <div class="modal-dialog modal-center">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="newProfession.title = ''">
                      <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Add Working Hour</h4>
                  </div>
                  <div class="modal-body">
                    
                    <div ng-if="scheduleFreeDays.length > 0" class="">
                     <div ng-if= "openSchedule" class="">
                      <div class="form_error" ng-if="errorMessage">{{errorMessage}}</div>
                        <div class="mb-15">
                           <span>Day</span>
                           <select ng-if="!update_schedule" ng-init="scheduleFreeDays[0]" ng-model="add_working_time.day" ng-options="item for item in scheduleFreeDays"></select>
                           <span ng-if="update_schedule">{{add_working_time.day}}</span>
                        </div>
                        <div style="overflow: hidden;">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p-0">
                            <span>Start time</span>
                            <div
                                  uib-timepicker
                                  ng-model="add_working_time.start_time"
                                  hour-step="1"
                                  minute-step="5"
                                  show-meridian="false"
                                  max="add_working_time.end_time"
                                  min="add_working_time.min"
                                  >
                                </div>
                          </div>

                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p-0">
                            <span>End time</span>
                             <div
                              uib-timepicker
                              ng-model="add_working_time.end_time"
                              hour-step="1"
                              minute-step="5"
                              show-meridian="false"
                              min="add_working_time.start_time"
                              max="add_working_time.max"
                              >
                            </div>
                          </div>
                        </div>
                        
                        <!-- <button ng-click="viewSchedule(openSchedule)" class="btn btn-primary">Cancel</button>
                        <button ng-if="!update_schedule" ng-click="addSchedule(add_working_time)" class="btn btn-primary">+ Add</button>
                        <button ng-if="update_schedule" ng-click="updateSchedule(add_working_time)" class="btn btn-primary"> Update</button> -->
                     </div>
                    </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="viewSchedule(openSchedule)" data-dismiss="modal">Close</button>
                    <button ng-if="!update_schedule" data-dismiss="modal" ng-click="addSchedule(add_working_time)" class="btn btn-primary">Add</button>
                    <button ng-if="update_schedule" data-dismiss="modal" ng-click="updateSchedule(add_working_time)" class="btn btn-primary">Update</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Modal -->

          	

          <!-- View staffmember schedule -->
          	 <div class="" ng-show="working_hours[0]">
          	    <table class="table">
        	        <thead>
        	          <tr>
        	            <th>Day</th>
        	            <th>Start time</th>
        	            <th>End time</th>
        	            <th>Actions</th>
        	          </tr>
        	        </thead>
        	         <tbody>
        	          <tr ng-repeat="data in working_hours">
        	            <td>
        	               <span class="up_case">{{data.day}}</span>
        	            </td>
        	            <td>
        	               <span class="up_case">{{daySecondToHours(data.start_time)}}</span>
        	            </td>
        	            <td>
        	               <span class="up_case">{{daySecondToHours(data.end_time)}}</span>
        	            </td>

        	            <td>
        	              <button data-toggle="modal" data-target="#addWorkingHour" ng-click="actionSchedule('update',data)" class="btn btn-primary">Update</button>
        	              <button ng-click="deleteSchedule(data)" class="btn btn-primary">Delete</button>
        	            </td>

        	          </tr>
        	         </tbody>
          	   </table>
          	 </div>
             
           </div>
      </div>  
    </div>
   </div>
  </div>


    <div ng-show="page == 'my_receptions'">
    	  <div ng-include="'/partials/partialMyReceptionsStaff.html'"></div>
     </div>

     <div ng-if="page == 'reception'">
        <div ng-include="'/partials/viewStaffReception.html'"></div>  
     </div>   


</div>

<!-- <div ng-include="'/partials/calendarTemplates.html'"></div> -->
<!-- Modal Window -->
<div ng-include="templates.modal"></div>
<!-- Left Modal Window -->
<div class="app-mailbox" ng-include="templates.leftModal"></div>
 