<div class="mt-30" ng-show="page !== 'reception'">
	<div class="page-header">
    <h1 class="page-title">{{pageTitle}}</h1>
    <div class="page-header-actions">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:;" ng-click="go('/account')">{{menuTitle['Home']}}</a></li>
        <li class="breadcrumb-item active">{{menuTitle['Receptions']}}</li>
        <li class="breadcrumb-item active">{{breadcrumbTitle}}</li>
      </ol>
    </div>
  </div>
	<div class="page-content">
      <div class="panel">
        <div class="panel-body">
			    <div ng-if="page == 'copy_reception' || page == 'add_reception' || page == 'my_receptions'" class="">
				    <!-- <button ng-click="changePage('my_receptions');getReceptions()" class="btn btn-primary">My Receptions</button>
					<button ng-click="changePage('add_reception');getStaffs(recption_data.data)" class="btn btn-primary">Add Reception</button> -->
					<!-- <div class="toggle_menu" ng-if="user_type=='user'">
					    <ul class="">
					      <li ng-click="getReceptions();changePage('my_receptions');" ng-class="{'active':page == 'my_receptions'}">Receptions</li>
					      <li>|</li>
					      <li ng-click="getStaffs(recption_data.data);changePage('add_reception');" ng-class="{'active':page == 'add_reception'}">Add reception</li>
					    </ul>
					</div> -->
				</div>

				<div class="" ng-show="page == 'add_reception'">  
					  <div ng-include="'/partials/partialAddReceptionUser.html'"></div>
				</div>
				<div class="" ng-show="page == 'copy_reception'">
					<div ng-include="'/partials/partialCopyReception.html'"></div>
				</div>

				<div class="" ng-show="page == 'my_receptions'">
				  <div ng-include="'/partials/partialMyReceptionsUser.html'"></div>
				</div>
			  </div>
			</div>
  </div>
</div>
<div class="" ng-if="page == 'reception'">
	  <div ng-include="'/partials/viewUserReception.html'"></div>
</div>


<!-- <div ng-include="'/partials/calendarTemplates.html'"></div> -->
<!-- Modal Window -->
<div ng-include="templates.modal"></div>
<!-- Left Modal Window -->
<div class="app-mailbox" ng-include="templates.leftModal"></div>