<!-- Page -->
<div class="page-profile reception">
    <div class="page-header">
        <h1 class="page-title">Reception #{{reception.id}}</h1>
        <div class="page-header-actions">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:;" ng-click="go('/account')">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)" ng-click="page = 'my_receptions'">{{menuTitle['Receptions']}}</a></li>
                <li class="breadcrumb-item active">Reception #{{reception.id}}</li>
                <!-- <li class="breadcrumb-item active">Basic</li> -->
            </ol>
        </div>
    </div>
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <!-- Page Widget -->
                <div class="card card-shadow text-center main_container">
                    <div class="card-block">
                        <div class="logo_image" style="background-image: url({{reception.user.logo ? base_logo_url + reception.user.logo : default_logo;}});"></div>
                        <h4 class="profile-user">Client: {{reception.user.first_name}} {{reception.user.last_name}}</h4>
                        <p class="patient-email">{{reception.user.email}}</p>
                    </div>
                    <div class="card-block">
                        <!-- <div class="card-block"></div> -->
                        <p>Date: {{dateToFormat(reception.start_date,'date')}}</p>
                        <p>Time: </span><span>{{dateToFormat(reception.start_date,'time')}} - {{dateToFormat(reception.end_date,'time')}}</span></p>
                        <p>
                            Payment Status:
                            <span ng-if="reception.status != 2 || reception.status == 2 && !reception.payment_status" class="">Not Paid</span>
                            <span ng-if="reception.payment_status" class="">Paid</span>
                        </p>
                        <p>Status: {{viewStatus(reception.status,'title')}}</p>
                    </div>
                </div>
                <!-- End Page Widget -->
            </div>
            <div class="col-lg-9">
                <!-- Panel -->
                <div class="panel">
                    <div class="panel-body nav-tabs-animate nav-tabs-horizontal" data-plugin="tabs">
                        <ul class="nav nav-tabs nav-tabs-line" role="tablist" style="border-left: 0px;">
                            <li class="nav-item" role="presentation"><a class="nav-link" ng-click="reception_menu = 'info'" ng-class="{'active': reception_menu == 'info'}" data-toggle="tab" aria-controls="generalInfo" role="tab">General Info</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" ng-click="reception_menu = 'chat'" ng-class="{'active': reception_menu == 'chat'}" data-toggle="tab" href="javascript:;" aria-controls="chat" role="tab">Chat</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" ng-click="reception_menu = 'files'" ng-class="{'active': reception_menu == 'files'}" data-toggle="tab" href="javascript:;" aria-controls="files" role="tab">Files</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" ng-click="reception_menu = 'prescription'" ng-class="{'active': reception_menu == 'prescription'}" data-toggle="tab" href="javascript:;" aria-controls="prescription" role="tab">Prescription</a></li>
                        </ul>
                        <div class="tab-content container-fluid" style="padding-top: 20px; padding-left: 3px; padding-right: 3px;">
                            <div ng-show="reception_menu == 'info'" class="animation-slide-left tab-pane" ng-class="{'active': reception_menu == 'info'}" id="generalInfo">
                                <span class="title">Time: </span><span ng-if="reception.payment_status">{{dateToFormat(reception.start_date,'time')}} - {{dateToFormat(reception.end_date,'time')}}</span>
                                <div ng-if="!reception.payment_status" class="reception-timepicker">
                                    <div class="col-lg-6 col-md-6 col-sm-6" uib-timepicker ng-model="reception_perion.start" ng-change="chooseReceptionDate($index,'start_date',reception_perion.start)" hour-step="1" minute-step="15" show-meridian="false" min="reception.min" max="reception_perion.end">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6" uib-timepicker ng-model="reception_perion.end" ng-change="chooseReceptionDate($index,'end_date',reception_perion.end)" hour-step="1" minute-step="15" show-meridian="false" min="reception_perion.start" max="reception.max">
                                    </div>
                                </div>
                                <div class="">
                                    <p>Status:</p>
                                    <div ng-if="!reception.payment_status">
                                        <my-select select="select.reception_status" value="reception.status"></my-select>
                                    </div>
                                </div>
                                <div class="pt-20">
                                    <button style="float: right;" class="btn-theme btn btn-primary" ng-click="updateReception(reception)">
                                        Update
                                    </button>
                                </div>
                            </div>
                            <div ng-show="reception_menu == 'chat'" class="animation-slide-left tab-pane" ng-class="{'active': reception_menu == 'chat'}" id="chat">
                                <div class="site-action">
                                    <button type="button" class="site-action-toggle btn-raised btn btn-success btn-floating" ng-click="openModal(templates.writeReceptionMessage);">
                                        <i class="front-icon wb-pencil animation-scale-up"></i>
                                        <i class="back-icon wb-close animation-scale-up"></i>
                                    </button>
                                </div>
                                <div ng-init="getReceptionMessage(reception.id)">
                                    <div class="chat-box">
                                        <div class="chats">
                                            <div ng-if="reception.messages[0]">
                                                <div ng-repeat="message in reception.messages track by $index">
                                                    <div class="chat" ng-class="{'chat-left':message.staff_id == message.sender_id}">
                                                        <div class="chat-avatar">
                                                            <a class="avatar" data-toggle="tooltip" href="javascript:;" data-placement="left" title="" data-original-title="June Lane">
                                      <span class="message_avatar" style="background-image:url({{getImageUrl(message.sender.logo)}});"></span>
                                    </a>
                                                        </div>
                                                        <div class="chat-body">
                                                            <div class="chat-content">
                                                                <p>
                                                                    {{message.body}}
                                                                </p>
                                                                <div class="chat-time">{{Time(message.updated_at,'hh:mm a')}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="reception_menu == 'files'" class="animation-slide-left tab-pane" ng-class="{'active': reception_menu == 'files'}" id="files">
                                <table ng-show="reception.files.length" class="table">
                                    <thead>
                                        <th>File Name</th>
                                        <th></th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="file in reception.files">
                                            <td>{{file.url}}</td>
                                            <td><a href="{{getImageUrl(file.url)}}" target="_self" download="{{file.url}}"><i class="glyphicon glyphicon-download"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p ng-show="!reception.files.length">No files</p>
                            </div>
                            <div ng-show="reception_menu == 'prescription'" class="animation-slide-left tab-pane" ng-class="{'active': reception_menu == 'prescription'}" id="prescription">
                                <form>
                                    <div class="form-group form-material floating">
                                        <input type="text" class="form-control" name="description" ng-model="reception.prescription.message_body" />
                                        <label class="floating-label">Description</label>
                                    </div>
                                    <div class="form-group form-material floating">
                                        <input type="text" class="form-control" name="pharmacy_email" ng-model="reception.prescription.pharmacy_email" />
                                        <label class="floating-label">Pharmacy Email</label>
                                    </div>
                                    <button ng-if="!reception.prescription.id" ng-click="sendPrescription(reception.prescription)" class="btn btn-primary" style="margin: 10px 0px 10px 10px;float: right;">Send</button>
                                    <button ng-if="reception.prescription.id" ng-click="sendPrescription(reception.prescription)" class="btn btn-primary" style="margin: 10px 0px 10px 10px;float: right;">Update</button>
                                    <div class="detail" ng-if="!reception.prescription.id">
                                        <label class="btn btn-upload" style="margin: 10px 10px 10px 0;">Attach File
                                            <input style="display:none;" type="file" name="file" id="reception_file" ng-file-select="onFileSelect($files)">
                                        </label><span ng-if="file">{{file.name}}</span>
                                    </div>
                                    <!-- <div class="detail" ng-if="reception.prescription.file_url">
                    <span class="title">Files:</span><span ng-if="!reception.prescription.file_url"> no attach file </span>
                    <div>
                       <a href="{{getImageUrl(reception.prescription.file_url)}}" target="_blank">{{reception.prescription.file_url}}</a>
                        <span ng-click="deleteReceptionFile(file)" class="delete"></span> 
                    </div>
                  </div> -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>