<div class="app-contacts mt-30">
  <div class="page-header">
      <h1 class="page-title">{{menuTitle['All Staff']}}</h1>
      <div class="page-header-actions">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:;" ng-click="go('/')">{{menuTitle['Home']}}</a></li>
          <li class="breadcrumb-item active">{{menuTitle['All Staff']}}</li>
        </ol>
      </div>

  </div>

  <div class="receptions-container">
    <div style="bottom: 40px;" class="page-aside">
      <div class="page-aside-switch">
        <i class="icon wb-chevron-left" aria-hidden="true"></i>
        <i class="icon wb-chevron-right" aria-hidden="true"></i>
      </div>
      <div class="page-aside-inner-receptions">
        <div class="page-aside-section">
          <div class="list-group">
            <a href="javascript:void(0)" class="list-group-item" ng-click="selectedProfession = { title: menuTitle['All Staff'], staff: staffmembers }">
              <span class="item-right">{{staffmembers.length}}</span>
              <i class="icon wb-inbox" aria-hidden="true"></i>
              {{menuTitle['All Staff']}}
            </a>
          </div>
        </div>
        <div class="page-aside-section">
          <!-- <h5 class="page-aside-title"></h5> -->
          <div class="list-group has-actions">
            <div class="list-group-item" ng-class="{ 'active': isActiveProfession($index) }" ng-repeat="profession in professions">
              <div ng-show="!profession.edit" class="list-content">
                <div ng-click="selectProfession(profession)">
                  <span class="item-right">{{profession.count_staff}}</span>
                  <span class="list-text">{{profession.title}}</span>
                </div>
              </div>
              <div ng-show="profession.edit" class="list-editable">
                <div class="form-group form-material">
                  <input type="text" class="form-control empty" name="label" ng-model="profession.title">
                  <button type="button" class="input-editable-close icon wb-close"
                  aria-label="Close" aria-expanded="true" ng-click="updateProfession(profession)"></button>
                </div>
              </div>
            </div>
            <a ng-show="user_type == 'admin'" class="list-group-item" href="javascript:void(0)" ng-click="newProfession = {}" data-toggle="modal"
            data-target="#addProfessionForm">
              <i class="icon wb-plus" aria-hidden="true"></i> Add New
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="page-main pt-30">
      <!-- Contacts Content Header -->
      <div class="page-header">
        <h1 class="page-title">{{selectedProfession.title}}</h1>
        <div class="page-header-actions">
          <form>
            <div class="input-search input-search-dark">
              <i class="input-search-icon wb-search" aria-hidden="true"></i>
              <input type="text" class="form-control" name="" placeholder="Search...">
            </div>
          </form>
        </div>
      </div>
      <!-- Contacts Content -->
      <div id="contactsContent" ng-show="selectedProfession.staff.length" class="page-content page-content-table">
        <table class="table is-indent" data-plugin="animateList" data-animate="fade" data-child="tr" data-selectable="selectable">
          <thead>
            <tr>
              <th class="pre-cell"></th>
              <th class="cell-300" scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Is Active</th>
              <th scope="col">Is Verified</th>
              <th class="suf-cell"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-click="openPanel($event, person)" ng-repeat="person in selectedProfession.staff">
              <td class="pre-cell"></td>
              <td class="cell-300">
                <a class="avatar" href="javascript:void(0)">
                  <img class="img-fluid" ng-src="{{person.logo}}" alt="...">
                </a>
                {{person.first_name}} {{person.last_name}}
              </td>
              <td>{{person.email}}</td>
              <td><span class="visible-xs header">Is Active: </span>{{person.is_active}}</td>
              <td><span class="visible-xs header">Is Verified: </span>{{person.is_verified}}</td>
              <td class="suf-cell"></td>
            </tr>
          </tbody>
        </table>
        
      </div>
      <p class="pl-30" ng-show="!selectedProfession.staff.length">This profession has no staff</p>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade modal-success" id="addProfessionForm" aria-hidden="true" aria-labelledby="addProfessionForm" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="newProfession.title = ''">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title">Create Profession</h4>
        </div>
        <div class="modal-body">
          <form name="addProfessionModalForm">
            <div class="form-group form-material floating">
              <input type="text" name="title" ng-model="newProfession.title" class="form-control" required>
              <label class="floating-label">Title</label>
            </div>
          </form>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="newProfession.title = ''" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-disabled="addProfessionModalForm.$invalid" data-dismiss="modal" ng-click="saveProfession()">Save</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</div>
<!-- Site Action -->
<div class="site-action" data-plugin="actionBtn">
<button type="button" class="site-action-toggle btn-raised btn btn-success btn-floating" ng-click="openPanel($event, {})">
  <i class="front-icon wb-plus animation-scale-up" aria-hidden="true"></i>
  <i class="back-icon wb-close animation-scale-up" aria-hidden="true"></i>
</button>
<div class="site-action-buttons">
  <button type="button" data-action="trash" class="btn-raised btn btn-success btn-floating animation-slide-bottom">
    <i class="icon wb-trash" aria-hidden="true"></i>
  </button>
  <button type="button" data-action="folder" class="btn-raised btn btn-success btn-floating animation-slide-bottom">
    <i class="icon wb-folder" aria-hidden="true"></i>
  </button>
</div>
</div>
<!-- End Site Action -->