<div class="app-contacts mt-30">

<div class="">
	<div class="page-header">
		<h1 class="page-title">{{menuTitle['Payment Methods']}}</h1>
		<div class="page-header-actions">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:;" ng-click="go('/account')">{{menuTitle['Home']}}</a></li>
                <li class="breadcrumb-item active">{{menuTitle['Settings']}}</li>
                <li class="breadcrumb-item active">{{menuTitle['Payment Methods']}}</li>
            </ol>
        </div>
	</div>
	<div class="page-content">
		<!-- <div class="panel">
				<div class="panel-body container-fluid">
    			
			    <div id="contactsContent" class="page-content-table" data-plugin="selectable">   
			      <p class="error" ng-if="deleteError">{{deleteError}}</p>
			      
			      <table ng-show="methods.length" class="table is-indent" data-plugin="animateList" data-animate="fade" data-child="tr"
			      data-selectable="selectable">
			        <thead>
			          <tr>
			            <th scope="col">Title</th>
									<th scope="col">Key</th>
									<th scope="col">Created At</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr ng-click="openPanel($event, method)" ng-repeat="method in methods">
			            <td>
			              {{method.title}}
			            </td>
			            <td>{{method.value.key}}</td>
			            <td>{{method.value.created_at}}</td>
			          </tr>
			        </tbody>
			      </table>
			      <p ng-show="!methods.length">No methods</p>
			    </div>
			</div>
		</div> -->
		<div class="panel">
            <div class="panel-body container-fluid">
                <div class="main_container page-aside-left">
                    <div class="page-aside">
                      <!-- Contacts Sidebar -->
                      <div class="page-aside-switch">
                        <i class="icon wb-chevron-left" aria-hidden="true"></i>
                        <i class="icon wb-chevron-right" aria-hidden="true"></i>
                      </div>
                      <div class="page-aside-inner page-aside-scroll">
                        <div data-role="container">
                          <div data-role="content">
                            <div ng-if="isPaymentConflict()" class="page-aside-section">
                              <div class="list-group has-actions">
                                <div class="list-group-item" data-plugin="editlist" ng-click="open({title: 'Settings'})">
                                  <div>
                                    <span class="list-text">Settings</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="page-aside-section">
                              <div class="list-group has-actions">
                                <div class="list-group-item" data-plugin="editlist" ng-repeat="method in methods" ng-click="open(method)">
                                  <div>
                                    <span class="list-text">{{method.title}}</span>
                                  </div>
                                </div>
                                <a class="list-group-item" href="javascript:void(0)" data-toggle="modal" data-target="#addPaymentMethod">
                                    <i class="icon wb-plus" aria-hidden="true"></i> Add New
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="page-main">
                        <div class="container-fluid">
                            <div class="page-header">
                                <h1 class="page-title">{{selectedMethod}}</h1>
                            </div>
                            <div id="contactsContent" class="page-content-table" data-plugin="selectable">
                                <p class="error" ng-if="errors.stripe">{{errors.stripe}}</p>
                                <table ng-show="selectedKey" ng-if="selectedMethod == 'Stripe'" class="table is-indent" data-plugin="animateList" data-animate="fade" data-child="tr"
                                data-selectable="selectable">
                                    <thead>
                                        <tr>
                                            <th scope="col">Key</th>
                                            <th scope="col">Created at</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span ng-show="!selectedKey.edit" class="list-text"><span class="visible-xs header">Key: </span>{{selectedKey.key}}</span>
                                                <div class="form-group form-material" ng-show="selectedKey.edit">
                                                    <input type="text" class="form-control empty" name="label" ng-model="selectedKey.key">
                                                </div>
                                            </td>
                                            <td>
                                                <span class="list-text"><span class="visible-xs header">Created At: </span>{{selectedKey.created_at}}</span>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <div class="form-group form-material" ng-show="!doc.edit">
	                                                    <a ng-show="selectedKey.edit" href="javascript:void(0)" ng-click="selectedKey.edit = false;"><i class="icon wb-close padding"></i></a>
	                                                    <a ng-show="selectedKey.edit" href="javascript:void(0)" ng-click="saveStripe(selectedKey)"><i class="icon wb-check padding"></i></a>
                                                        <a ng-show="!selectedKey.edit" href="javascript:void(0)" ng-click="selectedKey.edit = true"><i class="icon wb-pencil padding"></i></a>
                                                        <a href="javascript:void(0)" ng-click="$event.stopPropagation();deleteKey()"><i class="icon wb-trash"></i></a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="error" ng-if="errors.paypal">{{errors.paypal}}</p>
                                <table ng-show="selectedKey" ng-if="selectedMethod == 'Paypal'" class="table is-indent" data-plugin="animateList" data-animate="fade" data-child="tr"
                                data-selectable="selectable">
                                    <thead>
                                        <tr>
                                            <th scope="col">Client ID</th>
                                            <th scope="col">Client secret</th>
                                            <th scope="col">Created at</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span ng-show="!selectedKey.edit" class="list-text"><span class="visible-xs header">Client ID: </span>{{selectedKey.client_id}}</span>
                                                <div class="form-group form-material" ng-show="selectedKey.edit">
                                                    <input type="text" class="form-control empty" name="label" ng-model="selectedKey.client_id">
                                                </div>
                                            </td>
                                            <td>
                                                <span ng-show="!selectedKey.edit" class="list-text"><span class="visible-xs header">Client secret: </span>{{selectedKey.client_secret}}</span>
                                                <div class="form-group form-material" ng-show="selectedKey.edit">
                                                    <input type="text" class="form-control empty" name="label" ng-model="selectedKey.client_secret">
                                                </div>
                                            </td>
                                            <td>
                                                <span class="list-text"><span class="visible-xs header">Created At: </span>{{selectedKey.created_at}}</span>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <div class="form-group form-material" ng-show="!doc.edit">
                                                      <a ng-show="selectedKey.edit" href="javascript:void(0)" ng-click="selectedKey.edit = false;"><i class="icon wb-close padding"></i></a>
                                                      <a ng-show="selectedKey.edit" href="javascript:void(0)" ng-click="savePaypal(selectedKey)"><i class="icon wb-check padding"></i></a>
                                                        <a ng-show="!selectedKey.edit" href="javascript:void(0)" ng-click="selectedKey.edit = true"><i class="icon wb-pencil padding"></i></a>
                                                        <a href="javascript:void(0)" ng-click="$event.stopPropagation();deletePaypalCredentials()"><i class="icon wb-trash"></i></a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table ng-show="selectedKey" ng-if="selectedMethod == '2checkout'" class="table is-indent" data-plugin="animateList" data-animate="fade" data-child="tr"
                                data-selectable="selectable">
                                    <thead>
                                        <tr>
                                            <th scope="col">Seller ID</th>
                                            <th scope="col">Publishable key</th>
                                            <th scope="col">Private key</th>
                                            <th scope="col">Created at</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span ng-show="!selectedKey.edit" class="list-text"><span class="visible-xs header">Seller ID: </span>{{selectedKey.seller_id}}</span>
                                                <div class="form-group form-material" ng-show="selectedKey.edit">
                                                    <input type="text" class="form-control empty" name="label" ng-model="selectedKey.seller_id">
                                                </div>
                                            </td>
                                            <td>
                                                <span ng-show="!selectedKey.edit" class="list-text"><span class="visible-xs header">Publishable key: </span>{{selectedKey.publishable_key}}</span>
                                                <div class="form-group form-material" ng-show="selectedKey.edit">
                                                    <input type="text" class="form-control empty" name="label" ng-model="selectedKey.publishable_key">
                                                </div>
                                            </td>
                                            <td>
                                                <span ng-show="!selectedKey.edit" class="list-text"><span class="visible-xs header">Private Key: </span>{{selectedKey.private_key}}</span>
                                                <div class="form-group form-material" ng-show="selectedKey.edit">
                                                    <input type="text" class="form-control empty" name="label" ng-model="selectedKey.private_key">
                                                </div>
                                            </td>
                                            <td>
                                                <span class="list-text"><span class="visible-xs header">Created At: </span>{{selectedKey.created_at}}</span>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <div class="form-group form-material" ng-show="!doc.edit">
                                                      <a ng-show="selectedKey.edit" href="javascript:void(0)" ng-click="selectedKey.edit = false;"><i class="icon wb-close padding"></i></a>
                                                      <a ng-show="selectedKey.edit" href="javascript:void(0)" ng-click="saveTwocheckout(selectedKey)"><i class="icon wb-check padding"></i></a>
                                                        <a ng-show="!selectedKey.edit" href="javascript:void(0)" ng-click="selectedKey.edit = true"><i class="icon wb-pencil padding"></i></a>
                                                        <a href="javascript:void(0)" ng-click="$event.stopPropagation();deleteTwocheckoutCredentials()"><i class="icon wb-trash"></i></a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div ng-if="selectedMethod == 'Settings'" class="panel">
                                    <p class="error" ng-if="errors">{{errors}}</p>
                                    <p class="success" ng-if="success">{{success}}</p>
                                    <input type="radio" name="activeCardPayment" value="stripe" ng-model="activeCardPayment">
                                    <span>Stripe</span><br/>
                                    <input type="radio" name="activeCardPayment" value="twocheckout" ng-model="activeCardPayment">
                                    <span>2checkout</span><br/>
                                    <button class="btn btn-primary" ng-click="changeActiveMethod(activeCardPayment)">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
	
</div>

<div class="modal fade modal-success" id="addPaymentMethod" aria-hidden="true" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="errors = {}">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Add Payment Method</h4>
      </div>
      <div class="modal-body" id="modal-body">
        <p class="error" ng-if="errors.stripe">{{errors.stripe}}</p>
        <div class="form-group">
            <select ng-model="paymentType" ng-click="$event.stopPropagation()" class="form-control w-100">
                <option value="stripe">Stripe</option>
                <option value="twocheckout">2Checkout</option>
                <option value="paypal">Paypal</option>
            </select>
        </div>
        <div ng-if="paymentType == 'stripe'">
            <div class="form-group">
                <label class="info-label">API key:</label>
                <input type="text" class="form-control empty" name="label" ng-model="stripe.key">
            </div>
        </div>
        <div ng-if="paymentType == 'twocheckout'">
            <div class="form-group">
                <label class="info-label">Seller ID:</label>
                <input type="text" class="form-control empty" name="label" ng-model="twocheckout.seller_id">
            </div>
            <div class="form-group">
                <label class="info-label">Publishable key:</label>
                <input type="text" class="form-control empty" name="label" ng-model="twocheckout.publishable_key">
            </div>
            <div class="form-group">
                <label class="info-label">Private key:</label>
                <input type="text" class="form-control empty" name="label" ng-model="twocheckout.private_key">
            </div>
        </div>
        <div ng-if="paymentType == 'paypal'">
            <div class="form-group">
                <label class="info-label">Client ID:</label>
                <input type="text" class="form-control empty" name="label" ng-model="paypal.client_id">
            </div>
            <div class="form-group">
                <label class="info-label">Client secret:</label>
                <input type="text" class="form-control empty" name="label" ng-model="paypal.client_secret">
            </div>
        </div>
      </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="addPaymentMethod()">OK</button>
            <button class="btn btn-warning" type="button" data-dismiss="modal" ng-click="errors = {}">Cancel</button>
        </div>
    </div>
    </div>
  </div>
</div>

