<div class="main_container">
  <div class="page_header">
      <div class="full-width-con">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
         <h1>Reset Password</h1>
        </div>
      </div>
  </div>
<div class="page_login">
<form name="resetPasswordSendForm" ng-if="res_link_form">
    <div class="login_form">
            <div class="login_error" ng-if="errorMessage">{{errorMessage}}</div>
            <div class="success" ng-if="successMessage">{{successMessage}}</div>
            <div class="item">
              <span class="input_label">Email</span>
              <input type="email" class="form-control" name="email" ng-model="user.email"/>
              <span class="form_error" ng-show="resetPasswordSendForm.email.$error.email">Please input a valid email.</span>
            </div>

            <div class="overflow_hidden">
              <button ng-class="{'error': resetPasswordSendForm.email.$error.email || !user.email}" ng-click="getResetLink(user.email)" class="btn btn-primary">Send</button>
            </div>
          
    </div>
</form>

<form name="resetPasswordForm" ng-if="res_pass_form">
    <div class="login_form">
            <div class="login_error" ng-if="errorMessage">{{errorMessage}}</div>
            <div class="success" ng-if="successMessage">{{successMessage}}</div>

            <div class="item">
              <span class="input_label">Email</span>
              <input type="email" class="form-control" name="email" ng-model="user.email"/>
              <span class="form_error" ng-show="resetPasswordForm.email.$error.email">Please input a valid email.</span>
            </div>

            <div class="item">
                <div class="input_con">
                   <span class="input_label">Password</span>
                   <input type="password" id="password" name="password" class="form-control" ng-model="user.password" ng-minlength="6" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/"/>
                </div>
                <div class="form_error" ng-show="resetPasswordForm.password.$error.minlength" class="error">
                  Passwords must be between 6 and 20 characters.</div>
                <div class="form_error" ng-show="resetPasswordForm.password.$error.pattern" class="error">
                  Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</div>
            </div>

            <div class="item">
                <div class="input_con">
                   <span class="input_label">Confirm Password</span>
                   <input class="form-control" ng-model="user.confirm_password" type="password" id="password_c" name="password_c" valid-password-c="user.new_password"/>
                </div>
                <div class="form_error" ng-show="registerForm.password_c.$error.noMatch" class="error">Passwords do not match.</div>
                <div class="form_error" ng-show="user.password !== user.confirm_password && user.confirm_password">Password mismatch</div>
            </div>

            <div class="overflow_hidden">
              <button ng-class="{'error': resetPasswordForm.email.$error.email || !user.password || !user.confirm_password || user.password != user.confirm_password && user.confirm_password}" ng-click="ResetPassword(user)" class="btn btn-primary">Reset Password</button>
            </div>          
    </div>
</form>


</div>
</div>