<div class="modal-header">
    <h3 class="modal-title">{{ctrl.title}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <form name="planForm" ng-show="addPlan">
		<div class="form-group form-material">
		    <label class="control-label" for="title">Title</label>
		    <input type="text" ng-model="ctrl.plan.title" class="form-control" name="title" required>
		    <span ng-if="errors.title" class="errors">{{errors.title}}</span>
		</div>
		<div class="form-group form-material">
		    <label class="control-label" for="price">Price</label>
		    <input type="number" ng-model="ctrl.plan.price" class="form-control" name="price" required>
		    <span ng-if="errors.price" class="errors">{{errors.price}}</span>
		</div>
		<div class="form-group form-material">
		    <label class="control-label" for="description">Description</label>
		    <input type="text" ng-model="ctrl.plan.description" class="form-control" name="description" required>
		    <span ng-if="errors.description" class="errors">{{errors.description}}</span>
		</div>
		<div class="form-group form-material">
		    <label class="control-label" for="type">Type</label>
		    <select ng-model="ctrl.plan.plan_type">
		    	<option value="monthly">Monthly</option>
		    	<option value="yearly">Yearly</option>
		    </select>
		    <span ng-if="errors.type" class="errors">{{errors.type}}</span>
		</div>
		<div class="form-group form-material">
		    <label class="control-label" for="type">Header Color</label>
		    <input colorpicker type="text" name="color" ng-model="ctrl.plan.color">
		</div>
		<button class="btn btn-default" ng-click="addPlan = false">Add features</button>
	</form>

	<form ng-show="!addPlan">
		<button class="btn btn-default" ng-click="addPlan = true">Back</button>
		<div class="form-group form-material">
		    <label class="control-label" for="title">Title</label>
		    <input type="text" ng-model="feature.title" class="form-control" name="title">
		</div>
		<button class="btn btn-primary" ng-click="ctrl.saveFeature(feature)">Ok</button>

		<ul class="list-group list-group-dividered list-group-full">
			<li class="list-group-item" ng-repeat="feature in ctrl.features track by $index">
				{{feature.title}}
				<span class="float-right" ng-click="ctrl.removeFeature($index)"><i class="icon wb-trash"></i></span>
			</li>
		</ul>
	</form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ctrl.ok()" ng-disabled="!planForm.$valid">OK</button>
    <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">Cancel</button>
</div>