<div class="modal-header1">
    <h3 class="modal-title">Add card</h3>
</div>
<div class="modal-body" id="modal-body1">
    <form class="change-pass-form">
		<div class="form-group form-material">
		    <label class="control-label" for="number">Number</label>
		    <input type="number" ng-model="card.number" class="form-control" name="number" required>
		    <span ng-if="errors.number" class="errors">{{errors.number}}</span>
		</div>
		<div class="form-group form-material">
		    <label class="control-label" for="month">Month</label>
		    <input type="number" ng-model="card.month" class="form-control" name="month" required>
		    <span ng-if="errors.month" class="errors">{{errors.month}}</span>
		</div>
		<div class="form-group form-material">
		    <label class="control-label" for="year">Year</label>
		    <input type="number" ng-model="card.year" class="form-control" name="year" required>
		    <span ng-if="errors.year" class="errors">{{errors.year}}</span>
		</div>
		<div class="form-group form-material">
		    <label class="control-label" for="cvv">CVV</label>
		    <input type="number" ng-model="card.cvv" class="form-control" name="cvv" required>
		    <span ng-if="errors.cvv" class="errors">{{errors.cvv}}</span>
		</div>
	</form>

</div>
<div class="modal-footer1">
    <button class="btn btn-primary" type="button" ng-click="ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">Cancel</button>
</div>