<div class="modal-header">
    <h3 class="modal-title">Add field</h3>
</div>
<div class="modal-body" id="modal-body">
    <input type="text" name="name" ng-model="ctrl.field.title">
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">Cancel</button>
</div>