<div class="modal-header">
    <h3 class="modal-title">Add payment method</h3>
</div>
<div class="modal-body" id="modal-body">
	<p class="error" ng-if="ctrl.errors.stripe">{{ctrl.errors.stripe}}</p>
	<div class="form-group">
		<select ng-model="ctrl.paymentType" ng-click="$event.stopPropagation()" class="form-control w-100">
			<option value="stripe">Stripe</option>
			<option value="twocheckout">2Checkout</option>
			<option value="paypal">Paypal</option>
		</select>
	</div>
	<div ng-if="ctrl.paymentType == 'stripe'">
		<div class="form-group">
			<label class="info-label">API key:</label>
			<input type="text" class="form-control empty" name="label" ng-model="ctrl.stripe.key">
		</div>
	</div>
	<div ng-if="ctrl.paymentType == 'twocheckout'">
		<div class="form-group">
			<label class="info-label">Seller ID:</label>
			<input type="text" class="form-control empty" name="label" ng-model="ctrl.twocheckout.seller_id">
		</div>
		<div class="form-group">
			<label class="info-label">Publishable key:</label>
			<input type="text" class="form-control empty" name="label" ng-model="ctrl.twocheckout.publishable_key">
		</div>
		<div class="form-group">
			<label class="info-label">Private key:</label>
			<input type="text" class="form-control empty" name="label" ng-model="ctrl.twocheckout.private_key">
		</div>
	</div>
	<div ng-if="ctrl.paymentType == 'paypal'">
		<div class="form-group">
			<label class="info-label">Client ID:</label>
			<input type="text" class="form-control empty" name="label" ng-model="ctrl.paypal.client_id">
		</div>
		<div class="form-group">
			<label class="info-label">Client secret:</label>
			<input type="text" class="form-control empty" name="label" ng-model="ctrl.paypal.client_secret">
		</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">Cancel</button>
</div>